[2019-12-17 18:51] ax3l commented on #636
Hi Ksenia,

thank you for the report!
How did you install ADIOS1? Looks to me like it lacks the `-fPIC` flag. This is how you need to install ADIOS1 if you build it from source: [install example](https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/INSTALL.rst#adios)

[2019-12-17 18:57] KseniaBastrakova commented on #636
Thanks, Axel
yes, I have installed ADIOS1. at least everything worked with my previous version openPMD-api(d68e9fc2) maybe, I should reinstall ADIOS1 and it will be helpful?

[2019-12-17 20:47] ax3l commented on #636
Yes, if you installed ADIOS1 yourself make sure to add `-fPIC` to the configuration step as linked above:
[code]
Environment hints after install:
[code]

[2019-12-17 21:00] ax3l commented on #626
ping @PrometheusPi

[2019-12-17 21:29] ax3l commented on #636
Hi Ksenia,

I just released a `0.10.2-alpha` release #637 that also contains the fix from #635 to aide you.
You can just install the pre-compiled python wheel as usual via
[code]
that contains the ADIOS1 backend (and HDF5 and ADIOS2) compiled-in :)

[2019-12-17 22:47] LDAmorim commented on #631
Thank you!
The last test you suggested (plus the line `set(openPMD_USE_ADIOS2 OFF)`) worked on my machine.
I am now testing a similar CMakeList.txt for my own code.

[2019-12-17 22:51] PrometheusPi commented on #626
@ax3l I copied (hard link) all non-`_beta_` hdf5 files in a directory and still get the same error.

Code:
[code]

data structure/tree
[code]

error message:
[code]

[2019-12-17 22:53] PrometheusPi commented on #626
iteration 10000 alone throws the same error
iteration 0 too

[2019-12-17 23:32] LDAmorim commented on #631
The added lines to the `CMakeLists.txt` file are a successful workaround to build my code too. But when I run make, I find the output error message below:
[code]
I will try to see what is happening in the culprit file (I changed it's extension to copy it here):

[Iteration.txt](https://github.com/openPMD/openPMD-api/files/3975898/Iteration.txt)

Thanks!

[2019-12-18 05:03] PrometheusPi commented on #626
@ax3l you can download the `simData_0.h5` file from my `/bigdata/hplsim/scratch/.../`.

[2019-12-18 07:43] ax3l commented on #631
Interesting and quite unusual.

Can you change this `Iteration.cpp` to replace its `#include` lines with
[code]

please? Does that help? #640

[2019-12-18 07:54] ax3l commented on #626
So files at step 0 and 10000 seam to produce the error.
Can you update your comment with the path you want to download, please? :) Update: oh, you mean your user dir.

[2019-12-18 09:28] ax3l commented on #626
I addressed both the read problem with somewhat curiously formatted zero-particle entried in libSplash as well as the very verbose messages on startup in #641

[2019-12-18 09:39] ax3l commented on #203
Implementation started in #639

[2019-12-18 09:59] KseniaBastrakova commented on #636
Hi, Axel, new release helped me, now I installed openPMD-api successfuly, thank you.

[2019-12-18 10:05] ax3l commented on #636
Awesome, please do not hesitate to tell how this works for you with regards to the read issue you experienced earlier.

[2019-12-18 12:19] PrometheusPi commented on #626
@ax3l Yes I meant my user dir which contains my user name which I stated as `/.../`.

[2019-12-18 19:43] LDAmorim commented on #631
Thanks @ax3l ! The problem was caused by having a second old installation of openPMD-api in `/usr/local`. This was partly picked up before PR #640 was merged. Sorry for this.

[2019-12-18 21:11] #626 closed, assigned to ax3l

[2019-12-18 21:12] ax3l commented on #626
Merged #641 to `dev` to address the problems you experienced.
Please feel free to report if this works for you :)

[2019-12-18 21:14] ax3l commented on #631
No need to be sorry, thanks again for testing and reporting. With #640 merged we make this even more robust now :)

[2019-12-18 21:14] #636 closed, assigned to nobody

[2019-12-18 21:18] LDAmorim commented on #631
Thank you so much @ax3l !! 🎉 🌟 👏
The current `openPMD-api@develop` works well!

So now even the initial `CMakeList.txt`, where only the lines:
[code]
are included, can successfully compile the code with OpenPMD.

[2019-12-18 21:18] #631 closed, assigned to nobody

[2019-12-20 09:47] PrometheusPi commented on #626
@ax3l Is there a way to test this new version using conda?

[2019-12-22 11:55] ax3l commented on #626
Yes, I just released `0.10.3` which contains the PR and its [now available on conda-forge](https://github.com/conda-forge/openpmd-api-feedstock/pull/43), too.

(In order to test `dev` versions before they are released just build from source or use Spack.)

[2020-01-08 19:35] ax3l commented on #626
@PrometheusPi Were you able to read your files with the latest release?

[2020-01-09 12:43] pordyna opened #651 "Compile time warnings with 0.13.0-dev"
Compiling a project with `openPMD `results in a bunch of compile-warnings, mostly "statement is unreachable". I get those warnings when I compile a new [`PIConGPU`](https://github.com/ComputationalRadiationPhysics/picongpu) example added in this [PIConGPU PR. ](https://github.com/ComputationalRadiationPhysics/picongpu/pull/3134)

**Expected behavior**
These warnings are probably not relevant and s

[2020-01-09 15:18] PrometheusPi commented on #626
@ax3l Please excuse the late reply. **Yes**, your fix solved the issue for me.

[2020-01-09 17:16] ax3l commented on #651
Hi,

Thanks for the report!
Can you please try again with openPMD-api 0.13.0 (update: or even better the current `dev`) and see if you still get those warnings?

The only warning I am currently aware of is #648 with GCC+NVCC.

[2020-01-09 17:48] ax3l commented on #626
Nice, thanks for testing!

[2020-01-13 21:43] #577 closed, assigned to ax3l

[2020-01-15 01:59] ax3l commented on #138
Implemented with #458

[2020-01-15 01:59] #138 closed, assigned to nobody

[2020-01-15 02:00] ax3l commented on #32
Pretty widely implemented and usable these days.
Doc-strings still very welcome as PRs! :)

[2020-01-15 02:00] #32 closed, assigned to ax3l, CFGrote

[2020-01-15 02:03] ax3l commented on #141
Collectives: started to be documented with #583

[2020-01-15 02:09] ax3l commented on #50
`h5py` bool compatibility is part of CI now.
Complex is similarly planned via #639

[2020-01-15 02:10] #50 closed, assigned to anokfireball

[2020-01-15 03:26] ax3l commented on #470
Some first support for 1D contiguous containers: #204
ADIOS2 has an interface providing C++20 `std::span` and we could also think about [mdspan](https://github.com/kokkos/mdspan).

[2020-01-15 11:40] KseniaBastrakova opened #658 "The best way to resize record component?"
According to openPMD-api, to write record component, one needs to first create a record component structure and after assign values to the record component.

Python:
[code]

I am currently modifying my  [particle_reduction](https://github.com/ComputationalRadiationPhysics/particle_reduction) from directly using hdf5 to openPMD-api. I got the following problem: I process and write values of every p

[2020-01-15 18:32] ax3l commented on #658
Hi Ksenia,

for performance reasons, re-sizable data sets are not (yet) supported: #510 (But generally, ADIOS as well as HDF5 support resizable data sets.)
Indeed, if you can somehow estimate the upper size or count before writing the extend this would be the best solution. Are you potentially able to iterate the patches twice, once quickly accumulating the size meta data for extend and once for "

[2020-01-16 09:55] KseniaBastrakova commented on #658
Hi, Axel
yes, I can estimate the upper size before writing the extend. But is it possible to reduce zero-values fust? Because now, my problem is that I got a dataset with result values and zero-tail.

No, for performance reasons, it's impossible now.

[2020-01-16 13:26] pordyna commented on #651
Hi :)
I tried compiling with 0.13.0 and the current dev  today and I still get the warnings.
The new compile-log( api from the current `dev` ):  [compileLogOpenPmdWarnings-new-dev.log](https://github.com/openPMD/openPMD-api/files/4071380/compileLogOpenPmdWarnings-new-dev.log)

[2020-01-16 17:13] ax3l commented on #651
Thanks, there seam to be some unreachable code warnings left that did not pop up in other applications on include. Will update accordingly, thanks! :)

[2020-01-16 19:40] ax3l commented on #651
Okay, #659 should address these warnings.
Can you please update your openPMD-api `dev` branch, build and check if there are any warnings from it left when compiling with PIConGPU?

[2020-01-16 20:33] ax3l commented on #658
Yes, so I am currently not working on that feature due to it's known lack of performance (and we current tune the latter). But PRs for #510 are certainly welcome!

Can you point me to the exact source code lines you refer to? Maybe we find a suitable way to redesign your iterations.

[2020-01-17 09:23] sbastrakov commented on #658
@ax3l i believe the difficulty here is that for all the reduction algorithms we use, there is no way of knowing the resulting number of macroparticles before finishing the algorithm, so it's rather algorithmic feature and does not come from a particular implementation. So to me it looks like the sad way to go is to first create a dataset with upper bound size and write results there, and after eve

[2020-01-17 09:39] KseniaBastrakova commented on #658
Yes,  @sbastrakov  is right: half of the algorithms are random-based(and the exact number of particles may vary from run to run) and another half is cell-based, so we also can't estimate number of particles without complete algorithm.

I think it's a best solution here: create a dataset with bound size, and after finishing algorithm, create another one and copy. I will do so.

[2020-01-18 02:22] ax3l commented on #658
What HDF5 does for resizable extents is chunking. Similarly, ADIOS keeps your data as it is (in chunks as you provide them, maybe aggregates) and "shapes"/extents are just some voluntary meta information on top of it.

Sounds legit, sorry that I cannot provide this feature right now in the API (maybe you want to contribute this or have a student that can work on it?).

[2020-01-21 18:48] ax3l commented on #651
ping @pordyna: are there any warnings from openPMD-api left for you after the latest updates on `dev`?

[2020-01-23 09:07] pordyna commented on #651
Thanks @ax3l, for fixing it so quickly.  The warnings are gone now :smile: :rocket:

[2020-01-23 09:07] #651 closed, assigned to ax3l

[2020-01-23 17:44] ax3l commented on #651
Hooray, thank you for testing!
Will put out a new tagged version release soon that you can then rely on.

[2020-01-24 18:15] ax3l opened #666 "Particle Species: loadPositions"
The openPMD base standard describes the handling of `position` and `positionOffset` compositions for particle species.

https://github.com/openPMD/openPMD-standard/blob/1.1.0/STANDARD.md#records-for-each-particle-species

For reading, we should implement this as a convenient member function, to avoid performing this well-defined behavior via multiple `loadChunk()` calls and additions on the user s

[2020-01-24 19:09] #590 closed, assigned to nobody

[2020-01-28 00:50] ax3l commented on #534
`flush()` is painfully implemented, we have to urgently change its meaning.
The only thing `flush()` shall do is:
- copy or otherwise guarantee that the user can use their store/load buffers again
- `flush()` must be able to be called *anywhere* and *anytime* without causing issues besides a potential performance penalty; frontend bugs like #490 and things that block #484 are not user-friendly

Fo

[2020-01-29 01:27] ax3l commented on #545
Good news, the above mentioned functions do not check the dimensionality of meta-data, according to my test in #678... So maybe RZ works already (besides missing reconstruction helpers and docs) :-)

[2020-02-05 15:57] rfbird opened #683 "ADIOS2 File Creation"
Hey,

I swapped from ADIOS1 to ADIOS2 as my backend, and my writes started failing because the output dir (`my_filename.bp`) was not created before the contents were written. I assume this not expected behavior?

Where is the equivalent of
https://github.com/openPMD/openPMD-api/blob/03cd55a1c0e9c73b58a28ffa64e834227b8afb3f/src/IO/ADIOS/ADIOS1IOHandler.cpp#L100 for ADIOS2?

Axel said to spam issues

[2020-02-07 18:21] ax3l commented on #683
Thank you for the report!
I haven't experienced this in my tests yet, but it might be related to the fact that you wrote a particle series and some ranks might have not written particles. This is a valid use case that might not fully covered by our CI tests, so we have to dig into this. Can you confirm this or have slightly more info when it occured?

Generally, ADIOS2 does not need a meta-file an

[2020-02-08 03:35] rfbird commented on #683
It died trying to write to ` ./hydro_electron.bp/md.0`, because the dir was not present at the time it tried to write the file, and it was fixed if we manually create the folder for it and re ran the job

All ranks should write particles in this case. I guess it could be something screwy our end, but from a quick look at the code it seems like you expect OpenPMD to successfully create the bp dir

[2020-02-09 06:01] ax3l commented on #683
Thanks for the details. In openPMD-api, we actually just create all missing dirs recursively that are before the filename (e.g. ./some/path/well/oh/`). The `hydro_electron.bp/` dir is done on the ADIOS2 side.
Could be a non-collective call on our side when opening the file, or something upstream. We'll investigate.

Can you please provide the error message on which that writer died, too? The close

[2020-02-11 03:27] ax3l commented on #683
After further investigation, I got a similar error today.

This error only appears when you first wrote an ADIOS1 file, which creates a `my_filename.bp` for you.
I guess you then re-tested your app and switched to ADIOS2, which tries to create a `my_filename.bp/` directory.

Simple solution: clear the output directory from pre-existing `.bp` files.
This will avoid errors of the kind:
[code]

[2020-02-11 22:34] ax3l commented on #502
Implemented `.pc` file helpers in #532 #535 #580

[2020-02-11 22:34] #502 closed, assigned to ax3l

[2020-02-12 05:47] ax3l commented on #203
The implementation is mainly done, just waiting for a new ADIOS2 release to be tagged. We contributed support for complex types in attributes: https://github.com/ornladios/ADIOS2/issues/1908

[2020-02-18 07:52] ax3l opened #687 "Filesystem: Consider mpifileutils?"
We currently ship our own set of filesystem functions to create / handle dirs and files on the OS we support.

Much of it could be simplified with C++ filesystem support, which is still not production ready in tooling and broad support.

On top of that, for MPI-parallel operations such as an `mkdir -p` for a series, we do implement safe but potentially meta-data-server "heavy" operations. We could

[2020-02-19 12:38] franzpoeschel opened #688 "Backend- and dataset-specific configuration (e.g. compression)"
Related: [backend-specific configuration via JSON](https://github.com/openPMD/openPMD-api/pull/569) and [passing of advanced backend parameters](https://github.com/openPMD/openPMD-api/issues/150).

In issue #150, @C0nsultant proposes to implement backend-specific configuration in two places: for `openPMD::Series` and `openPMD::Dataset`. So far, PR #569 implements backend-specific configuration for

[2020-02-21 02:49] ax3l commented on #688
perfect, would do it the same way. (this is somewhat similar to unix config file logic, which I like.)

[2020-03-05 07:18] #571 closed, assigned to nobody

[2020-03-05 17:24] ax3l opened #691 "MPI Contract: More Details on Collectives"
Add more details in the manual on the MPI-parallel API.

From #671:
Add table to MPI contract docs that summarizes API call (iteration access, species access, mesh/particle record access, storeChunk, attribute write, flush) vs. backend (ADIOS1/2, HDF5, HDF5+Indep.IO) for collectiveness.

[2020-03-06 08:55] ax3l opened #694 "Series: Split Serial and MPI-Parallel"
We should provide separate includes for serial and MPI-parallel openPMD, e.g.
[code]
and
[code]

as well as two separate, non-compile-flag modified `Series` objects in those (potentially in two libs), e.g. constructed in a `make_Series( ... );` helper (and disallow all constructors, which also solves handler/copy problems).

This will enable workflows with downstream usage where a serial program w

[2020-03-16 18:28] ax3l opened #695 "HDF5 1.12.0+ Support"
HDF5 brings some breaking API changes and we do not compile yet.

- https://portal.hdfgroup.org/display/HDF5/Software+Changes+from+Release+to+Release+for+HDF5-1.12
- https://forum.hdfgroup.org/t/release-of-hdf5-1-12-0-newsletter-172-the-hdf-group/6761/6
- https://portal.hdfgroup.org/display/HDF5/H5O_GET_INFO
- https://github.com/spack/spack/issues/15502

[2020-03-18 02:43] #695 closed, assigned to ax3l

[2020-03-24 04:13] #691 closed, assigned to ax3l

[2020-03-30 15:54] franzpoeschel commented on #524
It seems this issue has been fixed with a [temporary workaround](https://github.com/openPMD/openPMD-api/blob/9256a9b91943881c30a4ea2d508f39e20d5c8f2d/src/IO/HDF5/HDF5IOHandler.cpp#L361)? Should we close this or leave open until implementation of a proper solution? @ax3l

[2020-03-31 00:11] ax3l commented on #524
Oh yes, @guj fixed another issue with multiple flush on the same file by implementing an open-file lookup table: #643

One of the reasons we need `Iteration::close()` - to close these handles as soon as we want to get rid of them.
(note that `Iteration::close()` should not be implicit in `~Iteration()`).

[2020-03-31 00:13] franzpoeschel commented on #524
That's great, this means the HDF5 backend is now working from within the openPMD plugin in PIConGPU :)

[2020-03-31 00:15] ax3l commented on #524
Yes, we needed the same feature in WarpX, which triggered the bug fix :)

[2020-03-31 00:16] ax3l commented on #524
Fixed with #643

[2020-03-31 00:16] #524 closed, assigned to guj

[2020-04-01 16:46] ax3l commented on #520
With #524 solved for HDF5, is this ADIOS1 issue still open/reproducible?

[2020-04-08 00:53] #150 closed, assigned to nobody

[2020-04-21 05:35] ax3l opened #726 "BP3 in ADIOS2: Reads Fail on Some Attributes"
**Describe the bug**
I seams there are problems reading a BP3 file from ADIOS1 with the ADIOS2 backend, with regards to reading the `/openPMD` base path string attribute: https://github.com/ComputationalRadiationPhysics/picongpu/issues/3223#issuecomment-612605933

**To Reproduce**

Create BP3 files with
[code]

and then try to read generated files with ADIOS2:

[code]
So far so good, but `/data/20

[2020-04-21 05:55] ax3l commented on #726
@franzpoeschel there might be two bugs here: identifying some BP3 C-string attributes in our ADIOS2 backend (maybe they are returned as array of char?) and writing the `gridUnitSI` attribute default in the ADIOS1 backend.

Furthermore, the ADIOS2 backend warning for not adding options via JSON seams too verbose to me, passing no options/defaults is fine and done in all our examples.

The ADIOS1 wr

[2020-04-21 20:28] guj commented on #726
@ax3l does ADIOS1's  bpls show that attribute?

[2020-04-22 00:01] ax3l commented on #726
Oh yes, excellent question! It surprisingly does show it in ADIOS 1.13.1's `bpls` on files in `samples/thetaMode_*.bp`.

[code]

Will open that part as upstream ADIOS2 issue: https://github.com/ornladios/ADIOS2/issues/2152

[2020-04-22 04:16] guj commented on #726
@axel, so to double check, a bp1 file is created by openPMD, and adios1/bpls shows all attributes,
and adios2/bpls missed one?

will you put the file on Cori's scratch and give us permission so we can all try it out?

Thanks,

[2020-04-22 04:53] ax3l commented on #726
Absolutely, File uploaded here: https://github.com/ornladios/ADIOS2/issues/2152

[2020-04-22 12:46] franzpoeschel commented on #726
From a user's side, it only makes sense to print that warning if the user actually passed a configuration. Since in the implementation we don't distinguish that case and instead just set `config = "{}"` as a default argument, it's probably better to just get rid of that, yes. It's effectively a debugging statement that survived into production.

[2020-04-22 16:52] guj commented on #726
@ax3l @franzpoeschel
Norbert fixed it. I checked on my Mac and it works.
So Please update ADIOS2.

[2020-04-24 17:56] ax3l commented on #726
Thank you all, that was super quick! I just tried with the latest ADIOS2 master after https://github.com/ornladios/ADIOS2/pull/2153 was merged and can confirm this fixes it :)

[2020-04-24 22:15] franzpoeschel commented on #520
I tested it out, the above example finishes cleanly and the workaround in PIConGPU's openPMD plugin is apparently not necessary any longer either. Looks good.

[2020-04-25 23:34] ax3l commented on #520
Nice, thanks to @guj for helping tremendously with the fixes!

[2020-04-25 23:34] #520 closed, assigned to nobody

[2020-05-05 02:30] ax3l opened #729 "Rename Particle Species"
**Is your feature request related to a problem? If so, please describe.**
In https://github.com/openPMD/openPMD-standard/pull/183#discussion_r409111243, @DavidSagan proposed to rename in the base standard the term "Particle Species".

**Describe the solution you'd like**
Proposed: Particle Group

**Describe alternatives you've considered**
I tried reformatting the base standard and found it reads

[2020-05-05 02:42] DavidSagan commented on #729
@ax3l How about "set of particles" ?

[2020-05-05 03:00] ax3l opened #730 "Relax ID type"
**Is your feature request related to a problem? If so, please describe.**
Relax the particle `id` type to any integer or any type.

@DavidSagan and @ChristopherMayes use any `int` type in the `BeamPhysics` extension for particle `id`s: https://github.com/openPMD/openPMD-standard/pull/183

**Describe the solution you'd like**
Relax to `intX` or even any type to be fully compatible with the base sta

[2020-05-05 03:02] ax3l commented on #729
Sounds also good, but `set` could imply uniqueness.

[2020-05-20 06:36] #195 closed, assigned to ax3l

[2020-05-20 16:57] lucafedeli88 opened #741 "Reading an incomplete Series fails"
**Describe the bug**
I am using WarpX ( https://github.com/ECP-WarpX/WarpX , b4067afbd5f487683d6c0f1e5c8ac835d3373fb6) with openPMD output format (ADIOS2 backend). When I try to read a `Series` from a simulation which is still running or a `Series` from an output folder generated by a crashed simulation, reading fails with this error message:
[code]
Data can be read only if the last timestep is de

[2020-05-20 18:17] ax3l commented on #741
Thank you for documenting this @lucafedeli88 !

cc @franzpoeschel As discussed elsewhere in the past, we want to address this generally by introducing an `Iteration::close()` method to release handles as early as possible. Most workflows will know a definite point in time in which a write will not contribute to an iteration anymore. Do you want to take the lead on that one since it is a cut-topic

[2020-05-21 12:08] franzpoeschel commented on #741
I already have this functionality on my streaming branch, will separate this into a PR next week @ax3l

[2020-05-21 16:13] ax3l opened #742 "Example: READ_WRITE with Pipelining"
Write an example that tests if a
- known maximum size but
- written with open/close of a series in between

into the same variable works (of if we have to keep the handles open).

This is a special (easier) case of #658, such as writing slices of fields in a pipelining sweep or boosted frame - lab frame back-transformation.

[2020-05-27 20:08] #471 closed, assigned to ax3l

[2020-05-28 11:58] franzpoeschel opened #748 "Reading empty datasets not written via constant record components"
The openPMD API uses constant record components to represent empty datasets in a way that is compatible across backends. The openPMD standard does not mandate this, so there might be valid openPMD datasets not written through the openPMD API that represent empty datasets through a regular dataset.

**Is your feature request related to a problem? If so, please describe.**
This exact issue came up i

[2020-06-02 17:33] franzpoeschel commented on #563
Alternatively, we already have a backport of `std::variant` in the openPMD API which can be used to quickly implement an `optional` type.
Since I needed this on my streaming branch, I did just that in [a recent commit](https://github.com/franzpoeschel/openPMD-api/commit/74f37a8bbd8a6922955f0fc793bbc7ee80365e30).

[2020-06-05 17:54] ax3l opened #750 "Patches Load: Exception Handling"
**Describe the bug**
Loading a non-existent particle patch should not segfault but throw (in Python).

Generally, try to derive and document a high-level workflow to deal with particle patches for scripts and frameworks such as ParaView.

**To Reproduce**
https://github.com/ComputationalRadiationPhysics/particle_reduction/issues/8

**Expected behavior**
Throw an exception and add simple probing fu

[2020-06-05 18:11] ax3l commented on #625
Announcement: since most user-level distributions already dropped Python 3.5 and it will not receive any updates after September 2019, we anticipate to drop Python 3.5 support in upcoming releases.

This approach is on par with other major projects such as Numpy dropping Python 3.5 in upcoming releases (1.19.0+). We continue to support Python 3.6-3.8 and anticipate addition of Python 3.9 after its

[2020-06-05 18:22] williamfgc commented on #625
I see a label for Julia, are you guys invested on it? I'm currently evaluating its use and seems very promising now that it's been stable for a year.

[2020-06-06 08:30] ax3l commented on #625
Unfortunately not, I know exactly one person in our community that does Julia @berceanu

[2020-06-08 03:35] bussmann commented on #625
Hi William, yes, Julia support would be lovely. As ax3l pointed out, community-wise the interest is unfortunately limited, so the manpower is as well. Julia is IMHO quite o.k., but the parallelism does not come out of the box as promised (it never did). Why would you got for Julia? What would be the features you are missing with Python?

[2020-06-08 11:59] williamfgc commented on #625
@ax3l @bussmann thanks for chiming in. Python is great, nothing is missing with the added ecosystem (numpy, scipy, matplotlib, etc.), still dependency versions must be tracked when packaging with conda, pip, etc.. We are mostly exploring Julia for the long run (still young in 2020, I just hit a wall myself with [IDE support](https://github.com/JuliaComputing/JuliaDT/issues/38)) as it presents inte

[2020-06-09 05:17] ax3l commented on #741
Link: #746 :)

[2020-07-10 15:02] PrometheusPi opened #761 "No verbose output whether openPMD-api was found or not via CMake"
When including openPMD-api in a project compiled using CMake, the fact whether openPMD-api was found or not during linking/compiling is not communicated verbosely.

This could be solved by the host code adding CMake messages manually as done in [this pull request](https://github.com/ComputationalRadiationPhysics/picongpu/pull/3281), but it would be more convenient if openPMD-api could provide such

[2020-07-25 02:03] ax3l commented on #761
We use ADIOS1 in PIConGPU with a self-written, old find-module that does such verbose output.

With modern CMake packages and especially the config-module that is being used, It is indeed the right thing to add the extra output depending on the `openPMD_FOUND` variable as you did these days.

[2020-08-04 10:34] PrometheusPi commented on #761
@ax3l Thanks for your feedback. With the information that the user need to implement the output, the issue can be closed, do you agree?

[2020-08-04 16:38] ax3l commented on #761
Thanks, yes I agree. Thank you for raising the question!

[2020-08-07 10:35] #761 closed, assigned to ax3l

[2020-08-17 09:37] franzpoeschel opened #765 "Copy assignment operator of Attributable does not copy all necessary values"
[Copy assignment operator definition](https://github.com/openPMD/openPMD-api/blob/66472782e121d2d233dc8733183003668b91150e/src/backend/Attributable.cpp#L50):
[code]
But the class also has the [following members](https://github.com/openPMD/openPMD-api/blob/66472782e121d2d233dc8733183003668b91150e/include/openPMD/backend/Attributable.hpp#L191):
[code]
This means that all code accessing these members

[2020-09-01 08:59] cbontoiu commented on #726
Hello,

I used ```ADIOS1``` for some while in Python with ```conda``` and today installed ```adios2``` and upgraded the ```openpmd-api``` but the same syntax does not work.  I tried
[code]
before opening the data series as:
[code]
 but obtained the error:
[code]

[2020-09-03 00:39] ax3l commented on #765
Thanks for the great documentation. I can reproduce this.

It's interesting that the attributable does not get the other attributes, since the `Attributable tmp(a);` copies over the other members:
https://github.com/openPMD/openPMD-api/blob/66472782e121d2d233dc8733183003668b91150e/src/backend/Attributable.cpp#L40-L48

But as you wrote, the problem is in `operator=`.

[2020-09-03 14:45] #203 closed, assigned to nobody

[2020-09-03 17:35] ax3l commented on #203
Standardization agreed upon and documented here: https://github.com/openPMD/openPMD-standard/issues/29#issuecomment-685903555

#639 adds the implementation in the API and will be shipped with the next release, openPMD-api 0.12.0.

[2020-09-05 07:30] ax3l commented on #765
Observation: if you `flush()` before the close no error occurs:
[code]

[2020-09-05 08:41] ax3l commented on #765
Ok, the problem is that the "convenience" members `bool& dirty/written` cannot be re-assigned to a new alias during an `operator=` overwrite. Will transform to pointers or remove them altogether so one goes through the `m_writable` member instead: #769

Alternatively, one could `= delete;` the assignment `operator=` of `Attributable` and `Iteration` altogether. Not sure why we even allow this :gri

[2020-09-06 17:48] #765 closed, assigned to ax3l

[2020-09-08 01:51] ax3l opened #770 "getCopyright/getLicense"
Add an `openPMD::getCopyright()`/`getLicense()` method.
Such a method can be queried by downstream users to automatically build attribution lists in complex environments, e.g. GUIs.

[2020-09-14 13:18] franzpoeschel commented on #726
Hello,
this does not have to do with BP3 vs. BP4, but with the fact that the native ADIOS plugin in PIConGPU writes its dumps in a slightly different format than the openPMD API would understand:
[code]
Due to the double slashes, the openPMD does not find these attributes.
Since the ADIOS plugin in PIConGPU is soon-to-be deprecated and the openPMD plugin has at least been merged on the `dev` branc

[2020-09-16 18:26] ax3l opened #778 "Close for Record and RecordComponent"
In AMR codes such as WarpX, we have the challenge that the number of `storeChunk` calls is a runtime parameter for the number of blocks of an MPI rank. This means that we cannot express those calls as collective calls.

Nevertheless, something that we can enforce (as an API contract) is that the order of variable writing (and reading) in parallel I/O needs to be in-order. By that way, we can creat

[2020-09-18 22:06] ax3l opened #780 "RecordComponent: full-ellipsis data[...]"
The syntax `data[...]` for a numpy array works as an alias for `data[()]`.
I thought I read in the python documentation that at least one axis needs to be specified with python ellipsis syntax, i.e. `data[42, ...]` which we support as well as `data[:, ...]`, but might have misread that.

Long story short: we should add support for `data[...]` in `Record_Component` because it works in `numpy`.

Wor

[2020-09-19 08:23] ax3l opened #782 "More Transform/Compression Examples"
We need a bit more transform/compression examples in both the manual and example codes.

I also realized that we can set `Dataset::setCustomTransform` which is only handled in ADIOS1 right now.
And the `Dataset::setCompression` options handled in ADIOS2 are a bit too simple (name + level) for the complex blosc and zfp parameters.

For defaults, the ADIOS2 implementation for compression/operators i

[2020-09-22 20:15] ax3l commented on #782
Missing manual example:

### ZFP Compression

With

[code]

As of 0.12.0, this only works with ADIOS2 (2.6.0) right now and is applied to all data sets.
This is  the same precision (fixed-precision mode with three uncompressed bits per scalar) as in [A. Huebl et al., ISC'17](https://arxiv.org/abs/1706.00522).

Note: As of ADIOS 2.6.0, an upstream bug prevents us from using aggregation together wit

[2020-09-23 01:44] ax3l opened #784 "ADIOS2: closed attribute read warning"
**Describe the bug**
Reading back ADIOS2 data, I see warnings of the type:
[code]

in my logs.

**To Reproduce**

Read-back of an ADIOS2 BP4 file that closed iterations with `::close()` during write.

**Expected behavior**

Maybe we can use an attribute type that we can re-identify easily (`int`) or fix read-back of our self-made `bool` types in ADIOS2?

**Software Environment**
 - version of open

[2020-09-29 23:59] ax3l opened #787 "ICC 19.1.4: Visibility warning in IOTask"
ICC 19.1.4 on openPMD-api 0.12.0:
[code]

[2020-09-30 05:28] ax3l commented on #625
With our main downstream consumers now upgraded to C++14 code bases, we'll soon migrate to C++14, too. This will simplify the maintenance of the library and we can stop testing some ancient compilers that only came with now deprecated operating systems.

Many compilers already switched to [build with C++14 by default](https://gist.github.com/ax3l/53db9fa8a4f4c21ecc5c4100c0d93c94) and some already

[2020-10-01 02:51] #787 closed, assigned to ax3l

[2020-10-01 15:53] PrometheusPi opened #792 "cmake build creates only lib64 not lib"
**Description of the documentation bug**
If installing openPMD-api as described in the docs, a `lib64` directory is created not a `lib` directory as stated in the [documentation line 180](https://github.com/openPMD/openPMD-api/blob/dev/docs/source/install/install.rst#L180).

**How to reproduce it**
When installing openPMD-api via:
[code]
The path `$HOME/lib/openPMD-api/lib` is not created but only

[2020-10-02 07:11] ax3l commented on #792
Hi Richard, thank you for opening and documenting this.

A bit inconsistently in the Unix/Linux world, either lib or lib64 can be the right library path, depending if the distribution supports 32bit and 64bit libraries alongside each other:
- https://cmake.org/cmake/help/v3.18/module/GNUInstallDirs.html
- https://unix.stackexchange.com/questions/74646/difference-between-lib-lib32-lib64-libx32-and-

[2020-10-02 07:54] PrometheusPi commented on #792
@ax3l I agree, a brief comment that of x86x64 systems, `lib64` should be used instead of `lib` would be enough in the documentation. I will provide a fix.

[2020-10-04 02:35] ax3l commented on #792
Thank you again. Fixed via #793

[2020-10-04 02:35] #792 closed, assigned to ax3l

[2020-10-08 15:10] ghost opened #794 "First Write Example - series.set_machine("str") is not working"
**Describe the bug**
When following the **First Write** example on openPMD (https://openpmd-api.readthedocs.io/en/0.12.0-alpha/usage/firstwrite.html ) via python / Jupyter
series.set_machine throws error (auto fill can't see the option)

**To Reproduce**
Compile-able/executable code example to reproduce the problem:

Python:
[code]

**Expected behavior**

AttributeError: 'openpmd_api.openpmd_api_c

[2020-10-08 15:40] PrometheusPi commented on #794
I could reproduce this locally using `0.12.0-alpha` and `0.8.0-alpha`.

`series.set_machine()` appears to not exist.

[2020-10-13 18:35] ax3l commented on #794
Thanks for the report and proposed PR to expose this functionality in Python #796.
This indeed slipped, let's add this.

The temporary work-around for this is:
[code]

[2020-10-14 08:38] ax3l commented on #726
Urgh, maybe let us rather fix this in the PIConGPU ADIOS1 plugin? @franzpoeschel @PrometheusPi
This should be mainly in `include/picongpu/plugins/adios/WriteMeta.hpp`.

You can try to work-around this in openPMD-api as well, but the PIConGPU API write calls here are clearly off.

@franzpoeschel Do we actually handle this ourselves in openPMD-api for the ADIOS1 backend or does ADIOS1 handle this fo

[2020-10-14 09:07] ax3l commented on #563
Sounds good, feel free to expose it as a separate header object in a PR already.

[2020-10-14 16:11] PrometheusPi opened #798 "python interface set_software(arg1, arg2) breaks readability"
**Brief description**
Following the `firstwrite.py`and `firstread.py`introduction, one could also use the `set_software` method to specify the software used and since recently define the software version as second argument. Specifying the second argument however breaks the readability of the openPMD files (at least with ADIOS2).

**To Reproduce**

[code]

leads to the following error:
[code]

The

[2020-10-19 11:37] franzpoeschel commented on #726
Has this been fixed already? Current dev branch of PIConGPU writes these attributes just fine and the openPMD API succeeds in opening the files.

[2020-10-19 11:46] franzpoeschel commented on #784
Ah, I already fixed that same issue a while ago on my streaming branch, I can cherry-pick the commit quickly.

[2020-10-21 08:19] #784 closed, assigned to franzpoeschel

[2020-10-26 22:42] cbontoiu opened #805 "Spack Install: No Fortran Compiler Found (ADIOS2)"
Hello,

I am using ```picongpu``` in ```Spack``` and I want to install the ```openpmd-api``` in ```Spack``` as well.
The command ```spack install openpmd-api %gcc@7.5.0``` led to the following output/problem during install

[code]
It seems that I need to use a ```Fortran``` compiler different than ```gfortran``` but I don't know how to do it. What would you recommend?

**System environment**
 - op

[2020-10-29 03:42] #563 closed, assigned to ax3l

[2020-10-29 21:26] ax3l commented on #805
Hi @cbontoiu,

thank you for the report!
Yes, it looks like there is no Fortran compiler set in your Spack compiler configuration.

## Spack Compiler Config

If you have a `gfortran` installed via your package manager, you can try to auto-detect it alongside your `gcc`/`g++` with `spack compiler find`.
Then please check the `compilers.yaml` configuration file contains the entry via `spack config e

[2020-10-29 22:32] ChristopherMayes opened #808 "RecordComponent.shape should return a tuple"
**Describe the bug**
From the `examples/2_read_serial.py`, `E_x.shape` is returned as a list.
The equivalent `np.array` API returns a tuple here.

**To Reproduce**
Run the `examples/2_read_serial.py` example

Python:
[code]

[2020-10-30 17:34] ax3l commented on #798
Hi @PrometheusPi,

thank you for the report! Ouch, this is covered on the write end in `test/python/unittest/API/APITest.py`, but we do calls to both deprecated and new APIs and this masks the bug.

[2020-10-30 17:44] ax3l commented on #798
@franzpoeschel I think this might be related to the delayed attributes challenge we have with ADIOS2. We set the "software"-attribute default in `Series::initDefaults()`.

Potentially logic like this would be best written on `Iteration::close()` (for file-based) or `Series::close()` (for group- and variable-based) iteration encoding, I think.

[2020-10-30 17:50] ax3l commented on #798
I am able to fail the unit test even with JSON, so this is more of a internal logic issue per se (or we delay all backends' attribute writes as a work-around):
[code]
[code]

Update: I checked the created file `unittest_py_API.json` and the attribute is properly written. Must be a read issue then.

[2020-10-30 18:09] ax3l commented on #798
I could not 100% reproduce your example @PrometheusPi, but fixed a related bug with #812 that popped up when extending the read API unit test (see above).

Does this solve your problem as well?

[2020-10-30 18:12] ax3l commented on #798
I think in your example might be another issue, namely that there is an iteration created without ever writing data to it (should also be addressed).

This should with #812 be readable, though:
[code]

[2020-10-30 18:27] ax3l commented on #798
Hm, cannot see an issue with the empty iteration. Maybe #812 is all you need?

[code]
passes.

[2020-10-30 18:28] ax3l commented on #794
fixed with #796

[2020-10-30 18:28] #794 closed, assigned to ax3l, PrometheusPi

[2020-11-01 07:22] #798 closed, assigned to ax3l

[2020-11-02 09:59] PrometheusPi commented on #798
@ax3l I will have a look at the fixes.

[2020-11-03 01:00] ax3l commented on #726
I cannot say, don't see a change here: https://github.com/ComputationalRadiationPhysics/picongpu/tree/dev/include/picongpu/plugins/adios

[2020-11-03 01:01] ax3l commented on #726
@franzpoeschel don't forget to disable BP3 writes through openPMD-api in PIConGPU, please.

[2020-11-03 01:05] ax3l commented on #726
@cbontoiu what is the PIConGPU `.cfg` script you used to write the file?

What is the openPMD-api version & adios1 & 2 version in the conda environment you use for post-processing?

[code]

In your post above, `ADIOS1` was commented out (but it should be the one that is active).

[2020-11-03 17:48] cbontoiu commented on #726
@ax3l Since that time I changed my configuration and I cannot remember. I will try to reproduce the error with the new setup and let you know. Thank you.

[2020-12-03 11:05] franzpoeschel opened #833 "Python garbage collection: store_chunk does not keep data alive"
Garbage collection in the Python API will not keep alive datasets inserted into `Record_Component.store_chunk()`.

**To Reproduce**
[code]
Results:
[code]
Garbage collection bugs being as unpredictable as they are, this bug may not be always triggered. For me, switching out the two function calls resulted in a usable dataset.

**Expected behavior**
Garbage collection should not claim a chunk as lo

[2020-12-11 05:34] gid57 opened #845 "reoo"
**Performed steps**
The following steps

[code]

led to the following output/problem during install

[code]

You can also add images such as screenshots :-)

**System environment**
 - operating system: [name and version]
 - machine: [Are you running on a public cluster? It's likely we compute on it as well!]
 - name and version of Python implementation: [e.g. `python3 --version`]

**Additional con

[2020-12-11 05:35] gid57 opened #846 "big"
**Performed steps**
The following steps

[code]

led to the following output/problem during install

[code]

You can also add images such as screenshots :-)

**System environment**
 - operating system: [name and version]
 - machine: [Are you running on a public cluster? It's likely we compute on it as well!]
 - name and version of Python implementation: [e.g. `python3 --version`]

**Additional con

[2020-12-11 05:35] #846 closed

[2020-12-14 17:23] #845 closed

[2020-12-16 07:37] #688 closed, assigned to nobody

[2020-12-21 20:51] guj opened #856 "Read from one (out of many) ranks."
**Describe the bug**
Unable to open a  file-based series in an MPI program, then read from one of the rank. E.g . rank 0.

**To Reproduce**
Compile-able/executable code example to reproduce the problem:

[code]

**Expected behavior**
when running with 1 rank,  read is successful.
when running with 2 ranks,  hangs.
Reason:
when  Series is opened for reading , Series.cpp's readFileBased() is called

[2020-12-22 12:05] franzpoeschel commented on #856
Some background:
 In ADIOS, opening a new engine (i.e. file) is a collective operation. This explains why the first access to an iteration in file-based iteration layout is collective, too. This is true for readers as well as for writers (a similarly structured writer as in Junmin's example would fail for writers, too).

Now, such a pattern **for reading** actually used to work until we merged htt

[2020-12-22 18:34] ax3l commented on #856
Discussed offline: Implementing an `Iteration::open()` (collective) can solve this use-case, only affects file-based encoding.

[2020-12-31 08:29] ax3l opened #863 "openpmd-ls: add data size?"
@SeverinDiederichs mentioned that it might be useful to also give an estimate of data size in an openPMD series.

A potential way to provide this could be through the `openPMD::listSeries`/`openPMD_api.list_series` functions, adding the size in brackets.

Way to go:
- iterate `shape` and data type
- skip `constant` record components
- print behind listed records in `[SIZE MB/GB/TB]`

[2021-01-03 22:36] #856 closed, assigned to nobody

[2021-01-04 01:18] ax3l opened #867 "source ID changes in parallel I/O test"
**Describe the bug**

On conda-forge, I see the following assert in ParallelIOTests:
[code]

**To Reproduce**
This occurs on macOS with OpenMPI. MPICH is unaffected.

Just running the tests as usual with `ctest`.

See: https://github.com/conda-forge/openpmd-api-feedstock/pull/59

**Expected behavior**
Should not fail or not check an attribute that is runtime dependent.

**Software Environment**
 -

[2021-01-04 09:55] franzpoeschel commented on #867
Can you check whether #871 fixes this? @ax3l

[2021-01-04 18:40] #867 closed, assigned to franzpoeschel

[2021-01-07 19:42] ax3l opened #887 "UnitDimension: epsilon comparison"
Implement an `operator==` (and Python equivalent) that compares `UnitDimension` with proper epsilon handling for readers.

[2021-01-07 19:51] franzpoeschel opened #888 "Reference for the Python API"
We do not yet have a central reference for the Python API yet.

[2021-01-22 19:01] psychocoderHPC opened #907 "Reading `particlePatches["numParticles"]` fails"
**Describe the bug**
I am testing https://github.com/openPMD/openPMD-api/tree/9e201df4e20f3cf41b75df55a19ae9a33f57cdae together with PIConGPU und realized an error when loading an old checkpoint.
After investing some hours in debugging the issue I tested the release `0.12.0-alpha` and all works fine.

The error is:
[code]

**To Reproduce**
You can use this dataset [checkpoint_blosc_000100.bp.zip](

[2021-01-22 19:19] psychocoderHPC commented on #907
In PIConGPU we implemented that we can support openpmd-api `0.12.0-alpha` and `0.13.x` in this [PR](https://github.com/ComputationalRadiationPhysics/picongpu/pull/3485/)
On some places like https://github.com/ComputationalRadiationPhysics/picongpu/blob/b17941d2b90afb83b17284cae1b70e62d33e088e/include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp#L109 we have not applied our macro `WRITE_ITERATI

[2021-01-22 19:20] psychocoderHPC commented on #907
update: I tested now the last stable release `0.13.1` and have the reading error from the dev branch too.

[2021-01-25 11:33] franzpoeschel commented on #907
Fixed with #909, thanks for reporting!

Also, `WRITE_ITERATIONS` is a macro defined in PIConGPU, not in openPMD. We use it to support writing iterations in 0.12.* as well as in 0.13.* streaming mode. It has nothing to do with this issue.

[2021-01-26 17:13] #907 closed, assigned to franzpoeschel

[2021-01-26 19:46] ax3l commented on #833
Good call and analysis.

Besides getting #484 the default to protect users, we should document this maybe as a counter-example.

After inquiring with pybind11 and Twitter about this (thanks @skuschel & @RemiLehe): One could check [sys.getrefcount](https://groverlab.org/hnbfpr/2017-06-22-fun-with-sys-getrefcount.html) ([ref](https://docs.python.org/3.8/library/sys.html#sys.getrefcount) / [PyObject

[2021-01-29 20:42] #833 closed, assigned to nobody

[2021-02-03 22:54] ax3l opened #920 "ADIOS2: New Layout in openPMD 2"
This is a meta-issue to document new layout options in ADIOS2.

Related to https://github.com/openPMD/openPMD-standard/issues/221

- [x] mutable attributes: Use ADIOS variables for openPMD attributes #813
- [ ] `OPENPMD_NEW_ATTRIBUTE_LAYOUT`: generalize control variable to "openPMD2_adios2_schema" ("new_layout")?
- [ ] store the YYYYMMDD as attribute of the new layout so we can identify it if we n

[2021-02-04 02:16] ax3l opened #921 "ADIOS2 Bool: Dataset Support"
**Describe the bug**
It looks like `bool` types are currently only supported for attributes with our ADIOS2 backend.
Adding support for types with the same convention should be added, too.

**To Reproduce**

[code]

[code]

**Expected behavior**
Let's apply the same convention as for attributes.

In order to avoid naming collisions, I would propose keep using `__is_boolean__/` as prefix for the id

[2021-02-04 23:14] ax3l commented on #921
Cross-linking: RFE in ADIOS2 for a distinct boolean type: https://github.com/ornladios/ADIOS2/issues/2606

[2021-03-01 10:24] steindev opened #937 "[Discussion] Auxiliary backend for statistics?"
Hei, in PIConGPU we encountered an issue with ADIOS2 ComputationalRadiationPhysics/picongpu#3506 which may find a  generally applicable solution within openPMD-api.
ADIOS2 uses `std::vector` as buffers, and continuously resizes the buffer from a configured initial size as long as data is written into it.
This leads to the unfortunate fact, that only half of a compute node's memory can be used for

[2021-03-01 11:29] psychocoderHPC commented on #937
I am not sure if this helps a lot. It could be useful for debugging but requires deep knowledge about the openPMD backend used e.g. ADIOS2.
We know that ADIOS is using this internal buffer but each backend can be implemented differently, flush in between, resize the buffer without there requirement of additional memory, ... ADIOS is also using temporary buffer space for operations e.g compression.

[2021-03-05 11:02] franzpoeschel opened #939 "Segfault when reading libSplash file"
**Describe the bug, To Reproduce**
Steps:
* Use the HDF5 plugin in PIConGPU to write data (that plugin is now removed, last commit containing it is 9180c81ba). Field data is sufficient to demonstrate.
* Use Pip to download the current openpmd_api
* Run `openpmd-ls dump%T.h5` or similar
* Observe a segfault

**Expected behavior**
Should not segfault. A self-built instance of the openPMD API reads t

[2021-03-09 19:03] ax3l commented on #937
We discussed this last week with the ADIOS team since we encounter this already for a bit (https://github.com/ornladios/ADIOS2/issues/1814) and had a quite verbose solution in ADIOS1; @franzpoeschel will post the minutes here.

[2021-03-10 11:01] franzpoeschel commented on #939
Right, zipping is.
[dump_750.zip](https://github.com/openPMD/openPMD-api/files/6115268/dump_750.zip)

[2021-03-10 11:14] franzpoeschel commented on #939
Note to self: PIConGPU parameters for reproducing: `-d 1 1 1 -g 28 28 28 --hdf5.period 50  --hdf5.file dump --hdf5.source fields_all`.

[2021-03-10 15:52] franzpoeschel commented on #937
Summing up what was discussed in VCs so far:
* The workflow suggested here would be a huge overhead in development, maintenance, usage difficulty and runtime cost for what would still essentially be a workaround.
* Any proper solution will require code changes in ADIOS, openPMD and PIConGPU, so this will stay a relevant topic for at least a while.
* The current (non-)solution is to set the ADIOS2

[2021-03-12 09:16] steindev commented on #937
As it seems, the solution for our original problem will be found within ADIOS2.
And as there is a working work-around, I will close this issue.

Thanks to @franzpoeschel and @ax3l for picking up the issue!

[2021-03-12 09:16] #937 closed, assigned to nobody

[2021-03-22 15:47] franzpoeschel opened #948 "empty_alternate_fbpic.h5 example unusable beyond basic testing"
**Describe the bug**
The file `samples/issue_sample/empty_alternate_fbpic.h5`, as downloaded by our `share/openPMD/download_samples.sh` script, has the attribute `/iterationEncoding` set as `"fileBased"`.
The current test accessing this file does nothing further than merely opening it (i.e. not anything requiring any actual later file accesses). I've extended the test by two simple lines, loading

[2021-03-23 17:33] ax3l commented on #948
Ups - yes, that's definitely a `fileBased` file but I rename it weirdly: https://github.com/openPMD/openPMD-api/blob/fa714a9432984ccf9299d417d2155edd19d21994/share/openPMD/download_samples.sh#L27

[2021-03-24 17:20] #948 closed, assigned to ax3l

[2021-04-06 06:43] ax3l opened #957 "loadChunk: zero extent"
**Describe the bug**
Seen with #952: it should be allowed to load a zero-size extent.

[code]

This should produce an empty shared_ptr / zero-sized array (note that for numpy, only the `0:0` selected axes are set to zero-extent in the returned array).

**To Reproduce**

... having a hard time to write a reproducer outside of the location linked above..
https://github.com/ax3l/openPMD-api/tree/topi

[2021-04-08 03:29] ax3l opened #961 "Early Query: availableChunks & HDF5"
**Describe the bug**
It seems that querying `availableChunks` early in a HDF5 file during read causes an issue with opening logic.

**To Reproduce**

[code]

[code]

https://github.com/openPMD/openPMD-api/blob/6fd39365ff4bf6e350faec66a5ebac2f3804e8dd/src/IO/HDF5/HDF5IOHandler.cpp#L399-L401

The value of `fname->second` is `../samples/git-sample/data00000400.h5`.
The elements in `m_fileNamesWithID.

[2021-04-08 07:13] ax3l commented on #939
Hm, cannot reproduce locally with latest `dev`.

Using latest pip:
[code]
[code]
downgrade:
[code]

[2021-04-08 07:14] ax3l commented on #939
Looking at the core dump via:
[code]
leads to
[code]

This seems to be the same as your valgrind analysis.

[2021-04-08 07:26] ax3l commented on #939
Since this file has no particles, we could rework this section:
https://github.com/openPMD/openPMD-api/blob/6fd39365ff4bf6e350faec66a5ebac2f3804e8dd/src/Iteration.cpp#L387-L402

and even for 1.0.0 and 1.0.1 make a check (and warn). That would make things a bit more robust.

But the crash itself seems to be in mesh reads...

[2021-04-08 07:30] ax3l commented on #939
This is the pure C++ version of `openpmd-ls`:
[code]
We could run this again with sanitizers enabled.

For pip installs, we ship a Python wrapper for it (because `.local/bin` is not in PATH on all distributions + various limitations of setuptools/pip)

[2021-04-08 07:37] ax3l commented on #939
pip builds run `quay.io/pypa/manylinux2010_x86_64` containers using GNU 8.3.1 and a relatively old glibc, IIRC. The HDF5 version is 1.12.0. For our 0.12.0 release, we were still using HDF5 `1.10.5` (update in 81d5ca712c88c4bb6221da43c9ea983c19510e53).

https://github.com/openPMD/openPMD-api/runs/1817947928

[2021-04-08 08:04] ax3l commented on #939
Local test with pure C++ version above and HDF5 1.12.0 does not fail.

Compiled again with UBSAN & ASAN, also no fail.

Release 0.13.0+ is also the release where we switched to C++14...

[2021-04-08 16:59] ax3l commented on #939
Let's try a debug build in the exact same environment:
[code]
[code]
Backtrace with line numbers:
[code]

[2021-04-08 19:43] ax3l commented on #939
1: https://github.com/openPMD/openPMD-api/blob/6fd39365ff4bf6e350faec66a5ebac2f3804e8dd/src/IO/HDF5/HDF5IOHandler.cpp#L1468
2: https://github.com/openPMD/openPMD-api/blob/6fd39365ff4bf6e350faec66a5ebac2f3804e8dd/include/openPMD/IO/AbstractIOHandlerImpl.hpp#L105
3: https://github.com/openPMD/openPMD-api/blob/6fd39365ff4bf6e350faec66a5ebac2f3804e8dd/src/IO/HDF5/HDF5IOHandler.cpp#L1836
4: https://git

[2021-04-08 19:46] ax3l commented on #939
Found it: need to replace `free` with `H5free_memory`
https://support.hdfgroup.org/HDF5/doc/RM/RM_H5T.html#Datatype-GetMemberName

[2021-04-09 00:47] #939 closed, assigned to ax3l

[2021-04-09 09:13] pordyna opened #964 "Scalar Mesh shares all attributes with its MeshRecordComponent"
**Describe the bug**
I'm not sure if this is really a bug or if it is like that by design but I found it confusing. So when I access attributes of a scalar valued mesh I get not only the usual mesh attributes like `gridSpacing` but also `MeshRecordComponent` attributes like `position`. The same happens when I access record's attributes.

[code]
will output:
[code]

It does it with ADIOS, HDF5 and

[2021-04-09 15:58] ax3l commented on #964
Thanks for the question and detailed example!

I think this (extra) behavior is not needed but ok, since a scalar mesh only contains one entry and thus the additional information on the mesh itself that only applies for an individual component is not wrong. This is in fact reflecting a compactness feature that we are define in the standard for scalar records and if it wouldn't be so confusing, I w

[2021-04-09 16:33] pordyna commented on #964
It sure make sense for a scalar field to not have components. So this is probably really not needed.
So I'm writing some code that will allow me to read an `SST` series in streaming mode, reduce resolution of the fields stored in meshes and write it to a new file based series. The idea is to use it with `PIConGPU` and write output in reduced resolution. I want to preserve all the attributes so i j

[2021-04-09 16:33] #964 closed, assigned to nobody

[2021-04-09 18:50] ax3l commented on #964
Sounds great! You probably coordiante with @franzpoeschel already, but make sure you are aware of the new `openpmd-pipe` tool #904 for such workflows :)

(Docs are still to-do for the 0.14 release for it: https://openpmd-api.readthedocs.io/en/latest/utilities/cli.html)

[2021-04-09 18:52] ax3l commented on #939
Fixed in openPMD-api 0.13.3 :)

[2021-04-09 21:30] ax3l commented on #957
Fixed in 0.13.3 :)

[2021-04-09 22:29] ax3l commented on #957
Interesting: this only segfaults with `.series_flush()` but not with `series.flush()`.

[2021-04-14 22:18] ax3l opened #967 "ParaView (5.9): Constant Record Components"
It looks like we forgot to test reading of constant record components in the ParaView 5.9 plugin:

https://gitlab.kitware.com/paraview/paraview/-/blob/v5.9.0/Wrapping/Python/paraview/algorithms/openpmd.py

Example data set: https://github.com/openPMD/openPMD-example-datasets/pull/14

[2021-04-14 22:20] ax3l opened #968 "ParaView (5.9): Gracefully ignore picongpu_idProvider"
PIConGPU at the moment "mis-uses" fields to store the RNG metrix generator states via `picongpu_idProvider` for checkpoints.

We could try to handle this more graceful (ignore) in the ParaView (5.9) plugin.
https://gitlab.kitware.com/paraview/paraview/-/blob/v5.9.0/Wrapping/Python/paraview/algorithms/openpmd.py

Example data set: https://github.com/openPMD/openPMD-example-datasets/pull/14

[2021-04-15 07:32] psychocoderHPC opened #969 "CMake: variable not visible outside of the method scope"
**Describe the bug**

The lines https://github.com/openPMD/openPMD-api/blob/f5dc8e25fcc26b3e78857e7cd30b6056a4b9255c/CMakeLists.txt#L57-L61 will have no effect.  The variable `openPMD_HAVE_${name}` will only be visible within the method because the scope is missing.

[2021-04-21 17:43] ax3l commented on #534
Addressed for `Series` via #886 #936 #955 (user-facing).

Further classes (`Iteration`, `Record`, `RecordComponent`, etc.) are to do.

[2021-04-23 08:08] ax3l commented on #969
Oh that's right. Should be either a macro, a cached var, or set `PARENT_SCOPE`.
I wonder if I tried to set an existing cached var to a different value with it...

[2021-04-23 08:12] ax3l commented on #28
This should be fixed since we run UBSAN and ASAN for a while.

Also, valgrind and `long double` is a general issue: https://github.com/ornladios/ADIOS/issues/184#issuecomment-411735547

Another recently fixed issue in HDF5 types: #962

[2021-04-23 08:12] #28 closed, assigned to anokfireball

[2021-05-17 18:06] ax3l opened #982 "Workflow: Single File From Series Renamed & Read"
In https://github.com/ECP-WarpX/WarpX/pull/1937, we have a new workflow that takes a single file from a series using a `fileBased` iteration encoding, renames it to e.g. `input.h5` and reads a single iteration back.

We have not yet considered such use cases, because they would break the defined `iterationEncoding` in the file. We should thus add a CI test to make sure such a workflow works on the

[2021-05-17 18:11] ax3l opened #983 "Reading: Improved Error Handling"
When writing a "long time" into an openPMD iteration, which is especially the case for WarpX back-transformed diagnostics from the boosted frame, we already see the files on disk (valid ADIOS2) but they are not yet completely written with data or openPMD meta-data. An example meta-data that we write at the end (rightfully) is the base attribute `/openPMD`.

The typical workflow we need to handle i

[2021-05-19 03:30] ax3l opened #984 "ADIOS2: Flush Attributes Earlier"
@RemiLehe and @Yin-YinjianZhao are running WarpX backtransformed diagnostics (cc @RevathiJambunathan) with ADIOS2.

The characteristics of this I/O methods is that we open an iteration a very long time, usually most of the runtime of a simulation, and add more-and-more `storeChunk`s to the written data.

With HDF5, they can follow the data as it is written and "just" have some undefined/invalid va

[2021-05-19 15:53] eschnett opened #985 "Simplify C++ code?"
I see that e.g. the file `Container.hpp` contains the two signatures
[code]
where the first copies and the second moves its argument if a new container entry is created.

I believe (please correct me if I am wrong) that this can be simplified to a single function
[code]
that always moves its argument.
- When this function is called with a `const&` argument, then the caller will make a copy. This f

[2021-05-19 19:36] eschnett commented on #625
@axl3 Incidentally, I started working on a Julia package [`openPMD_api_jll`](https://github.com/JuliaPackaging/Yggdrasil/tree/master/O/openPMD_api) today.

[2021-05-19 20:34] eschnett opened #986 "Should Iteration::close(flush=true) write files?"
**What do you want to achieve, please describe.**

I want to use openPMD to output data in the Einstein Toolkit. We are using AMReX and it's mesh refinement. I am currently experimenting with a first prototype of an openPMD-based I/O module for the Einstein Toolkit.

I looked at the examples and the API. I am puzzled by one thing: Files are created, but they remain empty (0 bytes) until the `Serie

[2021-05-19 21:08] eschnett commented on #986
The complete code is here https://gist.github.com/eschnett/d891cebca607f178aa0a1344c615dac0 . Since it is part of the Einstein Toolkit, it won't compile on its own.

[2021-05-19 23:24] ax3l opened #987 "Docs: Improve Particle "First Steps""
While the manual explains field analysis in good detail, it lacks an introduction to particle concepts so far.

Add:
- meaning of `io.Record_Component.SCALAR`
- dealing with weighting
- generally: explain `list(<any_object>.attributes)`

[2021-05-20 21:27] ax3l commented on #985
Thanks, great idea.

Re-visiting the interface of `std::map` on which that one is based, isn't the universal reference all we need?
https://en.cppreference.com/w/cpp/container/map/operator_at
[code]

By-value passing should also work if we `std::move` the argument inside, if I am not mistaken.

I quickly tried this (also removing the same signature from `BaseRecord`, and if we go with universal re

[2021-05-20 21:56] ax3l commented on #986
Hi @eschnett,

Thanks for the detailed example!

I think that is reasonable with a few details to know about small, high-frequent data outputs (see below). Let's check this again, `Iteration::close()` is relatively new and made initially for data streaming.

Yes, keeping the `Series` around is generally recommended and will save ADIOS2 sub-file open/close as well as buffer reallocation.

### Backg

[2021-05-20 22:42] ax3l commented on #986
cc @franzpoeschel reading out latest changes to the `flush()` guarantees, we should probably call the `Engine::Flush()` now in ADIOS at those points. What do you think? :)
https://openpmd-api.readthedocs.io/en/latest/usage/workflow.html

In the WarpX case, I call `flush()` a couple of times for temporary particle data concatenation operations before closing an iteration - a true call to `Engine::F

[2021-05-21 00:46] eschnett commented on #986
I need a stronger guarantee. I want to delete old checkpoint files when news ones are on the disk. I also want to ensure files are written safely in case the job aborts for some reason (out of queue time, writing data just before a known crash, etc.).

[2021-05-21 01:04] eschnett commented on #985
The signature you write only accepts rvalue references. You cannot call it with a const reference.

I was mistaken in my suggestion above. In the case where the key already exists, the current code makes no copy of the key. With my suggestion, it would make one. Please disregard.

[2021-05-21 01:04] #985 closed, assigned to nobody

[2021-05-21 02:05] eschnett commented on #986
I'm using `IterationEncoding::variableBased` now. This does flush the content to file.

[2021-05-21 03:48] ax3l commented on #986
Yes, that makes sense and I actually have a similar need. We should expose a function for that. Potentially on `Iteration::close(flush=true)`. We could make this an option (and default to doing so on `Iteration::close()`).

[2021-05-21 03:51] ax3l commented on #985
Ah right, shouldn't think value semantics after a day of meetings.
Just realized map exposes both signatures for the same reason and misread the cpp reference earlier.

[2021-05-21 07:50] franzpoeschel commented on #986
Most of this has already been discussed, just a few notes:

Theoretically, you can also (1) use the normal (groupbased) layout, (2) use the streaming API and (3) set `{"adios2": {"engine":{"usesteps": true}}}` as a JSON option. This is opt-in though since there may be edge cases and variable-based encoding is preferred as soon as it is stable.

Noted.

To put this stronger: ADIOS *will* keep it in

[2021-05-21 17:46] franzpoeschel commented on #984
Discussed offline: allow users to `Series::lockAttributes()`, guaranteeing that attributes already defined will not be overwritten. We can still define new attributes after that call.

Also, we could take the chance to support the `LockWriterDefinitions` call for defined variables in ADIOS2 (maybe with another call, let's not mix the two).

[2021-05-21 19:53] eschnett opened #989 "Implement a bounding box calculus"
When handling mesh refinement data, it is often convenient to have utility routines to handle bounding boxes and sets (lists) of bounding boxes.

Each bounding box is defined by a pair (`lower`, `upper`) of integer vectors. In this terminology, each chunk that is written is defined by a bounding box, and the overall shape of a mesh is also described by a bounding box. (openPMD sets the lower bound

[2021-05-21 20:05] eschnett opened #990 "Wrong arguments to `setGridSpacing` (and others) not properly diagnosed"
I received this error when building my application:
[code]

The reason is that I accidentally passed a `vector<unsigned long>` with the grid spacing. The C++ header files accept this, but apparently the respective template instantiation is missing.

Could this be diagnosed better? For example, the C++ headers files could could check that the template argument of `setGridSpacing` is one of the supp

[2021-05-21 23:44] eschnett commented on #986
I am now using
[code]
and the file is indeed written on `iter.close()`.

However, memory is not released! I need to `series.reset()` to ensure that memory is released. The amount of memory retained is significant (about 20 GByte per process, 4 processes per node) and drives the simulation into swap otherwise.

This is the current development version of openPMD, and the current release of ADIOS2.

[2021-05-22 00:19] ax3l commented on #986
Oh good point, that is another ADIOS2 feature - buffering as much as it can for larger write chunks.
We expose the control of that buffer via JSON options in the `Series` constructor ([last argument](https://openpmd-api.readthedocs.io/en/0.13.3/_static/doxyhtml/classopen_p_m_d_1_1_series.html)), can you try if that helps?
https://openpmd-api.readthedocs.io/en/0.13.3/details/backendconfig.html#conf

[2021-05-22 01:04] eschnett commented on #986
This doesn't work: ADIOS2 aborts with
[code]

I have no single variable that is that large. This must be the aggregate size of all variables, likely even over several processes combined. (I am using 4 processes, and Silo stores all data from a single process in 5 GByte.)

[2021-05-22 01:20] ax3l commented on #986
That's right, the buffer usage should be as large as the accumulated size of variables you write in the step from a rank and should not grow after `Iteration::close()` unless the next iteration you write is larger than the previous one in data.

Can you fit a copy of your data in RAM?

If you remove the upper cap given by `MaxBufferSize` again: If you close the whole `~Series` instead of using `It

[2021-05-22 01:32] eschnett commented on #986
Yes, if I destroy the `Series`, the memory gets freed. I can then create a new `Series` for the next iteration.

(Since ADIOS2 cannot append to files, this also means that I need to create a separate file for each iteration.)

[2021-05-22 02:08] ax3l commented on #986
That destroying the Series over `Iteration::close()` frees the memory sounds like a bug in our [streaming API](https://openpmd-api.readthedocs.io/en/0.13.3/usage/streaming.html) or in ADIOS2.
Can you share a small reproducer with us?

Update: We should be able to reproduce this probably with our own example and replacing `.sst` with `.bp`:
https://openpmd-api.readthedocs.io/en/0.13.3/usage/streami

[2021-05-22 14:31] eschnett commented on #986
I don't have a small reproducer. This is with the Einstein Toolkit outputting the initial conditions for a binary black hole simulation. If you can reproduce this with your example, that would be convenient.

[2021-05-23 01:33] eschnett opened #991 "Missing function `Mesh::unitDimension`"
There is no function `Mesh::unitDimension` that would return the unit dimension of a mesh. This counterpart to `setUnitDimension` seems to be missing.

[2021-05-23 02:08] ax3l commented on #991
I think `Mesh` should have that function derived from `BaseRecord` :)
Just checked, we have coverage for that getter, e.g. here:
https://github.com/openPMD/openPMD-api/blob/3ee8b57dd8fa2d1559f5ee85ba08f5026db60be0/test/SerialIOTest.cpp#L1861-L1868

[2021-05-23 02:24] eschnett commented on #991
It does. I just didn't find it. Sorry!

[2021-05-23 02:24] #991 closed, assigned to ax3l

[2021-05-23 02:33] eschnett opened #992 "Should multiple variables be in the same `Mesh`?"
I have multiple grid functions (variables, fields) (e.g. lapse, shift, metric). The lapse is a scalar, the shift is a vector, and the metric is a symmetric tensor. They share the same discretization. They have 1, 3, and 6 components, respectively.

- Should they be stored on the same `Mesh`? The standard says these should be separate "mesh records".
- If so, is there a way to create "sub-records"

[2021-05-23 19:08] eschnett opened #993 "Obtain chunk offset, extent without loading it"
I am looking for a function to determine a chunk's offset and extent without loading the chunk. This would allow me to create the grid structure in AMReX, and then schedule the chunk loads into AMReX's storage.

[2021-05-24 15:24] eschnett opened #994 "Streaming Read: Segfault on Close w/o Explicit Flush"
I am trying to read data from a file. I create a `Series` and the iteration via `readIters = series->readIterations()` and `iter = *readIters.begin()`. I schedule the reads via `loadChunk`, passing pointers to AMReX-allocated data structures.

I then tried to perform the reads via `iter.close()`. This lead to a segfault.

I can avoid the segfault by calling `series->flush()` before closing the ite

[2021-05-25 03:21] eschnett commented on #625
C++: C++17
Python, C, Fortran: n/a
Julia: yes please!

[2021-05-25 05:43] ax3l commented on #625
Awesome, thanks for the update & contributions @eschnett! :)

[2021-05-25 05:48] ax3l commented on #994
Thanks for the report!

CCing @franzpoeschel: do you think the API contract for `Iteration::close(flush)` should support this? I can see how that could be expected...

Erik, so far (pre `0.13.0`), we usually explicitly `flush()` to fill buffers from `loadChunk`. If we want the above logic to work, we probably need to flush inside the `Iteration::close()` immediately upon enter (when the parameter

[2021-05-25 05:53] ax3l commented on #993
The function you need is `RecordComponent::availableChunks`:
https://github.com/openPMD/openPMD-api/blob/3ee8b57dd8fa2d1559f5ee85ba08f5026db60be0/include/openPMD/backend/BaseRecordComponent.hpp#L62-L80

Examples in our tests:
https://github.com/openPMD/openPMD-api/blob/3ee8b57dd8fa2d1559f5ee85ba08f5026db60be0/test/SerialIOTest.cpp#L183-L202
or
https://github.com/openPMD/openPMD-api/blob/3ee8b57dd8

[2021-05-25 06:04] ax3l commented on #992
In openPMD, we usually recommend to group in a record (mesh or particle record) the quantities that are of the same physics, i.e. components of the same `unitDimension`.

So if they have the same discretization but one is a scalar density field and the other a scalar charge density, we would not store the in the same `Mesh`.

We do a relatively flat naming right now to simplify reading:
- records

[2021-05-25 06:09] ax3l commented on #990
Ouch, we successfully transformed a compile-time or at least runtime check into a linker error. Fully agree.

If we think that's useful, we could also cast if these attributes are passed as non-floats. Just because we will store some attributes as `floats` does not mean we need to reject them in the API... (Unless we find the cast to be too implicit in behavior.)

[2021-05-25 06:11] ax3l commented on #989
Hi Erik,

As bespoken: I think that sounds fantastic and we can totally implement this as utility/helper functionality and ship it. Let's include some (AMR) batteries! :)

[2021-05-25 06:14] ax3l commented on #986
@franzpoeschel let us not forget to get back to this, this memory issue might be from a regression in the streaming API.

@eschnett do you call `flush()` before the `close()`? Otherwise that might be the origin of the leak, because we do not yet support what you reported in #994

[2021-05-25 09:28] franzpoeschel commented on #994
That workflow is supposed to be possible, if it fails that is a bug.
[This test](https://github.com/openPMD/openPMD-api/blob/dc71272a3848d841829d9f0ff14af61dece9c18e/test/SerialIOTest.cpp#L3439) here uses `Iteration::close()` for loading data. I also tried to replace the test, making it more similar to your example:
[code]
And also that works as expected.

Can you share a failing code sample and t

[2021-05-25 09:35] franzpoeschel commented on #986
@eschnett Can you paste the output of `bpls -D <your dataset>`? You should not be seeing such a behavior if using ADIOS2 steps, so I assume that steps are somehow not used. The output of `bpls` would confirm that.

I assume that you call `series.setIterationEncoding()` before the first flush? Once data has been flushed, the encoding cannot be changed any more. (We should probably document that or

[2021-05-25 12:42] eschnett commented on #992
Thanks!

[2021-05-25 12:42] #992 closed, assigned to nobody

[2021-05-25 13:40] eschnett commented on #993
Should `RecordComponent::availableChunks` be `const`?

[2021-06-01 08:41] pordyna opened #996 "Appending iterations ADIOS2"
Hi, I have a quick question on how to use the api with the ADIOS B4 backend.  What is the correct way to append new iterations to the same file with ADIOS2? I know that I can switch to the group based iteration encoding by removing `%T` from the series path but when I try to add a new iteration with `Access::READ_WRITE` I get
[code]
Should I use `Access::CREATE` instead or could that remove previo

[2021-06-03 00:05] ax3l commented on #996
Thanks for the question!

Contrary to what we document [here](https://github.com/openPMD/openPMD-api/blob/0.13.4/include/openPMD/IO/Access.hpp#L26-L33), `openPMD::Access::CREATE` does indeed work to add new iterations to both file-based (`..._%T.bp`) and groupBased (no `%T` in the file-name) encoding. I close and re-open a Series to add new iterations and this works.

Practically speaking, this sh

[2021-06-03 00:08] ax3l commented on #994
@eschnett one thing you could do is modify the linked test and open that as a demonstrator PR, so we can debug the logic that you use together.

[2021-06-03 00:09] ax3l commented on #993
From the user-facing API yes, but it's possible that we cannot mark it `const` without `mutable` tricks because we do meta data reads under the hood (we interact with `IOHandler` that is often a member).

[2021-06-03 07:25] pordyna commented on #996
Okay, thanks for the clarification!

[2021-06-03 14:51] eschnett opened #1000 "cmake always runs "Running utility command for openPMD.py.cliTools""
Whenever I run `cmake `to build openPMD, even when nothing changed, `cmake` output this:
[code]
and hesitates for a few seconds.

Does this utility need to run every time? Maybe it should run only once, or when the cmake settings change?

[2021-06-03 19:12] ax3l commented on #996
Little correction: at the moment, you cannot re-open an ADIOS2 non-filebased Series for write without overwriting written iterations. That's something on our todo list using ADIOS2's append mode.

So either keep the Series object alive for all writing time, then all iteration encodings will work, or if you really must close it between iterations, then use fileBased.

[2021-06-04 07:04] ax3l commented on #1000
Curious, that's a new Python based CLI tool introduced in #904 that we ship:
https://github.com/openPMD/openPMD-api/blob/34b24d92f262590f3da2e5d587e5904640fd76d8/CMakeLists.txt#L1158-L1175

So if at least one of `openPMD_BUILD_CLI_TOOLS` or `openPMD_USE_PYTHON` is off, it should not show up.

What system are you on (OS & version + CMake version) that you see the hickup?

[2021-06-04 07:09] ax3l commented on #1000
It looks like we could add a `MAIN_DEPENDENCY <source-file>` to the `add_custom_command` calls that do such copies (3x in the build logic):
https://stackoverflow.com/a/8438510/2719194
https://cmake.org/cmake/help/latest/command/add_custom_command.html

[2021-06-04 09:07] pordyna commented on #996
thanks, good to know. I think I can close this issue now.

[2021-06-04 09:07] #996 closed, assigned to franzpoeschel

[2021-06-04 14:53] eschnett commented on #1000
This is on macOS 11.4. Some software (e.g. cmake, ninja) installed via MacPorts. Python is an Anaconda3 Python version 3.8.5. (The Julia bits is what I added; I'm working on Julia bindings.)

This is my configure output:
[code]

[code]

[2021-06-08 19:35] ax3l commented on #996
Awesome. I was wondering to leave it open, so we can keep track of it as we add `READ_WRITE` for ADIOS2. What do you think @franzpoeschel ?

[2021-06-10 14:24] franzpoeschel opened #1006 "Series flushed twice if error occurs"
When some error happens during `Series::flush()`, C++ will destroy all objects currently found on the stack, including the instance `Series`. `Series::~Series()` calls `Series::flush()`. Consequence: An error happening during `Series::flush()` will lead to `Series::flush()` being attempted a second time, on a broken object, often leading to completely different and mostly unrelated error messages.

[2021-06-16 21:31] titoiride opened #1014 "Build problem when trying to install with MSVC without MPI"
## Setup
**Performed steps**
I'm using Visual Studio 2019 and it's CMake toolchain for windows

[code]
and
[code]
led to the following output/problem during install

[code]
(And many other files like this)

**System environment**
 - operating system: Windows 10 Build 19042
 - machine: Personal Laptop

## Problem

I'm trying to install openPMD on Windows using the Visual Studio IDE, which is usuall

[2021-06-19 03:00] eschnett commented on #1000
Upon further inspection, it seems that this "utility command" finishes quite quickly. Afterwards, ninja examines the source file to determine dependencies (i.e. a file called `.ninja_deps`), and this step takes up to a minute on my system. I don't know why that is, but unless the "utility command" invalidates a cmake/ninja dependency cache, it isn't the slow part.

[2021-06-19 16:48] eschnett commented on #534
This issue (or a closely related one) is causing problems for me trying to wrap openPMD from Julia.

The problem I face is that many of the public openPMD types do not expose a default constructor. This makes it impossible (or at least very difficult, and I don't know how to do this for a Julia interface) to put objects of such types into STL containers. In practice, the STL really expects types t

[2021-06-21 22:09] ax3l commented on #578
Alternatively, we could also try to find good empirics for `H5Pset_alignment` (and `H5Pset_sieve_buf_size`):
https://github.com/ComputationalRadiationPhysics/libSplash/issues/108#issuecomment-38681837

T3PIO seems to have set such hints via MPI info flags alone:
https://github.com/ComputationalRadiationPhysics/libSplash/issues/108#issuecomment-46784819

[2021-06-22 01:48] ax3l commented on #1014
Hi @titoiride,

Thanks for checking and reporting this! Please excuse the delay in answering, due to a deadline that occupied me last week.

I cannot reproduce this locally yet. Can we try to dig deeper?
Can you add a `message(STATUS "+++++ ${openPMD_HAVE_MPI} +++++")` before the `configure_file` call here?
https://github.com/openPMD/openPMD-api/blob/04d50c8c7f9793fb1e7829000411a48309d220f2/CMakeL

[2021-06-22 02:09] ax3l commented on #1006
Sounds reasonable, seems we need to treat `flush()` like a destructor...

[2021-06-22 04:19] ax3l commented on #1000
Thank you for the details. Does changing the custom targets as in #1016 solve the issue?

[2021-06-23 08:43] franzpoeschel commented on #534
Before answering to your post specifically, be aware that we already redesigned the `Series` class to address the issues described above and are planning to extend the redesign to our other classes.

We have already moved `Series` to a design that allows this. Since that change has not produced any issues so far (I think?), we can move on and apply this change to our other classes as well.

Again,

[2021-06-23 12:24] franzpoeschel commented on #1006
I don't think treating it as a destructor will work; often enough you don't want to destroy things yet when calling `flush()`. Suggestion for addressing this in #1018.

[2021-06-23 21:44] titoiride commented on #1014
After resetting Visual Studio and re-cloning openPMD, I couldn't reproduce the issue.
It must have been some messed up cached variable, now everything works fine.
Thanks!

[2021-06-24 02:26] #1000 closed, assigned to ax3l

[2021-06-24 02:27] ax3l commented on #1014
Thanks for testing & confirming.
Don't hesitate to check in again if anything should be flaky in VS.

[2021-06-24 02:27] #1014 closed, assigned to nobody

[2021-06-24 02:31] #969 closed, assigned to ax3l

[2021-06-24 02:31] #406 closed, assigned to ax3l

[2021-06-24 20:13] eschnett commented on #1000
This problem has now been resolved.

[2021-06-25 09:01] LDAmorim opened #1021 "H5Tset_size(): size must be positive"
Hi,

I have been using `openpmd-api` (much appreciated tool!), but, in a recent installation, my code got an error message connected to it (well `HDF5`) and I tested using your example file and found that same error.
Since I am not able to understand how to solve it and I haven't found similar topics in other issues/PRs (here, or in `spack` or in `HDF5`'s repos), I decided to open this issue.

**P

[2021-06-25 09:34] LDAmorim commented on #1021
Update on trying to use an environment: didn't go very well - in https://github.com/spack/spack/issues/24520

[2021-06-25 17:32] #510 closed, assigned to nobody

[2021-06-25 17:32] #658 closed, assigned to nobody

[2021-06-27 18:47] eschnett opened #1024 "Add .clang-format file"
I like using clang-format to format source files. This takes much of the tedium out of editing C++ files.

Would you consider adding a `.clang-format` file to the repo? This would define your preferred indentation style.

Ideally, this would be used for all source files. To avoid churn, one could begin to use this only to format newly added files, or newly added functions.

[2021-06-28 16:24] ax3l commented on #1021
Hi Diana,

I tested your example and that looks good to me. I think that's a system issue mismatching compiler and package for your Ubuntu/WSL setup. I commented a spack suggestion now in the linked spack issue.

Alternatively, you should be able to spin up a full development env from the Ubuntu/WSL packages alone:
[code]

[2021-06-28 16:46] LDAmorim commented on #1021
Thanks @ax3l ! I just saw your reply. I'm testing it now.

[2021-07-02 20:51] #1006 closed, assigned to nobody

[2021-07-03 20:46] eschnett opened #1028 "Incomplete error message"
While debugging the Julia wrapper of openPMD-api, I received the error message below. It is incomplete, and it does not give any information about the second type.
[code]

I would have expected to see a type name there, of if there is somehow no type information, say why it is missing.

**Software Environment**
 - version of openPMD-api: [0.14.0], [this](https://github.com/openPMD/openPMD-api/pull

[2021-07-05 15:53] LDAmorim commented on #1021
Hi @ax3l ,

Your suggestion seems to work.
I didn't report this back because I was finding an issue with 1) `spack activate openpmd-api` in the environment where I build it with `python`.
The workaround I found was just to load the module every time I use that environment.
In case you're curious this was the environment I made:
[code]
And it did had some conflict notice when updating the `view`, b

[2021-07-06 17:52] franzpoeschel commented on #1028
ADIOS2 reports datatypes as strings, and when a datatype cannot be found (e.g. when a variable is not found), it returns an empty string, which is what you're seeing here.
The error message seems a bit cryptic as a result, I'll look into making this more understandable.

[2021-07-06 17:54] franzpoeschel commented on #994
I experienced a similar issue today and I think I have found a solution for that one. Will open a PR, maybe that could also fix your problem.

[2021-07-07 07:13] ax3l commented on #1021
Hi @LDAmorim, thanks for the update! Glad to hear you made good progress! :tada:

If you install everything in one go, do you still get conflicts?

[code]

Then this:
[code]

Then optionally:
[code]

Adding more software after a first `spack install` can sometimes be troublesome (a problem that will be eased a lot in the next Spack releases with the new `clingo` concretizer.) So make sure to add a

[2021-07-07 09:25] LDAmorim commented on #1021
Hi @ax3l ,

So I think I did the "one go" option, but I might have been confusing on my previous post, sorry for that.

I did the update of the ubunto gcc as you had mentioned before.
I cleaned everything I previously had from spack to make a completely new install.
Then I created several different environments as I need:

1) for simulations  with `openpmd-api + mpich + gcc + cmake` (worked comple

[2021-07-07 12:23] franzpoeschel commented on #1024
I've started experimenting with this on #1032.

[2021-07-08 00:40] ax3l commented on #994
Solution proposed in #1030

@eschnett feel free to close this issue in case that PR fixes it.

[2021-07-08 00:41] ax3l commented on #1024
Sounds good to me, let's iterate in the PR.

[2021-07-08 10:04] franzpoeschel commented on #1028
Fixed with #1036

[2021-07-08 11:20] franzpoeschel opened #1037 "JSON Update"
This issue is supposed to collect things that we want to add to the JSON configuration of openPMD backends:

- [ ] Implement the extended layout for specifying dataset-specific configurations as experimented with already [in PIConGPU](https://github.com/ComputationalRadiationPhysics/picongpu/pull/3513#issuecomment-788820242).
- [x] more global options: explicit selection of backend and iteration e

[2021-07-08 20:56] eschnett opened #1038 "Wrong template specialization for `std::array`"
**Describe the bug**

Lines 632 ff. of `Datatype.hpp` are:
[code]

The intent is to determine whether a given type is an instance of `std::array<T,N>` or not. Unfortunately, the template for `std::array` is declared with a `std::size_t` length parameter (not `long`), and as a consequence, this specialization only matches when `std::size_t` is defined as `unsigned long` (macOS) and not when it is d

[2021-07-08 21:42] ax3l commented on #1038
Thanks, good catch!
Fix in #1040

[2021-07-08 21:59] ax3l commented on #1021
Good one - you could post the exact packages that you created for this environment as a Spack issue, that's probably an upstream issue that can be figured out.

In the meantime, you could build a simple environment like this for 2.) that gets most things from pypi:
[code]

That will still install in the spack environment and you re-activate with `spack env activate pythonstuff`.

That's interestin

[2021-07-08 22:00] ax3l commented on #961
Proposed fix in #1035

[2021-07-08 22:22] ax3l commented on #1021
I just tried the latter and there is more to it.
If you write HDF5, both `setAttribute` as well as `makeConstant` need to be called from all MPI ranks. That's a limitation of the HDF5 data model that we have no control over:
  https://openpmd-api.readthedocs.io/en/latest/details/mpi.html

So even if you write zero particles from some MPI-ranks, make sure that all of them go through the code path t

[2021-07-09 05:32] #990 closed, assigned to ax3l

[2021-07-09 05:32] #1038 closed, assigned to ax3l

[2021-07-09 09:32] LDAmorim commented on #1021
Hi,
Thanks for the replies!

Yes, that's a great idea to use `py-pip` instead and still very clean. I'll try it.
Please feel free to close this issue, whenever you want since we got several options to solve it now.

Regarding the write issue, it is just as you put it in your last message.
After merging the variable information to get it available to all MPI ranks, I was able to call `makeConstant(

[2021-07-09 17:05] #1021 closed, assigned to nobody

[2021-07-10 01:15] ax3l commented on #1021
Glad this helped you.

That's right, broadcast only makes sense if you know for sure which rank has at least one particle (and thus knows the mass) upfront.

[2021-07-11 18:32] eschnett opened #1044 "How do I specify whether a chunk has ghost zones or not?"
In a simulation, one often stores blocks of data surrounded by a number of ghost zones to allow stencil operations. When writing data to a file, one can either output these ghost zones as well (e.g. for debugging) or not.

Does openPMD make any assumptions about whether chunks have ghost zones? How can I describe whether ghost zones are present?

[2021-07-14 17:59] #1028 closed, assigned to franzpoeschel

[2021-07-14 23:31] ax3l commented on #1044
We don't make assumptions about this in openPMD or the API.
I know that ADIOS2 generally supports to write overlapping boxes (selections).

We didn't need that feature yet since our codes crop the guards away before writing. But if that's of interest to you then adding (ADIOS2) tests in here that write in such a manner and check the read looks legit would definitely be ok :+1:

[2021-07-15 00:45] eschnett commented on #1044
I am looking for a way to tell the reader that such ghost zones, if they exist, need to be ignored. When chunks on the same mesh overlap, it's straightforward to find out which parts to ignore. However, if there are meshes with multiple resolutions, then it's not clear which ones to ignore: I want the ghost zones of the finer grids to be ignored, and otherwise want the coarse grids to ignored wher

[2021-07-15 09:29] n01r opened #1046 "Writing in Jupyter creates empty files"
**Bug Description**
Trying to create dummy data from Jupyter leads to empty files whereas the same commands in the same environment run with a script lead to valid data.

[code]

**To Reproduce**
<details>
  <summary>
  example_scripty.py
  </summary>

[code]
</details>

<details>
  <summary>
  example_notebook.ipynb
  </summary>

Basically the same code in a notebook over multiple cells ...
[open

[2021-07-16 01:40] ax3l commented on #1046
@n01r thanks for the report.

Running with openPMD-api 0.13.4 I can see the files that are created. Best thing would be to update your environment with mamba, to get the latest version. Or just creating a fresh environment altogether.

Cautios with the usage of `bpls` in conda. At the moment, both the `adios` and `adios2` packages install an `bpls` tool. The ADIOS1 `bpls` tool (BP3) is not able to

[2021-07-16 01:52] ax3l commented on #1044
You mean on a per-chunk (block) level? I think that's information that the writer would need  to specify. From the ADIOS viewpoint at read time, you access an ADIOS variable via a selection (box) and ADIOS will read one of the duplicate values to fill your requested selection (box).

That way you would not notice if some data was written in a duplicate way, you just select what you need. But I gue

[2021-07-16 08:00] PrometheusPi opened #1048 "infinite loop when filename does not contain '%T' but IterationEncoding is fileBased"
**Describe the bug**
When setting a series' file name without the `%T` and switching the `IterationEncoding` to `fileBased` the code runs into an infinite loop.

**To Reproduce**
C++
[code]

**Expected behavior**
Such a wrong configuration should be caught and an error should be thrown.

**Software Environment**
 - version of openPMD-api: 0.13.2
 - installed openPMD-api via: conda-forge,
 - operat

[2021-07-16 13:33] eschnett commented on #1044
When the ghost zones live on the same level, then it does not matter which ones are used. However, if there are different levels, then each level consists of a set of boxes (independent of how they are laid out as chunks). Ghost zones might extend outside these boxes, and those need to be ignored.

Maybe it would be best to store an attribute that defines a list of boxes (a "region"...) for each r

[2021-07-21 16:09] #961 closed, assigned to franzpoeschel

[2021-07-26 14:04] n01r commented on #1046
I just created a fresh environment (with the `conda` from my environment) and executed the cells in the notebook, again arriving at empty files.
After removing the environment again, I then loaded a cluster-provided anaconda module, made sure that none of my automatically loaded profiles would add my own conda to `PATH` and tried again.
This worked and provided files with actual data :+1:.

My own

[2021-07-30 19:14] ax3l commented on #1046
I fear so.

Best thing is to verify what is truly loaded.
For example like this in Jupyter/IPython:
[code]

[2021-08-02 13:33] franzpoeschel commented on #1048
I cannot reproduce this behavior neither on the dev nor with 0.13.2. Both versions create a file `000000000000000000000000000000000000000000000010.h5` which is a bug in itself.
Will retry this with the conda-forge version of openPMD-api.

[2021-08-02 15:41] n01r commented on #1046
Alright, just for completeness: the software that is linked to my `openpmd_api_cxx*.so`

<details>

[code]
</details>

But apart from that, my issue is solved because the error was in my own environment. Gonna close the issue, thanks, @ax3l!

[2021-08-02 15:41] #1046 closed, assigned to nobody

[2021-08-03 14:00] franzpoeschel commented on #1048
With openPMD 0.13.2 from Conda, this writes a file `10.h5`. I think the best way to go forward will be not to try reproducing this, but instead to cleanly catch this setup and throw an error.

[2021-08-04 04:25] jeanbez opened #1074 "Build error when openPMD_USE_HDF5=OFF for the examples"
**Describe the bug**
When I tried to disable support for HDF5, the build process still looks for HDF5 and tries to link to the library for the examples.

**To Reproduce**

[code]
[code]

**Expected behavior**
If I disabled the HDF5, I would expect it not to look for the library files and build only the ADIOS support.

**Software Environment**
 - version of openPMD-api: `9170612465e2eac3ad5258e6c74

[2021-08-04 13:53] PrometheusPi commented on #1048
Strange, I could not create a file but ran into an infinite loop. Might there be differences in (I assume) gcc on your OS and clang (on mine) that cause that issue?
My file system would support the strange file name with many zeros.

But I agree with you @franzpoeschel - catching it (and not reproducing it) might be the best solution. Perhaps that will also solve the infinite loop.

[2021-08-04 16:51] ax3l commented on #1074
@jeanbez, thanks for the report!
I don't control or have experience with the Summit `adios/1.13.1-py2` module and it looks quite Python-centric. (Python2 even :scream: )

Can you use `-DopenPMD_USE_ADIOS1=OFF`? ADIOS1 is fully deprecated by the developers. If you really need it we can try to build it from source with consistency between the other dependencies & compilers ensured.

Do you still see

[2021-08-05 02:30] ax3l commented on #1074
Problem solved via Slack today:
there was an outdated `openPMD/config.hpp` file in our source tree, potentially from an earlier in-source run of CMake. This will be prevented in #1079 now :)

[2021-08-05 02:30] #1074 closed, assigned to ax3l

[2021-08-05 02:38] ax3l commented on #1044
That sounds good, I would use a variable though over an attribute since the lengths of boxes can be pretty long, I guess.
Or are the ghosts on a level for all boxes the same (per direction)? In that case we can do a simple attribute as well, similar how we indicate grid spacing and grid offsets :)

[2021-08-06 10:42] franzpoeschel commented on #1048
I've found the reason: The filename padding has [no default value](https://github.com/openPMD/openPMD-api/blob/dd0abbc7506ef665ba4ae9bbfa618644ec8aa3be/include/openPMD/Series.hpp#L87). If you specify file-based iteration encoding without specifying an expansion pattern, it remains uninitialized and you get an arbitrary number of zeros on your file path. So you don't really have an infinite loop, j

[2021-08-06 21:59] ax3l opened #1082 "openpmd-pipe -v|--version"
The new `openpmd-pipe` tool needs a `-v|--version` argument control, so one can check which version will be used as a user.

Example:
[code]

[2021-08-11 01:12] ax3l commented on #1024
Found today: CMake targets
https://github.com/TheLartians/Format.cmake

[2021-08-13 05:18] #1048 closed, assigned to nobody

[2021-08-18 15:06] AngelFP opened #1092 "Different behavior of read-write properties in Python"
**Describe the bug**
The read-write properties introduced in `0.13.0`, such as `dt`, `time`, etc., seem to have a different behavior than the previous `set_dt`, `set_time`,  methods. In particular, they result in a different data type of the attributes.

I noticed this problem when opening data from Wake-T (which [uses these new properties](https://github.com/AngelFP/Wake-T/commit/7328ec24f3b582e6

[2021-08-24 17:16] ax3l opened #1094 "resizeable datasets: problematic if first extent is zero"
With resizeable datasets, there is a problem to resize them if we first declare them as "zero" size.
[code]

Since handling zero-extent datasets is somewhat special (they need to become constant record components), it might be that we want to guard this in the frontend (throw an error if a resizeable data set is declared with zero extent).

The work-around/proper workflow on the user side is to wa

[2021-08-27 07:19] ax3l opened #1095 "Dataset: unknown options should warn"
I realized that if we use unknown options in `Dataset(..., options=...)` that this does not warn.

We had a typo in WarpX for the "resizable" key that was silently ignored and then threw later on in resizing from the HDF5 layer.

[2021-08-27 17:00] ax3l commented on #1092
Sorry for the delay and thank you for the detailed analysis!

So that's a write issue, dang. I'll work on it.

[2021-08-30 06:16] ax3l commented on #1092
I found a reader issue: should support those `float128` attributes in read as well: fix in #1096 and goes in the next patch release (0.14.3).

I keep this open since there should be at least one further PR, which ensures that the type that one writes round-trips.

[2021-08-31 00:04] ax3l opened #1097 "ParaView (5.9): 1D and 2D Mesh Support"
We need to gracefully handle non-3D meshes in ParaView:

https://gitlab.kitware.com/paraview/paraview/-/blob/v5.9.0/Wrapping/Python/paraview/algorithms/openpmd.py

2D Eample data sets: https://github.com/openPMD/openPMD-example-datasets

[2021-09-02 11:42] sbastrakov opened #1098 "Writing a field of custom type"
HI,

I am not sure what is a good pattern in the following case.

I have a large C-style array of some bitwise-copyable `struct`. A particular `struct` being used depends on build parameters and comes from a 3rd party library. So generally I don't know how this type is defined, just know the size and that it is bitwise-copyable. I would like to write this field using `storeChunk`. Do not care abou

[2021-09-03 11:16] franzpoeschel commented on #1098
@ax3l do you know if work on encoding POD structs in ADIOS2 is still going?
Otherwise, the two unsatisfying approaches that I see for now:

1. Do exactly what you described. Drawback: This turns the normally self-contained openPMD datasets partially into non-portable byte-by-byte serializations. Not a huge problem in your situation, not really desirable either.
2. Completely reorganize the data. B

[2021-09-03 11:33] sbastrakov commented on #1098
I believe approach 2 requires knowing all struct members and being able to access them individually. Which is not always possible if this struct comes from a 3rd-party code, like the RNG state case which triggered my question.

[2021-09-03 12:21] franzpoeschel commented on #1095
This is generally something that we already do have:
[code]

Since there are several places in our code base that parse JSON, it's entirely possible that this functionality is forgotten here or there. This being said, for me the warning does work in the following example:

[code]

Creates the following output:

[code]

Are you sure there was not another issue involving this? Can you give me a way

[2021-09-03 12:41] franzpoeschel commented on #1094
Yeah, declaring a dataset with a zero-size extent (on any dimension) will automatically make it scalar.
Now, extending it to be non-zero [does currently not throw](https://github.com/openPMD/openPMD-api/blob/c3c724f57625cf626ba518cd488e3355f962b243/test/SerialIOTest.cpp#L4346), but the dataset will stay scalar. Since there is no way to overwrite the value of constant record components (or is there

[2021-09-07 17:43] ax3l commented on #1095
Thank you for the reproducer. The problem seems to be with this syntax that I somehow did not properly construct the shadow to warn:
https://github.com/openPMD/openPMD-api/blob/0.14.2/examples/3b_write_resizable_particles.cpp#L48

Code:
[code]

[2021-09-08 07:47] AngelFP commented on #1092
Thanks @ax3l! And no problem, I also haven't had time to look into this again. I believe however that `dt` and `time` are not the only properties which showed this issue. I only use a subset of them, but I can run another test to see which ones where also failing.

[2021-09-14 09:29] franzpoeschel commented on #1095
This is now fixed with #1043: https://github.com/openPMD/openPMD-api/pull/1043#issuecomment-915358566

[2021-09-20 14:25] eschnett opened #1108 "Is Windows no longer supported?"
openPMD used to run on Windows. I am now seeing a CI error in `openPMD.jl` on Windows, and I see that all Windows CI runs for openPMD itself are many months out of date. Is Windows now unsupported?

[2021-09-20 17:25] ax3l opened #1109 "Doc: Lazy/Deferred Parsing in Reads"
I think we need to add more docs on deferred/lazy reading in the manual.

Putting both keywords in the search
- https://openpmd-api.readthedocs.io/en/latest/search.html?q=deferred
- https://openpmd-api.readthedocs.io/en/latest/search.html?q=lazy

We need to place those keywords strategically in this section:
https://openpmd-api.readthedocs.io/en/latest/details/backendconfig.html#backend-independen

[2021-09-20 17:31] ax3l opened #1110 "openpmd-ls: Use defer_iteration_parsing ?"
Should we use `defer_iteration_parsing` (#1109) in `openpmd-ls`?

Constructor: https://github.com/openPMD/openPMD-api/blob/0.14.2/include/openPMD/cli/ls.hpp#L99-L102

Executed logic: https://github.com/openPMD/openPMD-api/blob/0.14.2/src/helper/list_series.cpp#L39

[2021-09-20 17:49] ax3l commented on #1109
I think `usesteps` is also not search-able yet:
- https://openpmd-api.readthedocs.io/en/latest/search.html?q=usesteps

It's part of https://openpmd-api.readthedocs.io/en/latest/details/backendconfig.html#adios2 (strategic placement of keywords in text needed here?)

[2021-09-21 11:55] franzpoeschel commented on #1110
Good idea
Only thing that might become difficult is if we want to expose to users the possibility to define their own JSON strings
I think it would be helpful later on to add something to our JSON header (and even reexport that to users) like:
[code]

[2021-09-21 12:02] franzpoeschel commented on #1110
Also, not so important, but in this here:
[code]
A runtime_error might also be caught here that did not happen *while opening the series*, but while reading it in `listSeries`. Since `Series` is now default constructible, we could do sth like:
[code]

[2021-09-21 15:05] franzpoeschel commented on #1108
The CI builds in recent pull requests are still running fine? See [here](https://ci.appveyor.com/project/ax3l/openpmd-api/builds/40847272).
Since Windows builds are not much used it might be that there are uncaught bugs, so this is probably still worth investigating. Do you have further details?

[2021-09-21 15:09] franzpoeschel opened #1112 "Update to examples"
Our examples have not been updated in a while and often don't really demonstrate newer additions to our APIs. This issue is supposed to collect some of the things that we should look out for in such an update:

- [ ] Lazy parsing
- [ ] Use linear/streaming API where applicable
- [ ] Use JSON-based backend configurations
- [ ] Prefer `Iteration::close()` over `Series::flush()` where applicable

[2021-09-22 01:00] ax3l commented on #1108
Confirmed - windows is definitely supported. We support/test macOS/Linux/Windows including varying architectures besides x86.

[2021-09-22 01:05] ax3l commented on #1098
Thanks for the question.
Yes, struct support is definitely not available in ADIOS and would need its own APIs, similar to MPI, on how to define user-specific types. You would also need to know what's in your struct then.

I would say do approach 1. - you could use fixed-size `char` arrays (`Datatype::VEC_CHAR`) in openPMD-api for that. `char`s are guaranteed to be of one Byte in size and are usual

[2021-09-22 17:41] ax3l commented on #1112
With respect to lazy parsing: #1111
Lazy parsing is not (yet) default because one has to either:
- `Iteration::open()` the iteration before access explicitly or
- use the streaming API (`readIterations()`)

[2021-09-22 17:41] #1109 closed, assigned to franzpoeschel

[2021-09-22 17:41] #1110 closed, assigned to ax3l, franzpoeschel

[2021-09-22 19:53] ax3l opened #1113 "Public Classes: Final or Test as Derived"
In #1107, we realized that we should add `final` for our user-facing public classes or add a test that derives from them and uses them in derived classes.

[2021-09-23 13:51] franzpoeschel commented on #1113
How should we go about this? Testing things like these is unfortunately not as simple as just deriving from the class and using it once. Unless we had full test coverage for a derived-from Series class, this bug would have probably not shown, since it occurs only at runtime as soon as the function `SeriesInterface::readIterations()` is called.
Essentially, this issue asks to duplicate nearly our c

[2021-10-11 00:09] eschnett opened #1120 "Unclear error message"
I received this error message:
[code]
It took me a while to decipher it. I assume this means that, in dimension 2 (counting from 0), the dataset has an extent of 50, while the chunk has an extent of 100.

I suggest to use the same terminology as in the API description ("extent", not "dimension"; maybe "direction" instead of "index), and to not abbreviate "dataset". It would also be convenient to g

[2021-10-11 15:43] eschnett opened #1122 "Finalization order"
Julia is a garbage collected language. That means that it is very difficult, if not impossible, to ensure that objects are finalized (destroyed) in a particular order or at a particular time. One particular problem is ensuring that the last openPMD object is finalized before `MPI_Finalize` is called.

This does not involve writing to files, since any correct code will need to call `Series::flush`

[2021-10-12 01:08] ax3l commented on #1120
Fully agree, hard to read that error message.

[2021-10-12 01:09] ax3l commented on #1113
I would say then let's mark them all as `final` for now.
There is no real need to derive from them. People can still wrap them in members.

[2021-10-12 01:14] ax3l commented on #1122
Good question - we have the same challenge in Python. Generally, MPI libs need a copy of a communicator to establish context to the MPI environment.

What we currently do is document that the Series object should be destroyed (`del series`) before `MPI_Finalize` is called.
https://github.com/openPMD/openPMD-api/blob/0.14.2/examples/5_write_parallel.py#L68-L72
This is most likely what you see, too.

[2021-10-12 13:59] eschnett commented on #1122
I tried finding an easy way to explicitly call the `Series` destructor from Julia, but couldn't find one. It would be unsafe, since Julia might hold on to the pointer afterwards. The best way might be to wrap the `Series` type on the C++ side into an object that has an explicit `close` function. Calling `close` twice would do nothing, calling any other function after closing would be an error.

Ac

[2021-10-13 16:20] PrometheusPi opened #1123 "conda install of openPMD-api causes numpy error"
**Performed steps**
I freshly installed openPMD-api via conda as follows

[code]

This worked without any problems and due to its dependencies installed numpy alongside openPMD-api and ipython alongside juypter.
However, when loading openPMD-api in ipython, the following error occurred:

[code]
(The same errors occurs when using python instead of ipython.)

**System environment**
 - operating syst

[2021-10-14 15:04] franzpoeschel commented on #1123
Copying my note from internal chat here for publicity:

I wanted to run the same thing, but somehow my TUD VPN connection stopped working, so I can't access Taurus right now. Do you know if they changed something about that?

As for the error, I did not see that particular error yet, but import errors in Python very often have to do with wrong paths. (`PATH`, `LD_LIBRARY_PATH`, `PYTHONPATH`) Can y

[2021-11-01 07:59] PrometheusPi commented on #1123
Sorry for the late reply @franzpoeschel - I am back in the office and will have a look at the issue today.

[2021-11-01 21:10] ax3l commented on #1123
A general hint what you can try: `conda`'s dependency resolver is not that good for complex dependencies as present in the `-c conda-forge` repository.

You could drop-in replace it with [mamba](https://github.com/mamba-org/mamba): `conda install -c conda-forge mamba` and then use `mamba install -c conda-forge ...` for all further installation steps.

So in your original workflow:
[code]

Alternat

[2021-11-03 08:46] PrometheusPi commented on #1123
A perhaps related issue:
Instead of using `conda` I tried to use python's `virtualenv` directly. This is the alternative approach for user modules suggested by ZIH.

Te steps were as follows:
[code]

On the terminal, I could run
[code]
without a problem.

But starting the kernel in jupyterHub caused the kernel to crash. Other (default) kernels worked fine.
The error in the log was not very specifi

[2021-11-03 20:33] ax3l commented on #1123
@PrometheusPi in order to install your own kernels in Jupyter for HPC, you need to modify the startup script slightly.
The rationale behind this is, that Jupyter needs to:
- load the modules you used for your Python and
- activate the virtual environment where you installed additional software in

so it can start up the right Python interpreter and environment from Jupyter.

NERSC has a great docu

[2021-11-03 20:36] ax3l commented on #1123
Another side-note: for more robust installs, replace `pip install` with `python3 -m pip install ...`. That way, you are 100% sure which Python environment you are dealing with (the one from `which python`) and this also works on systems where `PATH` is not modified when `pip` got installed.

[2021-11-16 21:41] ax3l opened #1147 "storeChunk with zero extent"
**Describe the bug**
When calling `storeChunk` with a zero extent, bad things happen.

Have to check again, but either some backends crashed, hung or were made `empty()`.

**To Reproduce**
Re: https://github.com/ECP-WarpX/WarpX/pull/1898#discussion_r745008290

Python:
[code]
or C++
[code]

or command line script, example:
[code]

**Expected behavior**
A clear and concise description of what you ex

[2021-11-20 03:01] ax3l commented on #1097
Mesh (and particle) 1D/2D support added via:
- https://gitlab.kitware.com/paraview/paraview/-/merge_requests/5341
- https://gitlab.kitware.com/paraview/paraview-superbuild/-/merge_requests/939

Hope this still gets into ParaView 5.10 :)

[2021-11-20 03:01] #1097 closed, assigned to ax3l

[2021-11-20 08:48] ax3l commented on #967
Cannot find a constant record component problem right now with that data set in ParaView 5.10 RC1 using the latest iteration of the script in https://gitlab.kitware.com/paraview/paraview/-/merge_requests/5341, besides that we need to de-select `picongpu_idProvider` when loading it (#968)

But I think particle positions are a bit off in it... But fields look equally confusing. I think this is a sup

[2021-11-20 08:56] #967 closed, assigned to ax3l

[2021-11-21 04:29] ax3l commented on #968
The id provider can be de-selected in the GUI in paraview at read-time, so it's not blocking the usage.

[2021-11-23 15:47] franzpoeschel commented on #968
Long-term solution for this is going to be the introduction of custom (non-standard) groups in the openPMD hierarchy similar to custom attributes. That's going to require some redesign in our frontend, but it's an issue that has come up several times now.
Until then, deselecting the "mesh" in Paraview is a good workaround.

[2021-12-01 23:50] ax3l commented on #12
Part of 0.14.0+ :tada:

X-ref: #952 #958 #959 #951 #963 et al. :)

[2021-12-01 23:50] #12 closed, assigned to ax3l, dmitry-ganyushin

[2021-12-02 17:04] vsoch opened #1153 "Build Cache!"
hey @ax3l I have the workflow ready to deploy to the build cache here! You can see the PR against my repo here: https://github.com/researchapps/openPMD-api/pull/1 and the workflow running here: https://github.com/researchapps/openPMD-api/runs/4396635238?check_suite_focus=true

Here are my suggestions for moving forward!
 - you'll need a PAT in the repository, DEPLOY_USER and DEPLOY_TOKEN but only

[2021-12-17 02:02] ax3l commented on #625
[C++ Frontend Announcement](https://github.com/openPMD/openPMD-api/issues/625#issuecomment-563032438):
With WarpX and PIConGPU both upgrading to C++17, we will likely transition to require C++17 #1164 in openPMD-api with release `0.15` and newer :tada:

[2021-12-20 17:40] ax3l commented on #625
[Python Frontend Announcement](https://github.com/openPMD/openPMD-api/issues/625#issuecomment-563032662):
Since Python 3.6 is EOL in three days, the last release line that will support it is `0.14.*`. It's likely that major user-level package managers, like conda-forge, and release support software, like cibuildwheel, will drop support soon after (to make room in build resources for newer releases

[2021-12-21 01:23] ax3l commented on #625
@skuschel do you still use Python 3.6 in production? Just checking in, feel free to update your current needs [here](https://github.com/openPMD/openPMD-api/issues/625#issuecomment-563032662) by updating your reaction emoji :)

[2022-01-04 15:18] franzpoeschel commented on #1037
I'll reopen since not all listed items are done yet

[2022-01-10 15:51] franzpoeschel opened #1163 "Gracefully handle unsupported compression in current ADIOS2 master"
**Describe the bug**
ADIOS2 generally throws an exception when adding an unsupported compression (e.g. adding Blosc compression when Blosc has not been compiled).
So far, we catch this exception and turn it into a warning.

Something changed in the way ADIOS2 throws exceptions for these, so the openPMD-api currently does not catch them any more.

**Expected behavior**

Two options (we should discu

[2022-01-11 18:41] ax3l commented on #1163
Glad you caught that (hah, pun intended).

As discussed today: We stick with 1. as this is pretty useful for complex deployments and does not harm but warn.

[2022-01-15 02:13] ax3l opened #1173 "Pattern Problem Returns in 0.14.3"
@camille12225 reports that even with [our pattern fix](https://github.com/openPMD/openPMD-api/pull/1118) ported into 0.14.3, she still sees issues with inconsistent padding in files.

Here iterations are of the form:
[code]
and she needs to remove the files before 10,000 to read the series without failing:
[code]
(the file on disk is called `diags/diag1/openpmd_08000.bp/md.idx`)

Interesting enoug

[2022-01-19 14:23] ppiot opened #1176 "problem installing openPMD-API with pip"
All,
  After upgrading my computer (fc35) I was not able to install openPMD-api (but I was able to install openPMD-viewer just fine).

**Performed steps**
The following steps were attempted

[code]
which returns
ERROR: Could not find a version that satisfies the requirement openPMD-api (from versions: none)
ERROR: No matching distribution found for openPMD-api

[2022-01-19 18:53] ax3l commented on #1176
Hi @ppiot,

Thanks for raising this.

Can you try to update your `pip` [installation first](https://github.com/openPMD/openPMD-api#pypi)? It's often outdated on local distributions.

[code]

[2022-01-19 19:40] #1163 closed, assigned to nobody

[2022-01-22 12:38] ppiot commented on #1176
Thank you, Axel. I had done these steps and retried. I can see the package from pip_search. But not able to install (I thought it was something messed up with my laptop and trued on another computer running fc35 and same problem). Though everything seems fine on our Centos7 clusters...
![Screenshot from 2022-01-22 06-38-20](https://user-images.githubusercontent.com/71890013/150638829-ed5c6e15-73dc

[2022-01-22 20:46] ax3l commented on #1176
Hi,

Oh I see the problem: you were already using Python 3.10.

We just released openPMD-api 0.14.4, which adds Python 3.10 support. Can you try again in a few hours, when the pip packages are uploaded?

Best,
Axel

[2022-01-22 22:30] ax3l commented on #1176
Should work now :)

[2022-01-22 22:33] ppiot commented on #1176
@ax3l  all OK now! sorry for the confusion and thank you

[2022-01-22 22:37] ax3l commented on #1176
Oh, no worries. Thanks a lot for the report! Appreciate it :)

[2022-01-22 22:37] #1176 closed, assigned to nobody

[2022-01-23 23:37] ax3l opened #1181 "parallelExtendDataset: Race in Read-Back Test"
With the 0.14 release line, I see sporadic race conditons on conda-forge with macOS (w/ OpenMPI 4.1.2) of the form:
[code]

It might be possible that the network filesystem in CI is not fully synced/flushed yet, although we do an MPI barrier between write and read...
https://github.com/openPMD/openPMD-api/blob/0.14.4/test/ParallelIOTest.cpp#L413-L416

Maybe we need to do a `sync` or simple sleep h

[2022-01-24 19:03] ax3l opened #1182 "Examples: plotly express & holoviews"
With our new Pandas (& Dask) data frame APIs, we could add super rapid examples that use
  plotly express: https://plotly.com/python/plotly-express/
or
  holoviews: http://holoviews.org/user_guide/Tabular_Datasets.html

[2022-01-28 04:46] rhay-repo commented on #1182
Hi, I'm Reagan and I've been asked to contribute to an open-source project for my Software Development course. I'm interested in your team's project and interested in this issue in particular.

Could you tell me more about these examples you are hoping to produce with plotly express or holoviews that are mentioned in this issue? If I could help, I would like to be assigned this issue.
Thank you.

[2022-01-28 06:21] ax3l commented on #1182
Hi @rhay-repo, nice to meet you!

That's fantastic, welcome to openPMD! :sparkles:

### Organization

I am thinking about creating a new repo with cool jupyter notebook showcases (including https://mybinder.org startup). These notebooks could use openPMD-api and combine it with external projects like the two above.

Later on, we could use such notebooks as sections of tutorials.

### What to Visua

[2022-01-28 17:44] ax3l opened #1187 "`setup.py`: Env `BUILD_PARALLEL` control"
As in WarpX: add control via an env var `BUILD_PARALLEL` for the CMake `-j` parallelism.

[2022-01-28 20:47] rhay-repo commented on #1182
Thank you for including me in this discussion! This seems very cool! I worked with Plotly a couple years ago but I'd be new to HoloViews. Although the interactive HoloViews charts seem awesome and I'd be happy to try and utilize HoloViews.

For this project, I would be willing to experiment with both Plotly and Holoviews to see what each is capable of producing, report that back to you, and then p

[2022-01-29 15:05] bussmann commented on #1182
I think with some applications from laser and beam driven plasma accelerators one could aim for reusable, quasi-standard plots, e.g. electron density, phase space, energy histograms, field strengths, etc.

[2022-01-31 18:53] ax3l opened #1188 "Decompression Parameters"
The same way we can pass parameters when writing for operators/compression, we also need to expose parameters in reading.

This is needed to control the parallelism of compressors explicitly in ADIOS2 + c-blosc.

(Compressor algorithms themselves are of course handled automatically in reads by the file formats we implement.)

X-ref:
- https://github.com/ornladios/ADIOS2/pull/3014
- https://github.

[2022-02-02 07:42] guj commented on #1188
Franz addressed this in PR #1191

[2022-02-02 19:40] ax3l commented on #1182
At the moment, I would like to show more use-cases how we can connect our data to modern visualization frameworks like these two. This would help domain-specific applications to pick them up and build dashboards.

For instance, we have a couple of general and laser-plasma driven default visualizations over here:
- https://github.com/openPMD/openPMD-viewer

this uses mainly matplotlib for the final

[2022-02-02 19:53] ax3l opened #1193 "Refactor out Distutils"
[distutils is deprecated](https://www.python.org/dev/peps/pep-0632/) (PEP 632).

We need to refactor it out for newer modules such as:
- setuptools (already used, use more functions from it)
- [packaging](https://github.com/pypa/packaging)
- [build](https://github.com/pypa/build)

Upstream example from pybind11:
- https://github.com/pybind/cmake_example/blob/master/setup.py

[2022-02-07 19:37] RTSandberg opened #1195 "ADIOS 1 interfering with WarpX mpi io"
If I run WarpX locally on my machine with MPI enabled, then I get a segfault that is traced to the presence of ADIOS1 associated with an openpmd_api installation

**To Reproduce**
[code]
Configuration output:
[code]
Output:
[code]

**Expected behavior**
If ADIOS1 is explicitly disabled,
[code]

then this works.

Note that HDF5 and ADIOS2 are found, so this seems to be an MPI shutdown issue in ADIO

[2022-02-07 20:34] ax3l commented on #1195
Looks to me like for some reason, the symbol hiding in `libopenPMD.ADIOS1.Serial.dylib` does not work and AMReX picks up an MPI mock stub implementation in ADIOS1 (serial) instead of using the external MPI from conda-forge.

[2022-02-07 21:35] ax3l commented on #1195
We are testing a fix in #1196

[2022-02-13 21:44] ax3l commented on #295
Another WebASM build is going on in https://github.com/pyodide/pyodide/pull/2169

[2022-02-14 03:34] ax3l opened #1198 "sign compare warning in Py"
[code]

[2022-02-17 21:05] ax3l opened #1203 "Option To Mask Invalid Regions with Zeros"
It would be great to either in ADIOS2 or here have an option to mask `Selections` (offset+extent) reads that are outside of available data index space (openPMD: `availableChunks()`) with a constant value, e.g., zero.

This would simplify implementations like:
https://github.com/openPMD/openPMD-viewer/pull/332
for the mesh-refinement extension
https://github.com/openPMD/openPMD-standard/pull/252

c

[2022-02-18 13:14] #1198 closed, assigned to ax3l

[2022-02-21 17:09] franzpoeschel opened #1205 "Distinguish BP versions in file endings"
**Is your feature request related to a problem? If so, please describe.**
BP3 and BP4 are already used in production, BP5 is coming up. The formats are incompatible with each other, but we use the same endings for them so far.
BP5 is not going to replace BP4, so we should go for a solution that will let people use both formats side by side without too much confusion.

**Describe the solution you'd

[2022-02-24 15:33] franzpoeschel commented on #1203
We should ask the ADIOS2 team how ADIOS2 treats undefined regions in reading. If those regions are just skipped, solving this could theoretically be done by zero-initializing the read buffer.

I would try not to roll our own solution for this as it would mean reimplementing many nontrivial things that are already done by ADIOS2:
* matching read requests with available chunks
* strided reading from

[2022-02-24 15:38] #1188 closed, assigned to guj, franzpoeschel

[2022-03-01 11:50] tmsclark opened #1212 "Problem to open bp file when an attribute is removed at a certain timestep"
Good morning,
I have a problem opening a file with the backend bp when I removed attributes at a certain timestep (E_lvl1, B_lvl1...). Indeed, from this timestep i cannot open the following files, this problem happens only with bp backend. I try to use h5 backend and there is no more problem.

To obtain this error, i just open the files with:
[code]

and I obtain this error :
![image](https://user

[2022-03-03 15:18] pnorbert commented on #1205
There are two differences between BP4 and BP5 directory content:
- BP5 has an `mmd.0` file in it. This is created at open, filled in first step and maybe get more content later.
- `md.idx` byte 37 is the BP version - this is written with the first step (not at open)
[code]

[2022-03-03 15:21] franzpoeschel commented on #1205
Thank you for the info. So we can use some form of automatic detection as long as there is no clear file ending.

[2022-03-03 15:24] pnorbert commented on #1205
Also, using `FileStream` as engine for reading makes adios check for the type of data, and launches BP4 or BP5.

[2022-03-03 15:26] franzpoeschel opened #1216 "ADIOS2 BP5 optimization: Allow users to "give up" their data into openPMD"
With BP5, using PerformPuts has a performance implication unlike in BP4 ([here](https://github.com/ornladios/ADIOS2/issues/2649#issuecomment-1057105950) is a detailed explanation).

Users can currently avoid PerformPuts in two ways:

1. Use the span-based API
2. Use the streaming API and never flush()

A third way could theoretically be by allowing users to release their hold onto data:
[code]

Th

[2022-03-03 15:41] franzpoeschel commented on #1205
Ah, very good
So we can use that as default in reading procedures and not worry much about BP versions

[2022-03-03 16:00] pnorbert commented on #1205
Well, for 4 and 5, not for BP3

[2022-03-03 16:02] franzpoeschel commented on #1205
That's probably ok, since noone is really using BP3 anymore anyway

[2022-03-03 16:04] franzpoeschel commented on #1216
Note: Even if we don't add this change, I suggest that we should add a raw pointer overload for `storeChunk()` so that we can stop promoting the antipattern of non-owning shared pointers.

[2022-03-04 02:47] ax3l opened #1217 "0.15: Do not install toml"
When doing the default super-build, the `toml` sub-project should not be installed.
It's a private dependency.

Follow-up to #1148 #1146.

Similar to:
- #556 / https://github.com/nlohmann/json/pull/1330
- https://stackoverflow.com/questions/35344132/cpack-exclude-install-commands-from-subdirectory-googletest-directory/51746390#51746390

[2022-03-04 02:58] ax3l commented on #1217
X-ref: https://github.com/ToruNiina/toml11/pull/185

[2022-03-04 10:11] franzpoeschel commented on #1217
Should I close https://github.com/openPMD/openPMD-api/pull/1210/files then and we go with your solution as soon as it's merged?

[2022-03-06 06:50] ax3l commented on #1217
We can keep that PR open in case toml11 merges our PR too slowly (aka before we want to cut 0.15.0).

[2022-03-06 07:14] ax3l commented on #1212
@franzpoeschel @tmsclark created two example files. I think this is a problem in the ADIOS2 read logic. Can you take this on, please? :)
Let me know if you have any question on the data file, it's a WarpX one where we have a few constant records at the beginning of a simulation and do not write that record anymore later on (because `B_lvl1` is not part of the simulation anymore after a certain amo

[2022-03-07 18:25] ax3l commented on #1203
Discussed today: ADIOS does not write to undefined index regions in read.

We allocate memory (or a user passes it to us), so we can set this to a value like NaN or zero (make configurable)
https://openpmd-api.readthedocs.io/en/0.14.4/_static/doxyhtml/classopen_p_m_d_1_1_record_component.html#ac31282d2109a693aa48e21a6f76fcb8f

[2022-03-08 14:58] annamalai-ps opened #1221 "Runtime error reading bp files"
Hi! I have been using openpmd-api for a while and I did not have any issues reading .bp files with openPMD-api in Python. Recently I am facing an issue with reading bp files. When I execute:

[code]

I get the following error:

```RuntimeError: [setAttribute] Value for string attribute 'patchSuffixes' must not be empty!```

I am using openpmd-api 0.14.4 and I have attached the bp file.

[planewave

[2022-03-09 15:40] franzpoeschel commented on #1221
**What is happening here**

You have written a dataset with a vector containing one empty string
[code]

In reading, the openPMD-api does not distinguish between single-element vectors and scalar values in ADIOS2 attributes, so it sees this as a single empty string. Empty strings however are disallowed because they are not supported by our HDF5 backend and we want to keep things compatible with al

[2022-03-09 15:55] franzpoeschel commented on #1216
Discussed yesterday in VC:

1. Neither PIConGPU nor WarpX would currently benefit from this since the Span API brings the same benefits and then some. We will for now not implement this optimization.
2. We will propagate a clear distinction between managed and non-managed memory in our storeChunk API to prepare for future optimization potential.

This means that we will prepare a PR that includes

[2022-03-09 16:06] franzpoeschel commented on #1212
This seems to be a bug in writing, the error also occurs when only reading iteration 60:
[code]

Iteration 60 seems to still contain some incomplete scaffolding for the `E_lvl1` field, but no actual data:
[code]

Related: We are planning to make our reading procedures more lenient and skip incomplete items instead of failing. That's an upcoming new feature however, for the moment there is probably

[2022-03-09 16:30] eschnett commented on #1221
@franzpoeschel See [`is_value`](https://adios2.readthedocs.io/en/latest/api_full/api_full.html?highlight=is_value#_CPPv425adios2_attribute_is_valueP11adios2_boolPK16adios2_attribute) to distinguish between scalars ("values") and arrays.

I am also surprised that HDF5 wouldn't support empty strings. I was able to create an HDF5 file with an empty string attribute just fine:
[code]

[2022-03-09 16:39] franzpoeschel commented on #1221
So the functionality definitely exists, but it seems like it is currently not exposed in the C++ bindings (your link is from the C bindings). I've already contacted Norbert about this, maybe he sees something that I don't.

To be fair, the HDF5 backend was written before I started working on openPMD, so Axel will know more about the details here probably

[2022-03-13 21:07] ax3l commented on #1221
Thanks for investigating this and the first work-around in #1223 :+1:

## HDF5

I think the reason we did not support this is because a couple of the involved C calls in both read and write need extra careful handling if used with empty strings, e.g., for vlen strings: #1084
That said, we officially in openPMD only support constant size strings anyway.

For instance, there are calls like `H5Tset_s

[2022-03-14 02:48] ax3l commented on #1217
Fixed via #1227

[2022-03-14 02:48] #1217 closed, assigned to ax3l, franzpoeschel

[2022-03-14 02:51] ax3l commented on #1205
Likely, and if they do we have a manual switch for it (after it crashes for them): `OPENPMD_BP_BACKEND`
https://openpmd-api.readthedocs.io/en/0.14.4/backends/adios1.html

[2022-03-14 02:52] ax3l commented on #1205
Being able to use `.bp3`, `.bp4` and `.bp5` explicitly would nonetheless be cool/explicit/transparent, as we discussed last week. We might need to settle for `.bp` (BP3), `.bp4` and `.bp5` in the end, if I remember the ADIOS1 conventions correctly.

[2022-03-14 04:36] eschnett commented on #1221
I checked, and neither Python nor Julia have any issues reading or writing empty string attributes in HDF5. It should be possible to continue to support writing empty strings, even for HDF5 files. The error reported above was for an ADIOS2 file and was thus unrelated to HDF5.

My case for empty string is: It is always good to support empty containers, and this is often a natural way of expressing

[2022-03-14 10:23] franzpoeschel commented on #1205
`OPENPMD_BP_BACKEND` distinguishes ADIOS1 and ADIOS2, not BP3 and BP4

You remember correctly, I've removed the `.bp3` file ending again since it does not work. Does not matter too much, the important thing is to properly distinguish BP4 and BP5. (Also BP3 is relatively easy to visually spot because it's a file, not a folder)

[2022-03-16 17:08] ax3l commented on #1212
the problem is likely in WarpX: we probably use `maxLevel` (maximum possible refinement level) when we loop and declare records. We should use `finestLevel` (currently used, highest refinement level).

Depends on https://github.com/ECP-WarpX/WarpX/pull/2948

[2022-03-16 17:46] ax3l commented on #1212
Fix proposed in WarpX: https://github.com/ECP-WarpX/WarpX/pull/2970

Since this is purely a downstream bug as we introduce more dynamic mesh-refinement capabilities, I will close the issue here and continue tracking in the WarpX pulll request.

Thank you all for your help, the report and triaging support! :)

[2022-03-16 17:46] #1212 closed, assigned to franzpoeschel

[2022-03-18 18:01] PhilMiller opened #1232 "Python wheel for arm64 macOS on M1 seems to have x86_64 code"
**Describe the bug**

Via WarpX's `run_tests.sh`, I got a pip installation of openPMD_api:

[code]

However, subsequent tests that actually use this code failed to load it in the analysis script:

[code]

**To Reproduce**

On an M1 Mac:

[code]

**Software Environment**
 - version of openPMD-api: 0.14.4
 - installed openPMD-api via: pip
 - operating system: macOS Monterey 12.2.1
 - machine: M1 Mac

[2022-03-18 21:46] ax3l commented on #1232
Thanks for the report!

Can you check if the `universal` wheel https://files.pythonhosted.org/packages/e8/16/6455fa6f1291f9f494f0c3a51093ebb2b5fb5c09ac97439e3db7f2e6eb4c/openPMD_api-0.14.4-cp39-cp39-macosx_10_9_universal2.whl has the same issue?
Update: yep.

[2022-03-22 14:30] franzpoeschel opened #1234 "Read mode: Distinguish random access from streaming/linear access"
**Is your feature request related to a problem? If so, please describe.**

Two angles to this:

1. Calling `Series("data.bp", Access::READ)` will implicitly parse the entire Series in random-access mode. If using `series.readIterations()` afterwards, this is unnecessary. Using a streaming read mode allows us to skip this, possibly simplifying the control flow in the ADIOS2 backend.
2. The upcoming

[2022-03-31 20:38] kevinCassou opened #1238 "Runtime error trying open SMILEI HDF5"
Dear openPMD developers,

We are trying to shift to `openPMD-viewer` for post-processing of [SMILEI ](https://smileipic.github.io/Smilei/) PIC code data output.
Following the doc we tried
[code]
and we got :
[code]
It looks from the **openPMD** standard technical files that it should not be a problem. Main differences (from documentation based on WARP )  that SMILEI PIC code generates one HDF5 for

[2022-04-01 08:09] franzpoeschel commented on #1238
Hello,
this issue is known and has been [recently fixed](https://github.com/openPMD/openPMD-api/pull/1223). If you want to try the dev branch, then I expect things should work.

Background: We don't support writing empty strings due to [corner cases](https://github.com/openPMD/openPMD-api/issues/1221#issuecomment-1066182184) in HDF5. Checking for empty strings accidentally leaked into reading due

[2022-04-13 23:39] ax3l opened #1245 "Print Information About Queued IOTask"
@AlexanderSinn had the great idea to allow the user to print simple information about the `IOTask` queue that we store in
https://github.com/openPMD/openPMD-api/blob/0.14.4/include/openPMD/IO/AbstractIOHandler.hpp#L136

This would be super helpful to know what will be `flush`ed next.

We saw this, because some implementations can accidentally add new operations to the queue.
Our example was In Pyt

[2022-04-19 16:52] ax3l opened #1248 "Streaming: Histogramming of Particle Data"
@aeriforme would like to write a data pipeline that takes all particle data and bins it to a 1D or 2D user-defined histogram.
This would be a great application of our work in @franzpoeschel et al. https://arxiv.org/abs/2107.06108.

Idea: Let's take the script in https://github.com/openPMD/openPMD-api/blob/dev/src/cli/pipe.py as a template and instead of forwarding the data 1:1 to another file form

[2022-04-20 09:38] ZahraRe2021 opened #1249 "Spack: Multiple Packages (WarpX install)"
Hi, i am trying to install openPMD on my ubuntu20.4, X64. I need it to visualize WarpX codes. I don't know why it is not possible to compile warpX with

[code]
as described here: https://warpx.readthedocs.io/en/19.10/building/openpmd.html

So, I tried:
[code]
But I got this error:

[code]
Thanks for your help.

[2022-04-21 00:02] ax3l commented on #1249
Hey @ZahraRe2021,

Thank you for reaching out and the detailed report.

We transitioned WarpX to use `cmake` last year. From your link, it looks like you try to build the October 2019 release of WarpX, which is outdated.

Please follow the guidance here to do a developer install with spack:
https://warpx.readthedocs.io/en/22.04/install/cmake.html

1. use a spack virtual environment (instead of `sp

[2022-04-21 17:03] ax3l opened #1252 "Pandas: Show all Iteration/Shot/Snapshot attributes as DataFrame"
Add a read function that returns the meta-data per shot as a dataframe.

x-ref: https://github.com/openPMD/openPMD-CCD/issues/1

[2022-04-28 08:19] sbastrakov commented on #986
I also recently faced a somewhat similar confusion. i feel [this doc page](https://openpmd-api.readthedocs.io/en/latest/usage/workflow.html) is not fully clear with explaining what `flush()` actually does. Especially `In short: operations requested by storeChunk() and loadChunk() must happen exactly at flush points.` may be understood as file read/write actually happens there, not just as user can

[2022-04-28 09:25] franzpoeschel commented on #986
We don't have full control about what exactly the backend does upon `flush()`. Some backends (HDF5) may immediately write the data to disk, others (ADIOS2) may stage it inside their own memory. There might in future be an added backend-specific `flush()` control because the new BP5 engine in ADIOS2 actually lets us choose.
The only thing that we can really guarantee is that buffers are released af

[2022-04-28 09:49] sbastrakov commented on #986
Yes, I understand that. My point was more that the documentation could be more explicit about it, as with writing it's not obvious that calling `flush()` does not necessarily mean the file operation is actually performed at this moment. E.g. last 3 PIConGPU-related people I discussed it with, all thought `flush() == file write` and if we are passed that on PIConGPU side, the file must have been wr

[2022-04-28 10:30] franzpoeschel commented on #986
Ah, ok. I've added it as a Todo to [this PR](https://github.com/openPMD/openPMD-api/pull/1207) because it fits well within it.

[2022-04-29 00:31] ax3l opened #1257 "ADIOS BP5 Support: Conditional Compile Variant"
Unfortunately, we cannot rely on ADIOS 2.8.0+ to provide BP5 unconditionally.

https://github.com/ornladios/ADIOS2/blob/v2.8.0/CMakeLists.txt#L155

We need to do more checks if that compile option was actually set.

X-ref: https://github.com/ornladios/ADIOS2/issues/3182

[2022-04-29 06:15] #1173 closed, assigned to nobody

[2022-05-02 13:26] franzpoeschel opened #1263 "Performance bug: Premature IO flushing when using scalar components"
See [this line](https://github.com/openPMD/openPMD-api/blob/e5bc793cd2a701bfb3258231629af85187d73b1b/src/Mesh.cpp#L233), similarly in `Record.cpp`.

In some backends, there are performance benefits from avoiding flushes before closing an iteration:

* BP4 engine of ADIOS2: The internal ADIOS2 buffer will be allocated to the correct size upon `Engine::EndStep()`. If flushing before that, it needs t

[2022-05-02 13:40] franzpoeschel commented on #1263
There are other instances of premature flushing triggered by `Series::advance` that block usefulness of deferred mode.
I should do a PR that tries to eliminate them.

[2022-05-02 20:59] ax3l commented on #1263
Just to triage this properly: only in `dev` or also in `0.14.*`?

[2022-05-03 01:23] ax3l opened #1266 "GCC 11.2 Warning About String in IOTask.cpp"
GCC 11.2.0 on Perlmutter for the current `dev`:
[code]

Is that a legit warning, I wonder?

[2022-05-03 09:02] franzpoeschel commented on #1266
I think it is. I think what currently happens is that in each iteration (well there only is one), a `std::string` is constructed on the fly from the `char const *` and then stored inside the const reference, extending its lifetime for the whole iteration.
It doesn't *look* like a copy is happening, so the compiler asks to rewrite it to the more obvious `for (std::string const key: {"resizable"})`,

[2022-05-03 12:18] franzpoeschel commented on #1263
This also affects the release. Not high priority since for BP4 it's only an inconvenience (you can workaround this by specifying `InitialBufferSize`), but you cannot easily workaround the consequences of this for BP5

[2022-05-03 23:12] #1257 closed, assigned to franzpoeschel

[2022-05-06 16:09] #1266 closed, assigned to franzpoeschel

[2022-05-06 16:16] #1263 closed, assigned to nobody

[2022-05-16 08:37] franzpoeschel opened #1273 "BP5 char datatype"
BP5 now distinguishes between `char`, `unsigned char` and `signed char`, the ADIOS2 backend must treat all three datatypes as distinct

[2022-05-16 12:04] franzpoeschel opened #1274 "Add a RandomAccess read mode for BP5"
Currently, files written with BP5 can only be read by using the streaming API. Random-access for BP5 requires opening the engine in a dedicated access mode and steps must not be used.

Options:
1. Add a new read mode `RandomAccess` to the `Access` enum
2. Add a JSON option for BP5 `io_mode = "random_access"` (with alternative option `"steps"`)

[2022-05-19 13:18] franzpoeschel commented on #1274
Alternative solution:

* add a new read mode `Access::Linear` or `Access::Streaming` or so
* the old `Access::Read` becomes the `RandomAccess` mode (which is logical since it already behaves that way)
* the frontend can forego upfront parsing in Streaming mode, the backend knows whether to use steps or not

[2022-05-24 17:53] benjha opened #1280 "Dataframe showing different data than numpy array"
Hi OpenPMD-api team,

I am reading some openPMD datasets with the python api, however numpy and pandas output does not match. Datasets were generated with the PIConGPU code.

Please, see below my code and output, Is there something missing ?

Thanks,

[code]

**Software Environment:**

 - version of openPMD-api: [0.14.4]
 - installed openPMD-api via: [conda-forge]

[2022-05-24 18:07] benjha commented on #1280
Ok,

looks like electrons.to_df() multiplies  data with  unit_SI...

https://github.com/openPMD/openPMD-api/blob/b10fd69ece7eeb619d12b9a43f8987c87e72e3b5/src/binding/python/openpmd_api/DataFrame.py#L65-L67

[2022-05-24 18:07] #1280 closed, assigned to nobody

[2022-05-26 22:29] ax3l opened #1283 "SerialIOTest: UBSAN/ASAN and `DefineAttribute` /date?"
For b10fd69ece7eeb619d12b9a43f8987c87e72e3b5, I saw the following test failure in `dev` after merge of an unrelated PR (#1279) 3 days ago:
[code]

I will restart the test now, but wonder if something is off in that test?

[2022-06-07 17:56] ax3l commented on #1232
PR #1286 that publishes wheeks for 0.14.5 will fix this.
(Fix was prepared in #1233)

[2022-06-08 07:50] ax3l opened #1287 "0.14.5: macOS ADIOS1 Linker Error"
The latest backports introduced the following ADIOS1 linker error on macOS (x86_64):
[code]

First seen in #1286
Also seen in https://github.com/conda-forge/openpmd-api-feedstock/pull/88

I think we need to add `src/IO/Task.cpp` to `IO_ADIOS1_SEQUENTIAL_SOURCE` and `IO_ADIOS1_SOURCE` in `CMakeLists.txt`:
https://github.com/openPMD/openPMD-api/blob/0.14.5/src/IO/IOTask.cpp

We also need to check if

[2022-06-08 07:58] ax3l commented on #1287
Patch for backport of #1288 to `0.14.*` in https://github.com/ax3l/openPMD-api/commit/fcc7674946d6e2a61f0eeb4aaafd905b43a02ccd.patch

[2022-06-08 09:11] ax3l opened #1289 "Catch2 v3+ Support"
Catch3 introduces a few breaking changes and adds a neat no-header-only build by default.

Also, its CMake package is not marked as compatible with version 2 `find_package`, so we need to add manual support for it.
Conda-Forge for instance already ships Catch2 v3.

[2022-06-08 15:28] ax3l commented on #1238
Fixed in the `0.14.5` release.
Thank you for the detailed report and please let us know if you encounter any other errors in the future @kevinCassou :+1:

[2022-06-08 15:28] #1238 closed, assigned to nobody

[2022-06-08 22:12] #1287 closed, assigned to ax3l, franzpoeschel

[2022-06-17 05:22] ax3l opened #1293 "Blosc Issue in 0.14.5 w/ ADIOS2"
A user reported to me the following issue when upgrading openPMD-api 0.14.4 to 0.14.5 via the conda packages.

New read error for data we wrote a while ago with WarpX using openPMD-api and ADIOS2 v2.7.1:

Maybe three was a breaking change in ADIOS2 2.8.0/2.8.1 with regards to operators and/or blosc?

[2022-06-17 08:58] #1273 closed, assigned to franzpoeschel

[2022-06-22 15:21] psychocoderHPC commented on #1293
The error is triggered here: https://github.com/ornladios/ADIOS2/blob/499d26865895f2a40367f09381a86de65557bd76/source/adios2/operator/compress/CompressBlosc.cpp#L248-L250
The error is triggered by a blosclz version change. See [here](https://github.com/ornladios/ADIOS2/blob/499d26865895f2a40367f09381a86de65557bd76/source/adios2/operator/compress/CompressBlosc.h#L100) for a short documenation of th

[2022-06-22 15:33] psychocoderHPC commented on #1293
The problematic line in ADIOS2 2.8.1 was introduced in https://github.com/ornladios/ADIOS2/pull/2932
I am not sure anymore if the blosc header is checked or if this version is an ADIOS internal version.

[update] It is an ADIOS internal version number. I do not know the meaning of the number.

[2022-06-22 15:47] ax3l commented on #1293
Oh, then that's a conda-forge issue where we already build agains the lastest ADIOS2. Need to fixate the version for 0.14.5

[2022-06-22 15:53] ax3l commented on #1293
dang that this is a breaking ADIOS 2.8 change in operators... to be discussed with @pnorbert next time :)

[2022-07-01 21:28] ax3l commented on #1293
I posted an upstream report in https://github.com/ornladios/ADIOS2/issues/3273

I try to temporarily hold back conda-forge builds (https://github.com/conda-forge/openpmd-api-feedstock/pull/89), but other targets such as ParaView superbuilds wil

[2022-07-13 08:52] summer7807 opened #1298 "Catch2 Issue (solved) and HDF5 MPI Question"
Hi guys：
I encountered the following error when installing openpmd on my terminal (Ubuntu 22.04). I don't know what the problem is. Can you give me some advice or guidance? Thank you.
![1](https://user-images.githubusercontent.com/74045515/178692679-f55eef1b-f1e8-4d31-b684-3b3f511538f2.png)
![2](https://user-images.githubusercontent.com/74045515/178692697-7bacf31f-d59e-4a27-81c5-616e2ce6d053.png)

[2022-07-13 09:22] franzpoeschel commented on #1298
Hey,
for the HDF5 error: If you build HDF5 manually, you have to actively enable parallel HDF5. I usually build the CMake version of HDF5 (https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.12/hdf5-1.12.2/src/CMake-hdf5-1.12.2.tar.gz) and then put the CMake options `-DHDF5_BUILD_CPP_LIB=OFF -DHDF5_ENABLE_PARALLEL=ON -DHDF5_BUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF`. (the CPP_LIB parameter is neces

[2022-07-13 17:11] ax3l opened #1300 "ADIOS2 v2.8.1+: MaxOpenFilesAtOnce"
BP5 parameter MaxOpenFilesAtOnce to control how many subfiles to keep open at reading. Useful when running out from file handles at reading.

Let's make sure we can control this from the Python side, so we don't run into `ulimits` in post-processing (e.g., on Jupyter Hubs at NERSC/OLCF).

[2022-07-13 17:15] ax3l opened #1301 "ADIOS2 v2.9.0+: Multi-Threaded Reader"
BP5 multithreaded reader (parameter `Threads`). Default is hw_threads_per_node/process_per_node, max 16. So a serial code will use up to 16 threads to read.

Let's make sure we can control this also from the Python side for post-processing tasks.

Note: for serial readers like DASK this might oversubscribe the node. We need to expose the parameter.

[2022-07-15 13:12] baobaba13 commented on #1298
Hi @franzpoeschel
I tried to install parallel "HDF5" and successfully installed it. But I ran `make -j $(nproc) install`  and reported the following error. I haven't updated the version of "CATCH2". Ran `-dopenpmd_build_testing=off,` I don't know whether this is feasible
![QQ图片20220715210800](https://user-images.githubusercontent.com/39699124/179229767-e05ac3e1-6996-4995-a200-016c14bb949f.png)

![

[2022-07-16 02:33] ax3l commented on #1298
The Catch2 issue should be fixed in `dev` now since #1299 was merged. Thus, you can build again with testing if you like (and temporarily disabling tests was the right call for the issue).

Your HDF5 issue still looks like the HDF5 that is included was not compiled with MPI (aka HDF5 parallel) support enabled. The missing functions are essential HDF5-MPI routines.
Can you share with us the exact c

[2022-07-16 02:45] baobaba13 commented on #1298
Hi @ax3l
I  build the CMake version of HDF5 (https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.12/hdf5-1.12.2/src/CMake-hdf5-1.12.2.tar.gz)
The commands I use are as follows：
`sudo ./configure --prefix=/usr/local/hdf5`
` sudo make`
`sudo make check`
`sudo make install`
`cd /usr/local/hdf5/share/hdf5_examples/c`
`sudo ./run-c-ex.sh`
`sudo h5cc -o h5_extend h5_extend.c`
`sudo ./h5_extend`

[2022-07-16 03:00] ax3l commented on #1298
Thanks!
Following this, how do you make this install location known to openPMD' cmake?

Do you set env vars? Which cmake lines do you call following this?

On July 15, 2022 7:46:09 PM PDT, baobaba13 ***@***.***> wrote:

[2022-07-16 03:11] baobaba13 commented on #1298
Sorry, I didn't call other "cmake" lines after that. I seem to have forgotten to set the environment variable. I thought openpmd could automatically set it. Is there a problem here?In addition, I want to ask, do I need to delete the environment variables of my previous old version of "HDF5"?

[2022-07-27 18:11] matt-stack opened #1306 "Includes in include/openPMD/openPMD.hpp have "openPMD/" prefix causing build error"
**What do you want to achieve, please describe.**

Hello, in include/openPMD openPMD.hpp, all the #includes are prefixed with "openPMD/*", but that file are already in that directory so I am getting a ton of
No such file or directory
   23 | #include "openPMD/config.hpp"
      |          ^~~~~~~~~~~~~~~~~~~~

/include/openPMD has both OpenPMD.hpp and config.hpp, but OpenPMD.hpp calls #include "ope

[2022-07-27 21:48] ax3l commented on #1203
@lucafedeli88 tried using today the direct ADIOS2 Python Numpy bindings (2.7.1 and also 2.8?) - selecting the whole region of a refinement level there shows undefined (scrambled, non-zero) values outside the written region.

This makes me wonder of ADIOS2's read routines fill  unwritten index areas really with zero, or if that is just an issue with the numpy bindings of ADIOS2 @pnorbert.

[2022-07-28 08:38] franzpoeschel commented on #1203
Isn't this expected behavior? ADIOS2 does not fill unwritten index areas with zero, it entirely ignores them.
So, for instance if you use the `std::shared_ptr<T> loadChunk(…)` overload, then the memory will [get allocate](https://github.com/openPMD/openPMD-api/blob/ca451b58210ba8f91d7a4c2aa9b6449c3a5e37d3/include/openPMD/RecordComponent.tpp#L79), but noone will ever write to it, so you get random

[2022-07-28 08:51] franzpoeschel commented on #1203
Also, I'm hesitant to initialize the buffer with zero in that line, as it's a costly operation that most users won't need. If you want a buffer to be filled with data everywhere that there is data, and zero otherwise, I'd say that's a rather application-specific requirement and relatively simple to manually emulate in two lines:
[code]

[2022-07-28 18:50] ax3l commented on #1203
Write: absolutely, there are no regions and they should not be filled.

Read: Undefined regions should maybe be explicit zero or NaN instead of UB in the ADIOS2 Python bindings?

[2022-07-28 19:06] pnorbert commented on #1203
Well, numpy has functions to allocate arrays with initialization, like np.zeros, np.ones, np.full if someone wants to do that.
As Franz explained, adios does not touch memory cells that has no incoming data.

[2022-07-28 19:14] ax3l commented on #1203
Yes, but it's the [] operator that causes this in your bindings already. @lucafedeli88 can you post your example from yesterday here?

[2022-07-29 11:02] franzpoeschel commented on #1306
What exactly are you trying to do? Are you trying to compile openPMD-api or are you trying to include openPMD-api into another project?

`#include` statements inside our source tree are all relative to `/include`, this is intentional. CMake sets the right compiler flags to properly resolve this part. Are you using CMake?

You can try following [these instructions](https://openpmd-api.readthedocs.i

[2022-08-09 18:16] ax3l opened #1308 "0.14.5: ADIOS1 Link Error on macOS"
There is likely an `export` missing for these symbols:
[code]

[2022-08-09 22:26] #1205 closed, assigned to franzpoeschel

[2022-08-10 00:03] ax3l commented on #1293
Fixed in ADIOS 2.8.3+.
Thanks a lot everyone for the quick turn-around and help! :sparkling_heart:

[2022-08-10 00:03] #1293 closed, assigned to ax3l, guj, franzpoeschel

[2022-08-15 09:54] #1308 closed, assigned to ax3l, franzpoeschel

[2022-09-06 13:43] summer7807 commented on #1298
Hi,@franzpoeschel, how to build the cmake version of HDF5, can you give me your detailed commands to build it? I would appreciate it very much

[2022-09-07 10:29] summer7807 commented on #1298
Hi,@ax3l， According to your opinion, I tried to set the environment variable, but openpmd could not be installed correctly, and the same error as above was reported.Can you share with me the exact command line calls you run to install HDF5 and to make it know to openPMD-api's configuration step?I think some of my steps may be set incorrectly,I would appreciate it if you could help me.

[2022-09-12 15:19] franzpoeschel commented on #1298
Hello @summer7807
I normally use something similar to this script:
[code]

Does this help?

If `$PREFIX` is not a system-known location, it's best to extend the `PATH` and `CMAKE_PREFIX_PATH` so that openPMD will find it, e.g.:
[code]

[2022-09-13 12:00] summer7807 commented on #1298
Hello，@franzpoeschel，According to your instructions, I successfully installed openpmd without any errors. But I later made the following error in the `pic-build`step . I don't know why CUDA would look for Alpaka instead of MPI？
![github](https://user-images.githubusercontent.com/74045515/189893974-95f0d7ea-0f8a-472b-995f-8db34b44a4ad.jpg)

[2022-09-14 08:34] franzpoeschel commented on #1298
That's a more PIConGPU-related issue, I can only guess that you would need to install Cuda to resolve this. The developers of https://github.com/ComputationalRadiationPhysics/picongpu/ might know this better, though.

[2022-09-26 22:33] ax3l commented on #1306
Hi @matt-stack, are there any updates on this?

We use openPMD-api via Spack a lot. Spack sets the include path hints to  the `include/` dir in interplay with your build system (e.g., CMake). See the instructions here how to link to your project: https://github.com/openPMD/openPMD-api#linking-to-your-project

Note that you want to write
[code]
with the pointy `<...>` brackets.

[2022-10-17 08:53] denisbertini opened #1317 "Problem installing 0.14.5 with GCC 8.1"
**Performed steps**

try to install the new openpmd-api release:

config:
[code]

led to the following output/problem during compilation

[code]
Could this be linked to a too old GNU (8.1) compiler ?

[2022-10-17 08:56] denisbertini commented on #1317
i changed
`constexpr` to  `const` and it now compiles.
`ctests` are all passed OK.

[2022-10-17 09:07] franzpoeschel commented on #1317
This confuses me a bit, since the `constexpr` at that place is correct ~~C++17~~ C++14 if I'm not severely mistaken, and our CI does cover even older GNU compilers than that.
You did build the `0.14.5` tag, I assume? I also think it's unlikely that you are using the wrong C++ version, otherwise there would have been more issues building without error.
Changing the `constexpr` to `const` here doesn

[2022-10-17 09:08] franzpoeschel commented on #1317
`make VERBOSE=1` would show the failing compiler invocation which *might* help

[2022-10-17 09:13] denisbertini commented on #1317
[code]

[2022-10-17 09:25] franzpoeschel commented on #1317
Ah, I forgot that our release is still C++14, making the wrong C++ version more likely. The definition of  `constexpr` changed slightly from C++11 to C++14:
![Bildschirmfoto vom 2022-10-17 11-20-19](https://user-images.githubusercontent.com/14241876/196140483-1a26601e-fbbc-4181-9db6-9ba08df40c05.png)
https://en.cppreference.com/w/cpp/language/aggregate_initialization#Definitions

For some reason,

[2022-10-17 11:01] denisbertini commented on #1317
reinforcing compilation with ` cmake . -DCMAKE_CXX_FLAGS=-std=c++14`  or `c++17` does not help, always the same compilation error

[2022-10-17 11:46] franzpoeschel commented on #1317
The compiler path looks a bit weird? `/cvmfs/vae.gsi.de/centos7/spack-0.17/opt/linux-centos7-x86_64/gcc-4.8.5/gcc-8.1.0-nswpump2zjkpne3ipmxkqt75dq6s2g7w/bin/g++`. Is this gcc 4.8.5 or gcc 8.1.0?
I can later try this out with the specific compiler version(s), but for now I would say that replacing `constexpr` with `const` seems to be a functional workaround? On `dev`, we have already replaced the `

[2022-10-17 11:51] denisbertini commented on #1317
It is `gcc8.1.01`  installed over a native `centos7` OS with `gcc4.8` as native compiler.
Yes the replacement of `constexpr` to `const` solved the issue

[2022-10-17 15:32] franzpoeschel commented on #1317
The closest version that I had easily access to was gcc 8.5.0, which works without issue for me
[code]

[2022-10-17 15:53] denisbertini commented on #1317
humm, do you think it is a problem linked to the GCC compiler, `gcc 8.1` being too old ?

[2022-10-17 15:55] franzpoeschel commented on #1317
I don't really think so. Our CI also covers gcc 7.5.0.
Maybe @ax3l has another idea?

[2022-10-17 15:57] denisbertini commented on #1317
Yes i also think so, then may be some `cxx_flags` are missing ?

[2022-10-17 16:06] franzpoeschel commented on #1317
It looks like a compiler bug, I just tried this again on godbolt.org: https://godbolt.org/z/GazbG8vss
gcc 8.1 and 8.2 fail, with gcc 8.3 and greater it works
gcc 7 also works

So, the easiest solution would indeed currently be to just stick with the workaround

PS: Also it is apparently linked with the constexpr change from C++11 to 14 that I mentioned above. If I remove the default param, it work

[2022-10-17 21:37] ax3l commented on #1317
Yes, I remember that GCC 8.1-8.2 actually has more than usual C++ frontend compiler bugs. Do you think you can get a newer version of GCC @denisbertini, e.g., 8.3, 8.4, 8.5 or any newer major release of GCC? If you update your spack 0.18.1 instead of 0.17, that should definitely [know these patch releases of GCC](https://github.com/spack/spack/blob/v0.18.1/var/spack/repos/builtin/packages/gcc/pack

[2022-10-17 21:47] ax3l commented on #1306
Hi @matt-stack, how is it going?

Can you provide a few more details how you compiled exactly (commands/Makefile/CMake logic) and apply the suggested changes? :)

[2022-10-17 21:48] #1232 closed, assigned to ax3l

[2022-10-18 14:59] denisbertini opened #1318 "Dataset not properly initialized ?"
**Describe the bug**
Dataset class not properly initialised

**To Reproduce**
trying c++ code from the repository, 1D domain decompostion/particle
[code]
** obtained output **
`Prepared a Dataset of size 50 x 47760564901816 and Datatype DOUBLE`
seems that dataset.extend[1] is not initialised?

[2022-10-18 15:06] franzpoeschel commented on #1318
The extent is initialized from the second parameter of the `Dataset` constructor, where you pass a vector with 1 entry (`{mpi_size}`). So, accessing the second entry of that vector with `dataset.extent[1]` is an out-of-bound access.

Depending on what you are trying to do, you would have to either add a second entry to the dataset extent, or to access only the first.

Did you copy this from `examp

[2022-10-18 15:16] denisbertini commented on #1318
may be you can help, i would like to extend the following example  for parallel writing for particle
[code]
which works fine , to the case where position_local is not one value but a std::vector<double> with specific size ?
Is there an example i can fetch from the repo?

[2022-10-18 15:32] franzpoeschel commented on #1318
Particles are generally a list (more precisely: multiple lists e.g. for x, y, z positions, all with the same size), e.g. a one-dimensional array.
The openPMD-api does not have a distinct particle API for the `Dataset` and `RecordComponent` classes, so you still use the more generic `ds.resetDataset(Datatype::FLOAT, Extent{ 100 })` call, but specify an `Extent` vector with one single entry, to get

[2022-10-18 15:33] franzpoeschel commented on #1318
Maybe this helps, the electron species as written by a PIConGPU simulation. Last column indicates the extent:
[code]

[2022-10-18 15:35] denisbertini commented on #1318
I tried something like
[code]
but it does not seems to work. What am i doing wrong?

[2022-10-18 15:43] denisbertini commented on #1318
well it works ( the hdf file is dumped correctly as expected ) but the SLURM scheduler shows a error message showing a problem in he execution of the code:
[code]

[2022-10-19 08:35] franzpoeschel commented on #1318
The data in the created HDF5 file is also correct?
If you have it installed, you can maybe check if the same error happens with ADIOS2 (change .h5 extension to .bp), but otherwise I haven't seen this error either. Your code looks correct, so I would assume either something system-specific or from within HDF5.
Is the batch file correct? Maybe you do something that triggers Slurm to kill the applica

[2022-10-19 08:40] denisbertini commented on #1318
The problem seems to be cluster-related ... nothing linked to `openpmd-api` ... sorry for the noise.
It seems to work now !

[2022-10-19 08:53] franzpoeschel commented on #1318
glad to hear!

[2022-10-19 08:55] denisbertini commented on #1318
thx for your competent support !

[2022-10-19 09:06] denisbertini opened #1319 "add C array arguments in the storeChunk() function API"
** My problem **
My reading procedure  is implemented via Fortran C interface. The interface exposes on static C arrays
and i need to copy the C arrays to `std::vector` to use the `storeChunk()` function.
I would like to avoid the additionnal copying of the data arrays ( these are huge array holding particle data!)

** Possible solution **
add C static array as argument of the `storeChunk()`

[2022-10-19 09:08] franzpoeschel commented on #1319
[This WIP PR](https://github.com/openPMD/openPMD-api/pull/1229) adds these calls.
Until then, you can use `storeChunk(shareRaw(ptr), offset, extent)` to hijack the `shared_ptr` overloads.

[2022-10-19 09:40] denisbertini commented on #1319
what is the shareRaw() function exactly doing ?

[2022-10-19 09:42] franzpoeschel commented on #1319
It creates a shared pointer from a raw pointer with a no-op destructor, i.e. a non-owning shared pointer.
[code]

[2022-10-19 10:30] denisbertini commented on #1319
ah ok thx !

[2022-10-25 17:33] #1216 closed, assigned to franzpoeschel

[2022-10-26 14:40] berceanu opened #1320 "Geant4 converter"
Hi, a bit of a general question, but is there an openPMD-to-Geant4 converter available?

[2022-10-31 14:44] denisbertini opened #1321 "Writing 2D electric field using mesh and 2D array"
I would like to use the mesh component to store a 2D array containing let say the 2D `x` component electric field `E_x`

I tried something like

[code]
But it won't compile giving an error:
[code]
How can i store a 2D array using the mesh record component? Do you have any example ?

[2022-11-01 10:42] franzpoeschel commented on #1321
C++ array-to-pointer decaying rules seem not to apply to multidimensional arrays. You should be able to use `shareRaw(&data[0][0])` as an alternative.

Note: Your definition of `ex_2d` is a dynamic stack-allocated array, which is not valid C++ but many compilers still accept it. (That construct is only valid in C99 if I remember correctly).
C++ has no really great support for multi-dimensional dyn

[2022-11-01 12:45] denisbertini commented on #1321
You are right about the array, it is just a non valid construct but strange, the compiler did not complain!
I will try your suggestion !
thx

[2022-11-01 14:16] ax3l commented on #1300
@franzpoeschel on Slack:

[2022-11-01 14:21] franzpoeschel commented on #1300
Also discussed: This functionality does not include control via environment variables, which would have to be added manually.
Since we're currently trying to find a sensible default value for this together with the ADIOS2 team, setting our own default (as we do for some other parameters) will probably not be necessary.

[2022-11-04 15:27] matt-stack commented on #1306
Hello, I must have not set the includes paths, I had just built with cmake. I can close this, thank you for your help

[2022-11-04 15:27] #1306 closed, assigned to nobody

[2022-11-04 15:36] ax3l commented on #1306
Thanks for the update, glad this works for you!

Please don't hesitate to reach out if you encounter any other issues :)

[2022-11-11 09:37] PrometheusPi opened #1328 "docstrings in python version / Python documentation"
**Is your feature request related to a problem? If so, please describe.**
If one interactively uses openpmd-api in python e.g. via ipython or jupyter, one might need to look up the usage via reading the docstrings as e.g. below

Python:
[code]

results in a less-user-friendly output
[code]

**Describe the solution you'd like**
It would be fantastic if one could have a more readably docstring for t

[2022-11-11 16:58] ax3l commented on #1221
I see, thanks for the detailed example. We usually solves this in openPMD keywords by explicitly having `none` keywords defined, but I agree this is generally useful.

If we add sufficent testing for it in a PR, then I think it is worth adding support for it. We should check in the tests that ADIOS2 and HDF5 backends handle this well.
If one of them has issues I would ping upstream for fixed as we

[2022-11-11 16:59] ax3l commented on #1221
Let's continue this in a new issue for tracking?

[2022-11-11 23:53] eschnett opened #1329 "Support empty string attributes"
The openPMD_api source code seems to assume that HDF5 cannot store empty strings. I just tried, and both empty string attributes as well as attributes that are arrays of strings (some empty) work fine. I suggest to lift this restriction (unless there is another reason) and to allow empty strings as attributes.

[2022-11-13 15:36] ax3l opened #1330 "Bind to Conduit Blueprints"
It would be interesting to explore a direct connection to Conduit and it's Blueprints for openPMD.

https://llnl-conduit.readthedocs.io

Also, the flexibility of the `conduit::Node` object could be inspiring for our own C++ object hierarchy.

[2022-11-15 00:00] bussmann commented on #1330
I like the idea very much. I have said more than once that essentially everything we do in the code is on data exchange thst could follow an openPMD-style API, as the objects we deal with are particles and meshes. An obvious first candidate is ISAAC to me  but there are other parts, especially plugins that could benefit from this. I thus very much like the idea of Conduit and would not be shy to d

[2022-11-15 05:48] ax3l commented on #1320
We have an implementation in Geant4 that we used to write particles that we then load in WarpX.

You can find the implementation here:
https://github.com/LDAmorim/GPos

[2022-11-15 05:55] ax3l commented on #1328
That's a great point and was a bit undervalued for the initial binding implementation.

One can add to a pybind binding multiple optional arguments with a raw string (body) and `py::arg("name")` for positional function parameters, including an `= ...` assignment for their default values.

Here is an example in ImpactX:
https://github.com/ECP-WarpX/impactx/blob/22.11/src/python/elements.cpp#L136-L1

[2022-11-15 07:08] PrometheusPi commented on #1328
Thanks @ax3l for your reply. And thanks for your code example. I will see if/when I hae time.

[2022-11-15 10:27] franzpoeschel commented on #1330
Sounds definitely interesting as a further backend option.
Side note: For intra-process data exchange, a somewhat lower-hanging fruit would be the [Inline Engine](https://adios2.readthedocs.io/en/latest/engines/engines.html#inline-for-zero-copy) of ADIOS2, which we don't support yet.
The greater challenge (and reason why we did not yet really pursue this path) would be that we would need to either

[2022-11-15 13:55] franzpoeschel opened #1332 "Roadmap: Wishlist of new features"
A wishlist of features after the upcoming releases:

## Near-Term

- [ ] Implement [openPMD 2.0](https://github.com/orgs/openPMD/projects/4)
  - [ ] https://github.com/openPMD/openPMD-standard/issues/142
  - [ ] Custom hierarchies
      see description https://github.com/openPMD/openPMD-standard/issues/115
- [x] New ADIOS2 schema with support for modifiable attributes
    https://github.com/openPM

[2022-11-15 14:08] berceanu commented on #1320
Hi @ax3l, thanks for the reply. So it seems on first look the code you mentioned is a converter in the direction Geant4-to-OpenPMD. At the moment I am interested in the inverse problem, namely taking particles from WarpX and using them as input for Geant4, in a very similar configuration, with a thin foil. I guess that is not implemented?

[2022-11-24 11:45] Anton-Le opened #1335 "Reading a sample of particle data - list-indexing"
It appears to not be possible to select a "sample" of particles from a file except by reading all particles (en-block or in chunks) and selecting thereafter.

I'd like to be able to read the particle data (here: positions) only for a list of particle indices:

An attempt along the lines of :
[code]

fails with the following:
[code]

If such an access is not envisioned this should be noted explicit

[2022-11-25 13:05] franzpoeschel commented on #1328
Might be helpful for a start: https://github.com/pybind/pybind11_mkdoc

[2022-11-29 12:22] PrometheusPi commented on #1328
Thanks @franzpoeschel