[2017-05-05 13:44] ax3l opened #1 "CTest: Add targets"
Add test targets to `CMakeLists.txt` so one can directly build & run the tests with `make test`

[2017-05-05 13:45] ax3l opened #2 "Travis-CI"
Add travis CI

[2017-05-05 13:45] ax3l opened #3 "Docs: Sphinx, Doxygen & Breathe"
Add Sphinx, Doxygen & Breathe

[2017-05-05 13:45] ax3l opened #4 "Docs: Add RTD"
Add RTD auto-build

depends on:
- [x] #3
- [x] #8

[2017-05-05 13:52] ax3l opened #5 "Add LGPLv3+ Headers"
Add LGPLv3+ Headers to files with copyright 2017 & file author

[2017-05-05 13:53] ax3l opened #6 "Add README.rst"
add a readme.rst

[2017-05-05 14:04] ax3l opened #7 "Create spack build package"
create spack build package

depends on:
- [x] #8

[2017-05-05 14:41] ax3l opened #8 "Move to openPMD org"
When the first examples build, move the repo to github.com/openPMD and fork back

[2017-05-05 15:16] #3 closed, assigned to nobody

[2017-07-03 11:45] ax3l opened #9 "Repo Name: openPMD-api"
In consistency with the other repos in the [openPMD organization](https://github.com/openPMD) we should rename this repo to, e.g. `openPMD-api`

[2017-07-03 14:00] ax3l opened #11 "Parallel: Offset Namings"
@C0nsultant namings parameters of offsets of MPI-ranks in parallel writes can be tricky.

Ideally, stick as close as possible to the openPMD namings in parameters.
If anything is missing, [here is how we call offsets in PIConGPU](https://github.com/ComputationalRadiationPhysics/picongpu/wiki/PIConGPU-domain-definitions) to fill the rest. (The old libSplash namings are outdated and inconsistent, do

[2017-08-31 15:35] #2 closed, assigned to nobody

[2017-10-03 15:37] ax3l opened #12 "python API: Dask Compatible"
Idea for  the future:

When we read data in the python API, we should make sure this is compatible and possible to be distributed for compute tasks inside [dask](http://dask.pydata.org). See the hdf5 read example within. (Similar to [pyDive](https://github.com/ComputationalRadiationPhysics/pyDive), but more powerful.)

[2018-01-15 12:07] ax3l opened #15 "Writing and Reading Non-openPMD Infos"
It would be necessary to allow storing non-openPMD information as well.

In the simple case, this means adding additional, user-defined attributes to records, record-components and paths.

In the more complex case, application specific states such as RNG states, unqiue-number-generator states, etc. need to be stored as records outside of the openPMD-interpreted paths.

[2018-01-15 12:26] ax3l opened #16 "Structure: openPMD/ dir and namespace"
All includes should be inside a `openPMD/` directory for grouping and additionally in an `openPMD::` namespace. A collective `openPMD/openPMD.hpp` include file would be nice as well.

[2018-01-15 12:33] ax3l opened #17 "ParalleIOTest failing"
@C0nsultant currently, the `ParalleIOTest.cpp` does not compile.

Issues are:
- access to the `Series()` object
- changed API of the `loadChunk()` member function.

I think the first issue is solvable via
[code]

Can you please provide a PR that fixes the test?

[2018-01-15 12:36] anokfireball commented on #15
The simple case is already possible, maybe not made explicit enough yet. Every "position" in an openPMD hierearchy (which in this APIs terms is an ```Attributable```) supports a templated operation [```setAttribute```](https://github.com/openPMD/openPMD-api/blob/0.9.0-alpha/include/openPMD/backend/Attributable.hpp#L91-L105), taking a string and a generic argument whose type has to map to a support

[2018-01-15 12:41] ax3l commented on #15
That's already a great start, thx! :)

The latter case is quite relevant for PIConGPU checkpoints.

[2018-01-15 19:13] ax3l opened #18 "HighFive: C++ API HDF5"
TIL: https://github.com/BlueBrain/HighFive

A third-party, C++(11) API for HDF5, even supporting parallel I/O :)

(Note: we stay with the official C-API for our HDF5 backend now. But if we want to try this C++ library, we would write a *second* `HighFive` backend for it.)

We currently implement serial & parallel HDF5 via the official HDF5 C-API.

Additionally, we could implement another HDF5 back

[2018-01-15 21:40] ax3l commented on #17
I will just disable the test in  #13 for now so I can finish my contribution.
Please feel free to comment in the one line in `CMakeLists.txt` that disables it as soon as this test is fixed:
[code]

[2018-01-16 10:00] ax3l opened #19 "Series Constructor: Path & File?"
Do we really need both a path and a file (prefix) attribute in the (`Series`) constructors?

Probably it is also possible just to pass one string and split to `basename` with boost, similar to `yt` and `openPMD-viewer`.

[2018-01-16 12:38] #1 closed, assigned to ax3l

[2018-01-30 13:04] ax3l commented on #7
A draft can be found here: https://github.com/ComputationalRadiationPhysics/spack-repo/tree/gh-pages/packages/openpmd-api

[2018-02-02 14:03] anokfireball commented on #19
Changed in #24 .

[2018-02-02 14:03] #19 closed, assigned to anokfireball

[2018-02-05 09:38] ax3l opened #28 "HDF5 Closing: uninitialised byte(s)"
Running `valgrind` on the `SerialIOTests` reviles uninitialised bytes in HDF5 close.

Maybe check what's given into `HDF5IOHandlerImpl::~HDF5IOHandlerImpl()` in file [`HDF5IOHandler.cpp:69`](https://github.com/ComputationalRadiationPhysics/libopenPMD/blob/a9e8c615fd825fb537d9158d440d623c1e38f003/src/IO/HDF5/HDF5IOHandler.cpp#L69)?

Note: I did run the binary *without* downloaded sample files.

[co

[2018-02-05 09:44] ax3l opened #29 "poc_HDF5writer: Segfault / Uninit Values"
The HDF5 writer POC binary segfaults on some machines. Checking it with valgrind reviles some jumps/moves depending on uninitialized values:

### Software

- gcc 4.9.2
- HDF5 1.10.0.1
- OpenMPI 2.0.2 (MPI: 3.1)
- valgrind 3.12.0.SVN

on Debian 9.3 (64bit)

### Valgrind

[code]

[2018-02-05 09:55] anokfireball commented on #28
Without looking very deep into this yet:
The argument passed to ```H5Fclose``` are all ```hid_t``` open file handles of files created with or opened by the HDF5 backend (lines [183](https://github.com/ComputationalRadiationPhysics/libopenPMD/blob/a9e8c615fd825fb537d9158d440d623c1e38f003/src/IO/HDF5/HDF5IOHandler.cpp#L183) and [415](https://github.com/ComputationalRadiationPhysics/libopenPMD/blob/a

[2018-02-05 10:51] ax3l commented on #17
compiles now but I still get a RT segfault on travis: https://travis-ci.org/ComputationalRadiationPhysics/libopenPMD/jobs/337479031

[2018-02-09 10:56] anokfireball commented on #17
Reducing this to the minimal faulty part (Boost test + MPI strips the error messages)
[code]
reveals that tearing down the user-created HDF5 objects and opened files fails:

  #000: H5P.c line 1517 in H5Pclose(): can't close
    major: Property lists
    minor: Unable to free object
  #001: H5I.c line 1352 in H5I_dec_app_ref(): can't decrement ID ref count
    major: Object atom
    minor: Unable

[2018-02-09 17:55] ax3l opened #32 "Python (Numpy) API"
This issue is about providing a general Python API on top of C++ that can be used in various projects, both parallel and serial.

Possible libraries for bindings:
- https://github.com/pybind/pybind11
- [xtensor-python](https://github.com/QuantStack/xtensor-python)

Ideally, it would be compatible to libs such as Dask #12 and shall very numpy-like for low-level data-access.

[2018-02-09 17:58] ax3l opened #33 "NetCDF backend"
A [NetCDF backend](https://www.unidata.ucar.edu/software/netcdf/) would be useful for FermiLab & SLAC codes.

Note: NetCDF4 can use HDF5 underneath.

Note: NetCDF also supports serial & parallel I/O.

Resources: [how to write a backend](https://openpmd-api.readthedocs.io/en/latest/dev/backend.html)

[2018-02-09 17:59] ax3l commented on #6
done

[2018-02-09 17:59] #6 closed, assigned to nobody

[2018-02-09 18:01] ax3l opened #34 "Docs: Contribution Guide"
Add a contribution guide explaining the `dev`-`master` development model, issues & PRs, reviews, etc.

Can in broad parts be taken from e.g. [PIConGPU's guide](https://picongpu.readthedocs.io/en/0.3.1/dev/CONTRIBUTING.html)

[2018-02-09 18:02] ax3l opened #35 "Docs: How to Write a Backend"
Write a document documenting how to implement and what the concepts of a (new) backend are.

The according file to modify is:
- `docs/source/dev/backend.rst`

[2018-02-09 18:03] ax3l opened #36 "Docs: Example Codes"
Add compiling, self-contained examples for
- serial read
- serial write
- parallel read
- parallel write

Add them in the manual and CI.

Please keep them as short and to the point as possible and place them in `examples/` with meaningful names such as `serial-reader.cpp`, `parallel-writer.cpp`, etc.

Then soft-link and include those examples in `docs/source/usage/serial.rst` (`parallel.rst`)

[2018-02-09 18:04] ax3l opened #37 "Example: MPI Benchmark"
We need to add a parallel read & write MPI benchmark at some point, that can be scaled with ranks e.g. for 3D meshes and large particle records.

It can then measure performance in terms of bandwidth, etc.

[2018-02-09 18:57] ax3l opened #38 "CMake target: openPMD"
We currently build two "library" targets, core and io.

We should add a general "openPMD" target (with associated `libopenPMD.[a|so]`) so we do not confuse people.

[2018-02-09 21:39] ax3l opened #44 "MPI_INFO_ENV"
Currently the parallel test fails due to a missing `MPI_INFO_ENV` in `mpi.h`.

Please be aware this is an MPI 3.0+ feature:
  https://www.open-mpi.org/doc/v2.0/man3/MPI_Info_env.3.php

While requesting MPI 2.3+ support is very common, MPI 3+ is not necessarily yet common (standard: 2012) but might be acceptable nowadays. This just means our OpenMPI/MPICH/... dependencies need to be "quite recent"

[2018-02-10 11:28] ax3l opened #48 "openPMD 1.1.0 Support: optional paths"
As a minor improvement of the `1.0.X` series of openPMD, the `meshesPath` and `particlesPath` are not optional and interpreted as "no meshes/particles" if missing. We need to add this logic in both writers and readers.

Changelog of openPMD 1.1.0:

https://github.com/openPMD/openPMD-standard/releases/tag/1.1.0

[2018-02-10 16:45] ax3l opened #50 "bool: h5py compatible"
Representing `bool` types in HDF5 is [not pre-defined in HDF5](https://support.hdfgroup.org/HDF5/hdf5-quest.html#bool) and can e.g. be implemented via [enums](https://support.hdfgroup.org/HDF5/doc/H5.user/Datatypes.html#Datatypes_Enum).

Those are a little tricky and even case sensitive but can be implemented in a widely accepted way, that e.g. [`h5py`](http://docs.h5py.org/en/latest/faq.html) und

[2018-02-11 12:11] anokfireball commented on #50
I took the guts of the problem straight from splash and integrated them into the HDF5 [backend](https://github.com/ComputationalRadiationPhysics/libopenPMD/blob/dev/src/IO/HDF5/HDF5IOHandler.cpp#L46).

Writing a bool works such that the value is h5py compliant. Reading [apparently](https://github.com/ComputationalRadiationPhysics/libopenPMD/blob/dev/src/IO/HDF5/HDF5IOHandler.cpp#L1122) does not. I

[2018-02-11 12:35] ax3l commented on #50
In the link above, we check for `bools` as follows in splash during reads:
[code]

If I remember correctly, it's important to check a datatype for `ints` before "bools" before other enums:
https://github.com/ComputationalRadiationPhysics/libSplash/blob/v1.7.0/src/generateCollectionType.cpp#L67-L127

[2018-02-12 08:45] ax3l commented on #9
@C0nsultant I am renaming and moving this repo now

[2018-02-12 08:45] ax3l commented on #9
please update your local `git remote`s accordingly to `github.com/openPMD/openPMD-api` as new mainline

[2018-02-12 08:50] #8 closed, assigned to ax3l

[2018-02-12 08:50] #9 closed, assigned to nobody

[2018-02-12 19:07] anokfireball commented on #50
@ax3l Is there any intent to support arrays of bools (as opposed to bitfields in unsigned integers) as an Attribute datatype?

[2018-02-12 19:11] ax3l commented on #50
Tbh, I don't get the question.

Yes, single and arrays of bools are useful attributes in general. As long as stuff is `h5py` compatible it's fine and afaik `h5py` does *not* support bitfields as bools?

[2018-02-12 19:16] anokfireball commented on #50
Let me try again:

The standard never mentions bool explicitly. So the functionality in this issue is for generality and merely convenience for the user.

What I was trying to get at: Do you see any need for explicit vectors/arrays of bools? By means of of uint 8-, 16-, 32- and 64- sized arrays are possible. With this enum-feature implemented, shall we support explicit arrays of bool with arbitrar

[2018-02-12 22:27] ax3l commented on #50
You mean as individual date (`H5T_class_t`)?

I am currently only aware of applications where we use e.g. a 1D particle record of bool and single scalar attributes of bool.

Anyway, openPMD is agnostic in what users choose as actual data types.

[2018-02-13 00:39] ax3l commented on #4
done :)

[2018-02-13 00:39] #4 closed, assigned to ax3l

[2018-02-13 01:37] ax3l opened #61 "CMake: Component NOMPI"
We should add a CMake component `NOMPI` to our configuration package to allow explicitly searching for no-MPI installs in `find_package`.

[2018-02-13 01:39] ax3l opened #62 "Sphinx: C++/Py Side-By-Side"
We should add a little CSS hack in `docs/source/_static/` that layouts directly following C++ and Python code blocks side-by-side.

Depends on
- [ ] #32

[2018-02-13 01:47] ax3l opened #63 "CI: Appveyor"
Add appveyor to CI for testing Windows platforms.

Serial testing and python support is probably sufficient.

[2018-02-13 09:11] anokfireball commented on #50
The merged PR only handles single scalar attributes. No arrays of attributes or records.

[2018-02-13 09:11] #48 closed, assigned to anokfireball

[2018-02-13 09:44] ax3l commented on #50
I leave this open until we have a CI step in which we read a generated output with h5py.
I have to add more to the CI anyway (GCC 6, pep8/pyflakes, etc.)

[2018-02-13 13:59] ax3l commented on #36
@C0nsultant would be cool if you can do this issue next

[2018-02-13 14:08] ax3l opened #65 "JSON"
A (serial-only) JSON IO-backend would be cool.

[2018-02-15 16:05] ax3l opened #70 "Remove Boost Dependency"
~~Please replace boost MPL lists with mp11 lists.
Requires Boost 1.66.0+~~

Update: oh wait, that is only boost variant you are controlling, right?

Anyway, careful with global `BOOST_MPL_` defines *in-code*! Better set them in CMake as `PUBLIC` target properties since downstream code might use `BOOST_MPL` as well! (and the compile-time impact of `BOOST_MPL_CFG_NO_PREPROCESSED_HEADERS` might be bi

[2018-02-16 09:08] anokfireball commented on #70
Yes, those [```#defines```](https://github.com/openPMD/openPMD-api/blob/1eb2872cd33814bdfce145ed89a54bc0c2296b88/include/auxiliary/Variadic.hpp#L23) are there to increase the default limit of MPL lists.

Agreed, it is very hacky and unelegant. It it mainly in there since we did have the Boost dependency and I did not want to bother implementing a varaidic/any from scratch.

Agreed, this should be

[2018-02-16 09:16] anokfireball commented on #38
The split into IO and core libraries was primairly aimed at speeding up compile times. Adding a union version that includes both should be effortless yet simplify usage.

Shall we include three library targets (IO, core, combined) or just the combined target? If you consider the user's perspective, a single one should suffice. From a developer's perspective, it would be beneficial to have all thre

[2018-02-16 09:19] anokfireball commented on #44
This was merely a exploratory test of what we could do with the new MPI_INFO. I abondoned it since it does not provide information useful to an already communicator-aware HDF5 backend. It being MPI3+ does not make it any more appealing.

[2018-02-16 09:19] #44 closed, assigned to anokfireball

[2018-02-16 09:50] ax3l commented on #38
The splitting makes absolute sense and is fine!

Nevertheless, be aware that CMake/Make parallelizes compiles over translation units, not CMake targets. So besides the linking step, it makes no real difference.

If you like I can adjust the CMake and then create one final target that is installed only.

[2018-02-16 10:03] ax3l commented on #38
I tried adding an intermedia `OBJECT` library but that makes linking dependencies a bit stupid because I can't add it there but only directly in the final target.

If you don't mind, I will therefore reduce the install just to one target for the C++ lib, also requiring only one link step.

[2018-02-16 12:45] #38 closed, assigned to ax3l, anokfireball

[2018-02-16 16:00] #36 closed, assigned to anokfireball

[2018-02-16 16:12] anokfireball commented on #29
This can not be reproduced as of bacefddc08152cdf1a979f9c9fbd26bff92c8e09 .

[2018-02-16 16:12] #29 closed, assigned to anokfireball

[2018-02-16 16:17] anokfireball commented on #17
This was fixed in #30 .
The problem was the scope of the Series. ```MPI_Finalize``` was called *before* the destructor of an MPI-aware HDF5 context had completed, resulting in UB.

[2018-02-16 16:17] #17 closed, assigned to anokfireball

[2018-02-17 10:58] anokfireball opened #78 "Rename Variadic to Variant"
The generic storage used for e.g. Attribute values was initially designed to store arbitrary datatypes, hence the name ```Variadic``` was chosen.

During developement it became pretty obvious that a restriction to a finite, predefined set of datatypes is the more sensible way. Since ```boost```/```mpark```/```std``` ```variant```s do exactly that, they have been used all along.

I propose to renam

[2018-02-18 17:26] ax3l commented on #78
Agreed!

[2018-02-19 11:50] ax3l commented on #16
I am currently working on this

[2018-02-19 17:27] #16 closed, assigned to ax3l

[2018-02-19 17:53] ax3l opened #82 "Namespace Per Dir"
Follow-up to #81.

Each directory inside `include/openPMD/` should define everything in a `namespace` with the same name as the dir.

- `backend/`  (`openPMD::backend`)
- `IO/`  (`openPMD::IO`)
  - `ADIOS/`  (`openPMD::IO::ADIOS`)
  - `HDF5/`  (`openPMD::IO::HDF5`)

[2018-02-19 18:32] ax3l opened #84 "Pickle Support"
Add [pickle support](https://pybind11.readthedocs.io/en/master/advanced/classes.html#pickling-support) to user-facing classes and states.

We have to check if that is entirely possible and if things like file-handles need to be restored/properly shut down/etc. Probably depends on #171 as well.

[2018-02-20 08:56] ax3l opened #85 "Ext: Species Type"
Add support to define a *particle species* to each *record*.
This includes *particle* and *mesh* records: https://github.com/openPMD/openPMD-standard/pull/180

[2018-02-20 09:00] ax3l opened #86 "Travis: OSX"
Add a single OSX build to the travis build matrix.

[2018-02-20 09:06] ax3l opened #87 "Versioning Scheme"
Versioning of the lib can be tricky since the `openPMD` [base standard](https://github.com/openPMD/openPMD-standard) also has a version and we want to avoid confusion.

The idea I came up with yet was to use always the **same major version** of `openPMD-api` as the base standard and try to support all minor versions of this major (but not previous major versions; see [updater](https://github.com/o

[2018-02-26 14:02] CFGrote commented on #32
Hi @ax3l,
i was just about to start sth. similar in simex when i saw this.
i can help out here if needed. any pointers how to get started (prototype, specification etc?)

[2018-02-26 16:17] ax3l commented on #32
Hi @CFGrote , great to read you!
We are short before a first useful prototype, sorry I did not ping you yet!

Shall we quickly give each other a call? I will be leaving for a working travel soon and am a bit in a hurry these days...

[2018-02-26 16:17] ax3l commented on #32
Please also see #59 :) It's quite far :)

[2018-02-27 08:10] CFGrote commented on #32
hi @ax3l,
no rush, i can wait for the prototype. have to clear my desk first,
anyway. let's touch base when you're back from travel or otherwise find
the time.

carsten

On 02/26/2018 05:17 PM, Axel Huebl wrote:

--
Dr. Carsten Fortmann-Grote
Scientist for Scientific Simulations / Wissenschaftler fuer
wissenschaftliche Simulationen
European XFEL GmbH
Holzkoppel 4
22869 Schenefeld
Germany

Phone: +

[2018-02-27 09:42] ax3l commented on #32
### Current status of the Python bindings

As soon as ~~#59~~ is merged (*now*), the initial structure, a mini-example, compile infrastructure with CMake and dependencies and CI is available. One can then start to iterate over attributes and the common openPMD objects.

### The next steps are

- [x] **skip for now:** add a [`setup.py`](https://github.com/pybind/cmake_example/blob/master/setup.py)

[2018-03-03 15:32] ax3l commented on #32
@CFGrote first bindings and an example are now merged with #59 :)
Feel free to start you numpy (python buffer protocol) experiments when you have the time! :)

[2018-03-03 16:16] ax3l opened #91 "loadChunk: std::future?"
We could `.loadChunk()` let return a `std::future` which would make it on "simple use" (not using the result val -> destroyed) a blocking operation and on extended use (using the future) a nice C++11-ish object.

Any comments?

The question is then still how to bind the *async* functionality to Python...

[2018-03-03 18:45] anokfireball commented on #91
On first thought, I like the idea of spreading this invisible mechanism. Ideomatic async-on-demand is a really nice feature that could be integrated into more of our workflows.

_I assume_ you had something like this in mind:
[code]
With that in mind, I think ```.loadChunk()``` is not a good place to apply it for two reasons:
- It would make the intended workflow less obvious.
Let me outline the r

[2018-03-03 19:51] ax3l commented on #91
The idea is actually from an implementation in another, still private, repo we are currently developing with @michaelsippel . We can fill you in offline for now - I think that would interest you as well and has some pretty neat concepts for larger integration. Anyway, it would operate on top of what we discuss here.

[2018-03-03 19:58] ax3l commented on #91
back to topic: I don't see why the current concept should not allow to return a future which is only (as now) fullfilled if the latest IOtask (and all before it) are done? But for consistency, every operation you mention above should then return a future which can be messy in handling many objects (or very synchronous if directly destructed) as well. We probably need to think this further in case

[2018-03-08 17:20] ax3l commented on #35
@c0nsultant a gentle reminder to please write this section in the manual so our collaborators know how to start :-)

[2018-03-09 18:22] psychocoderHPC opened #95 "uint64_t should be used for all extents"
I am not sure if 32bit systems should be supported but if than uint64_t should be used for all extents instead of size_t. size_t is 32bit on 32bit systems and can result in issues with offsets or extents over 4GiB.
I saw in the code that offset and extent is defined as uint64_t but on many other places size_t is used.

[2018-03-10 06:38] ax3l opened #98 "Fix Clang Warnings"
We should fix all the clang (5.0) warnings that are currently raised in the code.

We should try to aim to be warning free with the following compiler flags:
[code]

[2018-03-10 07:02] ax3l opened #99 "Python MPI Support"
Part of #32: Add MPI support to the Python API with [mpi4py](https://github.com/mpi4py/mpi4py).
As in the C++ API, MPI support must be provided optionally.

Example implementations of pybind11 + mpi4py:
- [ADIOS2](https://github.com/ornladios/ADIOS2/tree/master/bindings/Python)

[2018-04-05 15:01] anokfireball opened #113 "Handle possible combinations of backends and MPI gracefully"
This will result in a more general solution of #108.

Currently, all backends that are MPI-aware only provide their MPI-aware interfaces if **both** MPI and the required libraries are available. As such, these combinations are handled well:
- noMPI+noBACKEND
- noMPI+BACKEND
- MPI+BACKEND

If MPI is available, but the backend is inactive, there is no constructor with an interface matching the calls

[2018-04-06 11:58] ax3l commented on #86
implemented :)
(throws some visibility warnings still)

[2018-04-06 11:58] #86 closed, assigned to ax3l

[2018-04-07 10:15] ax3l commented on #65
A good backend provider for JSON is most likely the popular, header-only: https://github.com/nlohmann/json

[2018-04-11 09:42] anokfireball opened #122 "C++ code style & static code analysis in CI"
It would be desirable to also have multiple checks for code quality, code style and static analysis of the code, independent of the compiler.

Possible code style checkers:
- [cpplint](https://github.com/google/styleguide/tree/gh-pages/cpplint) (Google)
- [KWStyle](https://github.com/Kitware/KWStyle) (KitWare)
- [vera++](https://bitbucket.org/verateam/vera/wiki/Introduction)
- ~[clang-format](http

[2018-04-11 09:44] #35 closed, assigned to anokfireball

[2018-04-11 10:43] #78 closed, assigned to anokfireball

[2018-04-11 11:55] #113 closed, assigned to nobody

[2018-04-11 12:35] ax3l commented on #122
Added [clang-format](https://clang.llvm.org/docs/ClangFormatStyleOptions.html) to the list.
Style questions related to https://github.com/ComputationalRadiationPhysics/contributing, so we can share them if we find something useful.

[ADIOS2](https://github.com/ornladios/ADIOS2/) has two example dotfiles in their repo for `clang-format` and `clang-tidy`.

[2018-04-11 12:39] ax3l commented on #122
Added [clang-analyzer](https://clang-analyzer.llvm.org/scan-build.html) and [include_what_you_use](https://include-what-you-use.org/) to the 2nd list.

Here is a great resource on how to integrate common tools in modern CMake:
https://cliutils.gitlab.io/modern-cmake/chapters/features/utilities.html

[2018-04-12 10:00] ax3l commented on #33
@lge0303 is interested in providing an implementation. Thank you! :sparkles:

I did sent you a GitHub invite to the openPMD organization so I can assign you in issues :)

[2018-04-13 09:28] ax3l opened #130 "Namespace for Tests"
Tests should also be placed in C++ namespaces.

This way we can keep them included in doxygen builds but they do not pollute the root scope.

Please see http://www.openpmd.org/openPMD-api/annotated.html for reference :)

[2018-04-16 13:09] ax3l commented on #7
Moved the current draft as `develop`-only versioned package upstream: https://github.com/spack/spack/pull/7765

Will remove the draft from our spack-repo.

[2018-04-16 13:45] anokfireball opened #134 "Adhere to CRP C++ Style Guide"
https://github.com/ComputationalRadiationPhysics/contributing/blob/master/codingGuideLines/cpp.md
What this project does not do:
- [ ] doxygen ```@file ...``` documentation
- [ ] wrap at line 80 (we do 120-ish)
- [ ] no code alignment
- [ ] indentation inside the deepest namespace
- [ ] spaces around parameters in single-argument functions
- [ ] trailing return type declaration (for lambdas, AFAIK

[2018-04-16 14:38] #130 closed, assigned to anokfireball

[2018-04-17 14:41] anokfireball opened #135 "Test cases with 0-sized reads & writes"
To verify the desired parallel behaviour, we should add tests where multiple participants from an MPI-communicator contribute 0-sized chunks to a collective IO operation.

A minimal example would consist of 3 ranks with multiple tested combinations of empty/non-empty chunks.

[2018-04-19 16:09] ax3l commented on #70
The last thing that is left is `boost::filesystem` (`boost/filesystem.hpp`).

The functionality we need from it is (@C0nsultant pls append if I missed something):
- `path` (object)
- `exists` (dir, file)
- `directory_iterator`
- `create_directories`
- `remove` (file)

(all of this: Linux/Unix, OSX, Windows)

[2018-04-20 03:33] anokfireball commented on #70
That should be it. To put it in terms less specific to Boost:
 - directory existence check
 - directory creation
 - directory content listing
 - file existence check
 - file deletion

[2018-04-20 14:29] #7 closed, assigned to ax3l

[2018-04-20 15:51] ax3l opened #137 "MeshRecordComponent: Frontend"
The `MeshRecordComponent` is currently located in the backend but used in the user-frontend.

It should therefore be moved accordingly.

[2018-04-20 15:56] ax3l opened #138 "load/storeChunk: slice view"
The `A.storeChunk(data, offset, extent)` and `A.loadChunk(data, chunk_offset, chunk_extent)` methods should for syntactic sugar provide a slice-view access of the form:

[code]

[2018-04-20 16:05] ax3l commented on #138
Hm, maybe we can also implements views when we add the `xtensor` frontend

https://xtensor.readthedocs.io/en/latest/basic_usage.html

related to #32

[2018-04-21 21:40] ax3l opened #140 "storeChunk: shared_ptr only?"
Quick question regarding the write `storeChunk` API.
Why does it only accept `shared_ptr`s as parameters?

I was playing around with use cases where user data is allocated in containers such as `std::array` and `std::vector` in which the data layout is guaranteed to be [contiguous and access is well-defined](http://en.cppreference.com/w/cpp/container/vector) ([ContiguousContainer](http://en.cppref

[2018-04-23 05:34] anokfireball commented on #140
The main reason for employing ```shared_ptr```s was to make the shared ownership during unfinished IO explicit. Raw C-style pointers were also considered, but discarded as they give no insight into what happens to them over time.

ContiguousContainers store data in exactly the way ```storeChunk``` expects - as one unstrided contiguous slab of values, one after the other. So to get the values of a

[2018-04-23 06:46] ax3l commented on #140
Yep, I really like the incentive.

Excellent, nice! :sparkles: That was my implied question.

Yes, that's what I thought & did initially as well. Unfortunately, a `std::shared_ptr<int>( v.data() )` will always lead to a double free when the shared pointer is destroyed (because a vector can not *share* the access to its data).

neat trick, thanks!

Nevertheless, I don't think that's good design if

[2018-04-23 07:12] ax3l commented on #140
Implementing your empty-deleter recommendation above I am thinking we could otherwise also keep the single-interface and add a util/helper of the form "raw pointer passing" or "unsave passing" for the cases mentioned above (user-given containers without proper sharing ability):

[code]

What do you think?

[2018-04-23 07:20] ax3l opened #141 "API Doxygen: Collective"
Some of the public APIs still lack proper doxygen docs for their parameters.

Even more important, behaviour such as required collective calls (for the current MPI_Communicator) such as Series constructors/destructors, store/loadChunk, attribute writing, ... need be to mentioned in the respective method descriptions to avoid confusion.

[2018-04-23 07:22] ax3l commented on #135
In case `storeChunk`/`loadChunk` are (not) always collective: a test where the zero-writers do/do *not* participate should also be added.

(I fear this is probably backed-dependent...)

[2018-04-23 10:02] anokfireball commented on #140
The intention behind what is now [```auxiliary::allocatePtr()```](https://github.com/openPMD/openPMD-api/blob/dev/include/openPMD/auxiliary/Memory.hpp#L15) was something along these lines (the user-side API changed and it became unneccessary, is now used internally).

Personally, I'd like to keep one single interface for load/store (unless we introduce xtensor at some point). It just keeps the int

[2018-04-23 11:49] ax3l commented on #140
Sounds good, maybe `shareRaw` would be even more specific as a name?

[2018-04-24 07:48] ax3l opened #143 "Series Factories: Lifetime Control"
Currently the `create` and `read` factories of the Series only return an instance.

Nevertheless, the Series is not cleanly movable atm, which makes it cumbersome to control its object lifetime outside of the stack or in member variables, e.g. as smart pointer instances. Also, it makes binding to Python hard since where I would either pass a unique pointer or move it fully into the python ownershi

[2018-04-24 07:56] ax3l opened #144 "Reference Return is Dangerous"
From the first `1_structure.cpp` example:
[code]

Such constructs can be quite dangerous if users forget the `&`. Are for all those objects the
- copy constructors
- assignment operators
- move constructors?

properly protected?

Otherwise users will copy objects and operate on them without ever modifying the actual ones they aimed for.

Possible, verbose alternative: some kind of handles as wrapp

[2018-04-24 08:32] anokfireball commented on #144
This has been in the back of my mind during the whole devlopement.
The main influence for this behaviour was interface design without consideration for implementation.

Your fear is correct - the obejcts are detatched during copies and only reattached when reassigned.
My proposal is to keep the current interface and implement what you call handles. Each ```Writable``` would then be a wrapper and c

[2018-04-24 21:45] ax3l opened #145 "Finishing 1_structure.cpp"
The example under `examples/1_structure.cpp` is still unfinished (and throws unused warnings).

[2018-04-25 09:03] ax3l commented on #143
As a work-around I created a `createPtr` factory for now to bind to Python.

Anyway, I wonder why we have the `read` and `create` factories for the `Series` object at all - the constructor signatures are as simple as the factories and if copies/moves/etc. are unsave we can just delete those.

[2018-04-25 14:18] ax3l opened #147 "Index Order Mappings"
With the removal of [dataOrder](https://github.com/openPMD/openPMD-standard/pull/194) in openPMD 2.0 and the confusion it already adds in 1.0.0 we should provide an API that makes it easy to set/read attributes such as:

*base standard* attributes:
- `axisLabels`
- `gridSpacing`
- `gridGlobalOffset`
- `shape` of constant record components

and *ED-PIC* extension attributes:
- `fieldBoundary`
- `pa

[2018-04-26 08:46] ax3l opened #148 "ADIOS2 Backend"
We want to add a backend for [ADIOS2](https://github.com/ornladios/ADIOS2).

 Although it has not yet reached feature parity with ADIOS1 at the time of writing, version [2.1.1](https://github.com/ornladios/ADIOS2/releases) of ADIOS2 already has a stable API we can use.

Resources: [how to write a backend](https://openpmd-api.readthedocs.io/en/latest/dev/backend.html)

[2018-04-26 12:25] anokfireball opened #149 "Explicit user-exposed Series close/(re-)open functionality"
Currently, the lifetime of file handles used in the backends is tied to the lifetime of a ```Series``` they are contained in. It would be very convenient to offer explicit control over this lifetime by having a public interface to close all handles in a Series (e.g. through ```Series::close()``` and likewise to re-open a closed Series (e.g. through ```Series::reopen()```).
Sidenote: When reopening

[2018-04-26 12:43] anokfireball opened #150 "Passing of advanced backend parameters"
An option to provide advanced parameters specific to a backend is desirable. This can include MPI_Info, file access strategies,communication strategies, buffer sizes among other things. This should be *optional* with sane defaults for all values.

Specifically, this matters in two places:
 - Series, where one would provide general backend parameters shared across all files, paths, datasets and att

[2018-04-26 15:21] ax3l opened #151 "Assert to Verify"
We should replace the standard asserts in the code with a runtime verify functionality. We use them as actual error handlers, not only as debug asserts.

This allows us to keep them by default enabled in release builds, making errors way more usable to users.

As an example, [libPMacc](https://github.com/ComputationalRadiationPhysics/picongpu/blob/9b996254c4f6a667c91d119aa5ee9715b21d0912/include/p

[2018-04-26 15:25] ax3l commented on #150
I would suggest to pass an object by value for `AbstractSeriesParam`. One can still add a default dummy as default arg:
[code]

We can also add a `Series::setOptions()` method for later adjustment, but some flags might already be needed at construction time.

[2018-04-26 15:28] ax3l commented on #149
yes, meta-data wise - and even the whole series, not only a single file. Also, it would be useful to add an option to explicitly skip this for performance (taking the risk into account the files below changed - if one can control it by other means).

[code]

[2018-04-30 11:23] ax3l opened #152 "AccessType Docstring"
The options in the enum `AccessType` need a doxygen docstring for each allowed value :)

Is there a mode similar to `h5py`'s `File` object default (`a` - "append", not to a data set but a series)? [doc](http://docs.h5py.org/en/latest/high/file.html): *Read/write if exists, create otherwise*

[2018-04-30 12:48] ax3l commented on #143
As discussed in #144, we will:
- expose constructors instead of factories for `Series` object
- implement copy constructor via handlers so syntax like `Series s = Series(...);` is possible (and all other copies are essentially `shared_ptr`s of the same series)
- set `Series(Series &&) = delete;` since it's not implemented as save, "deep move" of all members and states (or actually move the shared_

[2018-05-02 13:03] ax3l commented on #144
@C0nsultant can you do this issue next please? Together with #143 this is a bit of a blocker for finishing the python bindings #32

[2018-05-02 13:12] ax3l opened #153 "Docs: IOTask-queue"
Since it is such a central concept, the [IOTask-queue](https://github.com/openPMD/openPMD-api/blob/dev/include/openPMD/IO/AbstractIOHandler.hpp#L120) deserves a *conceptual* documentation in the `Development` section of our sphinx manual.

@C0nsultant can you please add a little page on it? Be aware that [breathe](https://github.com/michaeljones/breathe/) allows you do plainly include doxygen doc

[2018-05-02 13:13] ax3l commented on #91
Thx for the info, I think that answered my questions for now.
Please don't forget a *conceptual* documentation on the `IOTask-queue` in the manual #153

[2018-05-02 13:13] #91 closed, assigned to anokfireball

[2018-05-02 13:16] ax3l commented on #143
I'll mark this as a (design) bug just for reference, because we can't store the Series object yet efficiently downstream (in C++), the current default copy constructor is closing and corrupting the internal states/handles which is causing a python bug currently.

[2018-05-02 13:22] ax3l commented on #28
Maybe related to #143 ? Will verify again after this is implemented.

[2018-05-02 18:43] anokfireball commented on #144
Will be working on it in the next few days.
As a sidenote, this will not require a change to every class that derives from ```Attributable```. We can limit this change to ```Attributable``` itself with a moderate amount of code modification in the backend. The frontend will likely remain untouched (move constructors and assignment operators can be deleted in the base class ```Attributable```).

[2018-05-03 08:54] ax3l opened #155 "series.flush(): selected Dataset?"
From the current discussion in the ADIOS2 "Perform()" API: Should we allow passing optional `Dataset`s to the `Series::flush()` member for selective flushing?

(No arguments by default: flush all.)

[2018-05-03 19:35] anokfireball commented on #155
Again, this has similar implications to #91:

All IO operations - whether explicitly stated by the user or implicitly required for openPMD consistency - are appened to a linear, sequential queue. What you are proposing here goes beyond this sequence.

This could be achieved, but will require significant effort for a simple reason: Currently, there is no guarantee at any point that a IO operation c

[2018-05-04 08:00] ax3l commented on #155
Thanks for the details, I am starting to get a deeper grasp on the IO task queue #153 :)

It's really just a question to understand the implications and constrains of the IO queue, I don't think it's urgently needed feature to selectively flush since one can as a user just simply write temporary data first as a "work-around".

[2018-05-07 13:17] ax3l opened #160 "Container: Read Only Access"
The `openPMD::Container::operator[]` creates keys if they are missing on first access.

This is probably not ideal when a `Series` is opened as `READ_ONLY` on which access to missing
- iterations
- records
- record components

should probably throw a clean key error.

Any idea if we should and if yes how we could implement this (for the user-facing parts)?

[2018-05-08 13:45] ax3l commented on #63
For this to be implemented, one first needs to properly implement [symbol visibility](https://gist.github.com/ax3l/ba17f4bb1edb5885a6bd01f58de4d542) throughout all public APIs. (Windows libraries have all symbols hidden by default.)

Related drafts:
- appveyor.yaml and windows CMake fixes: https://github.com/ax3l/openPMD-api/tree/topic-appveyor
- ~~symbol visibility: #165~~ we can use [a clever CM

[2018-05-14 19:23] #144 closed, assigned to anokfireball

[2018-05-14 19:23] #143 closed, assigned to anokfireball

[2018-05-14 19:44] anokfireball opened #171 "Provide copying mechanism for frontend handles"
As a continuation of #156, a mechanism to allow detatched copies of frontend objects (i.e. ```Attributable```s) should be provided. While it is possible to create two objects with the same parameters explicitly, it is cumbersome e.g. when assigning multiple iterations in a series with the same openPMD data and differing record data.

(Shamelessly stealing numpy's lingo with [```.copy()```](https:/

[2018-05-14 19:54] anokfireball commented on #160
Very good observation! Currently, this would only be noticable when the user triggers [any](https://github.com/openPMD/openPMD-api/blob/dev/src/IO/HDF5/HDF5IOHandler.cpp#L97) operations modifying data on disk.

As the ```accessType``` can not be changed after the ```Series``` has been created, the system is in a faulty state as soon as the access succeeds. We should probably fail fast_er_ when we

[2018-05-14 20:06] anokfireball commented on #153
Will be touching on this one next.

[2018-05-14 23:18] ax3l commented on #160
Thanks for the hint, I suggested a solution in #172

[2018-05-15 14:37] anokfireball opened #175 "Allow test-build that does not modify C++ keywords"
An option to disable invasive source modification (e.g. ```#define public private```) is needed to ensure wider compiler support. See #173 for reasoning.

[2018-05-15 15:19] ax3l commented on #32
@CFGrote we fixed a couple of bugs in the last weeks and I was wondering if you have time to continue on the buffer protocol these days? :)

[2018-05-15 17:16] ax3l commented on #147
We decided to make `slowToFast` the default, which is for our C and Py bindings a good default as well :)

[2018-05-17 19:23] ax3l opened #179 "MSVC: get<long double> bad_variant_access"
Currently the following test fails with MSVC 19 (VS 14, 2015), probably due to it's `double` == `long double` implementation:

[code]

Example in https://ci.appveyor.com/project/ax3l/openpmd-api/build/1.0.140/job/jo3nh9xgb03poikp

I think we should be able to emulate that behavior with gcc with the `-mlong-double-64` switch (but from a first test this does not trigger it).

[2018-05-18 07:29] ax3l commented on #179
@C0nsultant do you have an idea what could be causing this? I can also for now just quickly disable the `long double` reads on MSVC and we fix it after #63 is in.

[2018-05-18 07:40] anokfireball commented on #179
Sorry, no obvious reason comes to mind. I would first check what the actual datatype that gets stored is:

[code]

Depending on what this results in, we might have to disable ```long double``` conditionally.

[2018-05-18 08:22] ax3l opened #181 "Python Import Name"
We current do
[code]

but for consistency with other python libs we have so far we probably need to name it
[code]

or

[code]

or similar.

cc @RemiLehe @C0nsultant

[2018-05-19 09:06] ax3l commented on #179
I pushed a demonstrator in #184

[2018-05-19 09:10] #63 closed, assigned to ax3l

[2018-05-19 09:31] ax3l commented on #153
@C0nsultant sounds great, thanks!

[2018-05-19 14:21] ax3l opened #187 "Created Examples Do Not Pass Validator"
I just realized the created example files such as
- `1_structure.h5`
- `3_write_serial.h5`
- `5_parallel_write.h5`

do not pass the [validator](https://github.com/openPMD/openPMD-validator/).

We are probably just missing a few attributes from what I see so far, e.g. `geometry`.

[2018-05-19 16:16] ax3l commented on #160
We implemented it! :)

[2018-05-19 16:16] #160 closed, assigned to ax3l, anokfireball

[2018-05-19 18:33] ax3l commented on #28
All examples look clean in valgrind, but
- `4_read_parallel` (`H5Fopen`)
- `SerialIOTests` (`H5Fclose`, `H5F_try_close`)

show the interesting uninitialised bytes warnings. Not sure if we might forget to close some HDF5 handles in those or if it's a HDF5 internal issue.

In `SerialIOTests` the issue is caused by `hdf5_dtype_test`:
[code]

in lines
https://github.com/openPMD/openPMD-api/blob/7240eb

[2018-05-22 03:32] CFGrote commented on #32
hi axel,
thanks. time is extremely sparse these days. let's talk (plus maybe do some work) during the EUCALL AM, next week.

c.

----- Original Message -----
From: "Axel Huebl" <notifications@github.com>
To: "openPMD/openPMD-api" <openPMD-api@noreply.github.com>
Cc: "Carsten Fortmann-Grote" <carsten.grote@xfel.eu>, "Mention" <mention@noreply.github.com>
Sent: Tuesday, 15 May, 2018 17:19:38
Subject

[2018-05-22 11:32] #5 closed, assigned to ax3l

[2018-05-22 12:01] anokfireball commented on #181
Disclaimer - the current python naming scheme does not appeal greatly to me. This suggestion would certainly make this lib consistent with the other openPMD python libs, but it runs contrary to the largely accepted [PEP](https://www.python.org/dev/peps/pep-0008/#package-and-module-names) naming convention.

I propose something more radical, conceptually different:
Instead of following the ```appen

[2018-05-22 12:11] ax3l commented on #181
you have my +1.

We could for convenience even provide a repo with a lightweight `openpmd` meta-package that depends on all others.

[2018-05-22 16:59] anokfireball opened #192 "Handle stdout & stderr messages more pythonic"
Currently (see #191), all output generated by the C++ API is piped to ```std::cout```/```std::cerr```.

For ideal Python support - which includes pythonic  output and logging - one would need to [capture](https://pybind11.readthedocs.io/en/stable/advanced/pycpp/utilities.html#capturing-standard-output-from-ostream) the output from C++ and redirect it to message handling facilities in python. This

[2018-05-22 18:15] anokfireball commented on #187
It would be very nice to have this as a default step in our CI pipeline, sort of like an integration test to see whether the API plays nicely with the outside world or just fools itself by interpreting doubly incorrect results as good.

[2018-05-22 18:35] anokfireball commented on #181
This meta-package will be nice for convenience, but it is not required. You can combine multiple distinct python sub-packages, each providing a ```openpmd.foo``` to the overall ```openpmd``` without having all of them or the meta-package.

[2018-05-22 18:40] anokfireball commented on #145
This was fixed in #156.

[2018-05-22 18:40] #145 closed, assigned to anokfireball

[2018-05-23 07:15] #187 closed, assigned to anokfireball

[2018-05-23 07:26] anokfireball opened #195 "Integration tests as mandatory phase in CI"
To detect problems like #187 early, integration tests that verify this API's output should be a mandatory step for CI to pass. Ideally, these tests run in isolation from the API to provide certain objectivity.

Potential candidates include
 - [openPMD-validator](https://github.com/openPMD/openPMD-validator) for [openPMD-standard](https://github.com/openPMD/openPMD-standard)-compliance
 - h5py test

[2018-05-23 07:32] ax3l commented on #187
Yes, probably in a later step. I try not to "pollute" the install with too much other packages like `h5py` until everything is installed. Probably we need to move the travis `script` section to `before_script` and then add such additional software and tests in `script` ([because later sections are not causing a build to fail](https://docs.travis-ci.com/user/customizing-the-build#Breaking-the-Build

[2018-05-23 07:32] ax3l commented on #195
Yes, probably in a later step. I try not to "pollute" the install with too much other packages like `h5py` until everything is installed. Probably we need to move the travis `script` section to `before_script` and then add such additional software and tests in `script` ([because later sections are not causing a build to fail](https://docs.travis-ci.com/user/customizing-the-build#Breaking-the-Build

[2018-05-23 07:34] ax3l commented on #192
:+1: Also relevant for the notebook because otherwise we will write to the running kernel's log instead of to the frontend the user is seeing.

Fun fact: throws are easy to pythonize.

Implementation idea: probably define in the series a method to select the default out/err[/log] channel and alle linked objects inherit it. In the Python API, we can set the python-method on init automatically durin

[2018-05-23 12:24] #98 closed, assigned to anokfireball

[2018-05-23 16:55] ax3l commented on #181
@RemiLehe what do you think?

[2018-05-23 21:17] RemiLehe commented on #181
Yes, I like the naming `openpmd.api` and `openpmd.viewer`.

However, I am not sure how this will be implemented in practice. For instance, with the meta-package that @ax3l suggested, is the idea that `openpmd_viewer` and `openpmd_api` would still be available as `pip` packages (a separate Github repositories), so that the `setup.py` of this meta-package would list `openpmd_viewer` and `openpmd_api

[2018-05-23 21:18] RemiLehe commented on #181
Or is the plan to have a whole new package and a single Github repository for both the viewer and the API?

[2018-05-23 22:15] ax3l commented on #181
The idea is too keep them separated as before and just change their provided imports accordingly.

On top of that, we could make a simple wrapper-only repo and meta-package that depends on all of them. But that's not necessary for the subpackages to get this structure, as @C0nsultant pointed out.

[2018-05-23 23:27] RemiLehe commented on #181
Oh, ok I see. Sorry that I had not properly read @C0nsultant's comment/
And then the pip install command would just be
[code]
Is that correct?

[2018-05-24 03:43] anokfireball commented on #181
I had admittedly never thought about the pypi project name up to this point. But [yes](https://legacy.python.org/dev/peps/pep-0423/#use-a-single-name), the ```pip install``` could look just like @RemiLehe assumed. [Dots](https://legacy.python.org/dev/peps/pep-0426/#name) are explicitly allowed in package and project names.

The meta-package @ax3l suggested would install like
[code]
and would allow

[2018-05-24 06:57] ax3l commented on #181
Anyway, PyPI (or conda) **package names** is then the second step. This issue is first just about **import names** (*module names*) :)

(openPMD-api is also interesting on PyPI and easier on conda. For PyPI OSX binary wheels and a source wheel for linux are probably possible...)

E.g., the [package name for conda](https://conda.io/docs/user-guide/tasks/build-packages/package-naming-conv.html) will

[2018-05-24 08:35] ax3l commented on #70
I think we can put this in a single `auxiliary/` header + source file. @C0nsultant do you want to try implementing the 5 methods? I think it's not worth pulling a dependency and we can just take what we need.

[2018-05-24 11:07] anokfireball commented on #70
We could potentially build a very slim backport of [```std::filesystem```](http://en.cppreference.com/w/cpp/header/filesystem) that offers the few functions we need. Then we can drop-in ```std::filesystem``` the same way as ```variant``` if the library is being built with C++17.

As a sidenote, this also means we have to assume POSIX availability for non-Windows systems.

[2018-05-24 11:14] ax3l commented on #70
I thought so first as well, but alone the implementation of path objects, etc. is probably not worth it outside of pure curiosity. Since we don't need anything recursive I think the 5 slim functions above will be enough.

[2018-05-24 11:16] #155 closed, assigned to nobody

[2018-05-24 11:33] ax3l opened #203 "std::complex"
Although not part of the openPMD standard yet, handling of types for [`std::complex< T >`](https://en.cppreference.com/w/cpp/numeric/complex) with `float`, `double` and `long double` could be investigated.

Keep in mind:
- be compatible with `h5py`: http://docs.h5py.org/en/latest/faq.html
- ADIOS1 support
- ADIOS2 support
- openPMD-standard issues: https://github.com/openPMD/openPMD-standard/issue

[2018-05-24 11:52] ax3l commented on #95
I think that issue is fixed now :)

The are still some minor warnings on 32bit Windows builds in `HDF5IOHandler.cpp` on attribute reads (`hsize_t` and `std::vector` storage) but they do not get over 4 GB.

[2018-05-24 11:57] #95 closed, assigned to ax3l, anokfireball

[2018-05-24 13:30] anokfireball commented on #70
It's on my list.

[2018-05-24 15:03] ax3l commented on #32
Minimalistic draft of a non-slice, C++ pass-through `store_chunk` method: https://github.com/ax3l/openPMD-api/tree/topic-storeChunk (see commit message for details)

[2018-05-24 15:09] ax3l commented on #138
Hm, I think we will need this C++ `Slice` class even earlier if we want to have a seamless python API.
And two helpers for:
`Extent`, `Offset` -> `Slice` and `Slice` -> `Extent`, `Offset`

No need to expose it in the C++ frontend at this point, tough.

[2018-05-24 19:35] ax3l commented on #140
@C0nsultant huh, what are we going to do with the `unique_ptr< T[] > &` of the `loadChunk` API and raw pointers/containers?
Added a draft for it in #204 as well.

[2018-05-24 21:05] ax3l commented on #151
Where the interfaces allow it and it is save to do, our verify (asserts) should probably *throw*. `cerr` warnings would need to take into account #192 as well.

[2018-05-25 17:28] anokfireball opened #205 "Improve utilization of IO-queue for loadChunk/storeChunk"
It has come up in https://github.com/openPMD/openPMD-api/pull/204#discussion_r190864021 that there are unnecessarily many calls to ```.flush()``` during dataset chunk transfers.

[2018-05-28 09:10] ax3l opened #208 "C++17 Build Tests"
C++17 changed and improved quite a bit in stdlibs, especially with smart pointers.

We should add a coverage matrix entry for C++17 checking we are forward compatible.

[2018-05-28 12:42] anokfireball opened #209 "Assert non-null pointer during storeChunk"
There is currenlty no check during chunk storage whether the passed in pointer is valid:

https://github.com/openPMD/openPMD-api/blob/d16f1762fcb1be7e7441755a3209abdba7994173/include/openPMD/RecordComponent.hpp#L238-L240

We should do a simple non-null check before the pointer cast.

[2018-05-29 08:03] anokfireball opened #211 "Verify reference counts of shared_ptrs in IO queue"
To reduce the risk of reading from and writing to invalid pointers resulting from deallocated ```shared_ptr```s, we should unit-test the ```.ref_count()```s of all used smart pointers in the fronend, IO queue and backend.

Came up in https://github.com/openPMD/openPMD-api/pull/204#issuecomment-392599715.

[2018-05-29 08:10] anokfireball commented on #140
Closed in #204.

[2018-05-29 08:10] #140 closed, assigned to nobody

[2018-05-30 11:50] ax3l commented on #87
@C0nsultant as soon as we have #207 and #216 merged I would like to tag a first alpha release, e.g. `1.0.0-alpha` or `1.0.0-alpha.1`, so I can try to set up a `conda-forge` feedstock.

After that I would say we [fix and finish leftovers](https://github.com/openPMD/openPMD-api/projects/2) until `1.0.0-beta.N` releases and invite users to test it.

[2018-05-30 13:29] anokfireball commented on #87
We should be feature-ready for non-critical deployment by this point.
#70 makes us fairly light-weight with respect to dependencies, so this is indeed a suitable candidate for stepping up from ```dev```.

When following your proposed scheme, we would tag ```1.1.0-alpha```. How about we start with ```1.1.0-alpha.0```?

[2018-05-30 13:38] ax3l commented on #87
As you like, I am just trying to be compatible with [semver.org](https://semver.org) and they suggest `1.0.0-alpha.1` as far as I can see.

[2018-05-30 20:13] qiminglu opened #213 "minimum version requirement of HDF5"
The document says that it needs the 1.8.6+ version of HDF5. However in HDF5IOHandler.cpp it has called the H5free_memory() method which is only available from HDF5 1.8.13+, please see the following link

https://support.hdfgroup.org/HDF5/doc/RM/RM_H5.html#Library-FreeMemory

With HDF5 v1.8.13 it compiles and the examples run fine for me.  So maybe should update the document for the minimum HDF5 ve

[2018-05-31 04:28] anokfireball commented on #213
Thank you very much for this report, @qiminglu!
This is a prime example of what an issue should contain - a clear description, a reason for the behaviour and even a tested fix.

@ax3l do you think we should consider adding one CI step that builds with the minimal required dependency versions so we catch this by ourself in the future?

[2018-05-31 07:23] ax3l commented on #213
@qiminglu thank you for the report! :sparkles:

@C0nsultant no CI needed for that, we just bump the version inf`find_package()` in CMake and the docs accordingly. Or do you mean we should build the *oldest supported* HDF5 version in CI? Good idea!

[2018-05-31 07:25] #213 closed, assigned to anokfireball

[2018-05-31 07:33] anokfireball commented on #213
Yeah, that's where I was going. Currently, we just pull the default versions of [HDF5](https://github.com/openPMD/openPMD-api/blob/15cda606d55ecc9d3748000182a56babbc21a0ea/.travis.yml#L279) and [ADIOS](https://github.com/openPMD/openPMD-api/blob/15cda606d55ecc9d3748000182a56babbc21a0ea/.travis.yml#L286).
Maybe we should have one build in travis that builds against the minimum requirements (i.e. ol

[2018-05-31 08:57] ax3l commented on #213
Added in #215 for HDF5.

[2018-05-31 09:54] ax3l opened #216 "Avoid <regex> (for now)"
As discussed in #210, we will try to also support GCC 4.8.

For this to work, the only thing we will need to change is the use of `<regex>` inside the library, as it is only implemented as a stub in GCC 4.8.

Possible alternatives are:
- own, simple string matcher for file names
- use another light-weight regex library, e.g. [slre](https://github.com/cesanta/slre)

For reference, [this](https://gi

[2018-05-31 12:12] #70 closed, assigned to anokfireball

[2018-05-31 13:47] ax3l commented on #216
@C0nsultant if you have an idea how to implement this efficiently, feel free to say how or go ahead. I just tried to quickly hack it but needs more thinking.

[2018-05-31 13:54] anokfireball commented on #216
You weren't far off. The only thing you didn't consider are the troubles caused by having both a prefix and a postfix.
I'll look into it.

[2018-05-31 14:48] ax3l commented on #216
Since it's a GCC 4.8 only issue, we could also use the POSIX [`<regex.h>` header](http://man7.org/linux/man-pages/man3/regex.3.html) or the [regex lib](https://developer.gnome.org/glib/stable/glib-Perl-compatible-regular-expressions.html) from `glibc` here as a fallback.

Resources:
- https://stackoverflow.com/questions/31628536/what-is-difference-between-c-and-c-regex
- http://lh3lh3.users.source

[2018-06-04 20:59] ax3l commented on #32
@CFGrote I opened a work-in-progress for numpy bindings in #219 now.

Please feel free to share your work on the python unit tests in a separate PR so we can iterate on it.

[2018-06-05 15:43] ax3l commented on #216
Ok, I have a new draft based on the POSIX C `<regex.h>`

[2018-06-06 03:45] #216 closed, assigned to ax3l, anokfireball

[2018-06-06 06:56] #61 closed, assigned to ax3l

[2018-06-06 08:11] ax3l commented on #87
Hm, I usually name all our projects without the last dot. Is `1.0.0-alpha1`, `1.0.0-alpha2`, `1.0.0-beta1`, `1.0.0-rc1`, `1.0.0-rc2`, `1.0.0`, ... ok with you?

[2018-06-06 08:14] ax3l commented on #33
@lge0303 how are you doing? do you need anything from us for the implementation?

Please feel free to open issues if you experience any installation issues or something is not well documented or similar. We are happy to help!

[2018-06-06 08:20] ax3l opened #225 "CMake: Config Package openPMD Standard"
It would be cool if one could also narrow down the required openPMD-standard version while searching for `openPMDConfig.cmake` packages.

[2018-06-06 08:27] ax3l commented on #87
Hm, CMake does not support suffixes in `project(VERSION ...)` and crops them in `VERSION_...` comparisons: https://cmake.org/pipermail/cmake-developers/2017-March/029928.html

[2018-06-06 08:28] ax3l commented on #87
I will keep the `alpha` and `beta` versions with `0.1.0-...` then so we can bump properly on the stable release.

[2018-06-06 08:29] ax3l commented on #87
Or we just skip the suffix at all and stay under "1.0.0" for them as simply as that.

[2018-06-06 08:47] anokfireball commented on #87
Sure, does not bother me.

Are you suggesting we skip the suffix for CMake? I could get behind that proposal. A user would typically ```REQUIRE``` a specific version of openPMD, and would just have the latest version of this API that supports that version.

[2018-06-06 08:48] ax3l commented on #87
Ok good!
I am not suggesting to skip suffixes in CMake, CMake *does* skip it ;-)

I will go for the following versioning as long as we are in alpha/beta state:

 Is `0.1.0-alpha1`, `0.1.0-alpha2`, `0.1.0-beta1`, `0.1.0` and then `1.0.0-rc1`, `1.0.0-rc2`, `1.0.0`, ...
This makes package selection via CMake more transparent.

[2018-06-06 08:55] anokfireball commented on #87
Just so I don't confuse anything here:
The versions you listed would be the **CMake** versions, not the release tags?

[2018-06-06 09:08] ax3l commented on #87
The release (and `version.hpp`) versions relate to the CMake versions as follows, since CMake does not accept suffixes in `project(VERSION ...)`/Config packages and skips suffixes in version parsing:

`a)`

| full version | `0.1.0-alpha1` | `0.1.0-alpha2` | `0.1.0-beta1` | `0.1.0` | `1.0.0-rc1` | `1.0.0-rc2` |  `1.0.0` |  `1.0.1` | ... |
| -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |
| CMake

[2018-06-06 09:17] anokfireball commented on #87
Going from that table, it appears you decided against the initial versioning idea:

Having the same ```X.Y.Z``` scheme with *independent* versioning will very likely become confusing.

[2018-06-06 09:22] ax3l commented on #87
No, I just want to deviate from it for initial pre-releases since CMake is lacking support for suffixes.

[2018-06-06 09:29] ax3l commented on #87
Do you prefer `a)` or `b)` in https://github.com/openPMD/openPMD-api/issues/87#issuecomment-395000049 ? I kind of tend to `b)`.

[2018-06-06 09:41] anokfireball commented on #87
Thanks for the clarification! You have my blessing to enunciate the pre-releases.

Gut feeling says ```b```, mostly for the differentiation reasons stated before.

*Just thinking out loud, not entirely convinced of this myself yet:*
As the semantic versioning would include suffixes anyway, we could think about ```StandardMAJOR.apiMAJOR-apiMINOR.DevTAG```. That would make a clear distinction betwee

[2018-06-06 09:46] ax3l commented on #87
Yes, my idea is very much in that direction for the stable release series: `StandardMAJOR.apiMAJOR.apiMINOR`

I think that's the best we can do. Too bad CMake again just has a `SameMajor` and no `SameMinor` variant for compatibility... https://cmake.org/cmake/help/v3.0/module/CMakePackageConfigHelpers.html But still.

Note: `-number` is kind of reserved for package build numbers of the same releas

[2018-06-06 09:51] anokfireball commented on #87
It would be amazing if we could reflect #225 in this scheme, but that dream seems to fade with the current CMake support. Version checks would happen at CMake-configure time, rather than at project compile time (i.e. comparing against ```version.hpp```)...

```StandardMAJOR.apiMAJOR.apiMINOR-TAG``` is probably the least awful way to go from here (at the expense of possible confusing API version wi

[2018-06-06 09:52] ax3l commented on #225
The simplest way to implement this:
With a set variable before `find_package`, similar to `_PREFER_PARALLEL` in HDF5/ADIOS.

[2018-06-06 09:54] ax3l commented on #87
Don't worry about #225: I can implement that in CMake another way (added a comment therein). Of course, other packages like pypi/conda/etc. won't have that pre-selection but we can publish a table on it in the docs.

What does `-TAG` stand for in your example? e.g. `-rc2`?

[2018-06-06 09:59] anokfireball commented on #87
If we decide to go this way, it will probably be necessary.

Anything that semver calls pre-release identifies and build metadata (see [9](https://semver.org/#spec-item-9) and [10](https://semver.org/#spec-item-10)). ```rc2``` would be one such example.

[2018-06-06 16:08] lge0303 commented on #33
Axel,

Thanks for asking. Sorry I’m busy doing other projects in the past weeks, will pick up the NetCDF backends implementation later this week. Will let you know if I have problems.

Bests!

Lixin

[2018-06-07 13:27] #205 closed, assigned to anokfireball

[2018-06-11 07:48] ax3l commented on #32
I added a first numpy draft in #219 now.

Open are the following points for which I really need unit tests to develop them further.

## To Do

- [x] add unit tests #249
- [x] ship pybind11 in `share/openPMD/thirdParty/` #281
- [x] add all C++ data types we support
- [x] check numpy data types "round-trip" in writes and reads
- [x] expose attributes #266
- [x] `store_chunk`: implement all drafted c

[2018-06-12 20:35] ax3l opened #248 "Travis CI: MPI"
I don't know what happened to the package installed trusty openmpi 1.6.5 since I last deleted the caches, but it does not look healthy... :confused:

https://travis-ci.org/openPMD/openPMD-api/jobs/391288806

[2018-06-12 20:48] ax3l commented on #248
HDF5 with MPI in the latest 1.10.2 release does not look healthy: https://github.com/spack/spack/pull/8274

[2018-06-12 21:29] #248 closed, assigned to ax3l

[2018-06-12 22:09] #209 closed, assigned to anokfireball

[2018-06-12 22:09] #211 closed, assigned to anokfireball

[2018-06-12 23:36] ax3l opened #252 "ADIOS1: SerialIOTest needs MPI with Parallel Lib"
Even with #228 there are way more calls to `MPI_` functions when linking a parallel ADIOS1 lib. That leads to the need to actually start serial programs, such as `SerialIOTest`, with `mpirun/exec`.

That's sad. Is the MPI-moc library the only way to call the serial ADIOS API? If so, a lot more refactoring inside ADIOS [`src/core/bp_utils.c`](https://github.com/ornladios/ADIOS/blob/v1.13.1/src/core

[2018-06-13 07:34] anokfireball opened #253 "Remove ALLOCATION enum & binding"
With the new features introduced in #204, the [```enum Allocation```](https://github.com/openPMD/openPMD-api/blob/06ae64508f726d18eaedc60d7e73580e7f24a054/include/openPMD/RecordComponent.hpp#L52-L57) and the corresponding [binding](https://github.com/openPMD/openPMD-api/blob/b95e33c6627aa41afca80bad0d2265846451f5e4/src/binding/python/RecordComponent.cpp#L178-L182) are dead code. The allocation str

[2018-06-13 07:49] anokfireball commented on #11
I am not sure where in the code this would apply. The only place where the term ```Offset``` is used (but *not* enforced by openPMD) is the alias of ```std::vector``` used during dataset IO:

https://github.com/openPMD/openPMD-api/blob/b8e8de9187e7cc179589c974d042de9cf3ae92b4/include/openPMD/Dataset.hpp#L34

Across the whole codebase, that ```Offset``` is used to signal the offset in the overall d

[2018-06-13 09:10] ax3l commented on #252
@C0nsultant I think there is a second solution that we can try.
If we separate the ADIOS1 serial and parallel backend translation units well, we could link ADIOS1 *twice*. We then create a serial and parallel adios library artifact that we then link into the final library.

With that workflow, we can use the always provided `_nompi` libs with the mock properly as ADIOS intended it to be used.

[2018-06-13 09:17] #11 closed, assigned to anokfireball

[2018-06-13 10:05] ax3l commented on #252
Oh wow, that draft of CMake magic looks messy...

[2018-06-13 11:39] ax3l commented on #252
@C0nsultant is it possible  to get rid of MPI types and includes in `include/openPMD/IO/ADIOS/ADIOS1IOHandler.hpp` the  same way as in `include/openPMD/IO/HDF5/HDF5IOHandler.hpp`?

They should not be needed there and can be set to e.g. `MPI_COMM_NULL` in the implementation, we have still the `ParallelADIOS1IOHandler.hpp` for MPI comm passing.

[2018-06-13 11:56] anokfireball commented on #252
All the MPI crux is in there precisely because ADIOS designed their ```_NOMPI``` to use the mock provided in [```<adios_mpi.h>```](https://github.com/ornladios/ADIOS/blob/master/src/public/adios_mpi.h).
If your propsed split works, we should be able to pull it out of the interface into the implementation by hard-coding ```MPI_COMM_NULL``` indstead of relying on ```ADIOS1IOHandlerImpl::m_mpiComm```

[2018-06-13 12:09] ax3l commented on #252
Yes, for the first part, but I think that can be hidden inside `ADIOS1IOHandler.cpp` for the serial mock.

[2018-06-13 12:13] anokfireball commented on #252
That should be the way to go. It will probably lead to code duplication in ```ParallelADIOS1IOHandlerImpl```, though. Currently both Impls rely on the fact that the interface is the same, no matter if ```_NOMPI```. If the relevant variables are not available in the interface, we'll have to duplicate somewhere.

[2018-06-13 14:49] ax3l opened #255 "Setters/Getters of Attributable"
It's cool that a `Container` itself is *attributable*, but why are attributes not simply implemented as `Container` themselves as well?

I think similar to `h5py`'s [`AttributeManager`](http://docs.h5py.org/en/latest/high/dataset.html#creating-and-reading-empty-or-null-datasets-and-attributes), using our container both for data sets and attributes would make it very natural to interact with them.

[2018-06-13 18:07] anokfireball commented on #255
I frankly do not understand your question or the motivation behind it.

**DISCLAIMER** - Attributes were one of the first features. Please excuse design flaws and antipatterns.
Let me elaborate a bit on the choices concerning attributes:
There's three major types of abstract objects in this API:
  1. Datasets (i.e. ```RecordComponent```)
  2. Groups with arbitrary child-nodes (i.e. ```Mesh```), al

[2018-06-13 18:56] ax3l commented on #255
The thing that I mean is: why do we need a `set/get` for attributes?

Could we just do a `[...].attributes["newkey"] = T` and `T = [...].attributes["getkey"]` as well? Isn't this nice and similar to what the container interface does?

[2018-06-13 19:01] ax3l commented on #252
Yes, don't let us optimize on that coincident and keep it separate as in HDF5, even if a bit code is doubled then. This will allow me to separate the translation units better for linking against the static *and* the parallel ADIOS1 libs.

[2018-06-13 19:37] anokfireball commented on #255
We allow attributes of arbitrary datatype, C++ is a strongly typed language, and we have to enforce datatypes at certain times.

We could certainly hack in something along the lines of ```[...].attributes["newkey"] = T```, but how would you ensure the correct type of ```T``` if it is dictated by openPMD? For eaxmple, how would you  ensure that in
[code]
openPMDextension would be stored as [```uint

[2018-06-13 21:10] ax3l commented on #255
I see, I am clearly writing too many python bindings... :-D

[2018-06-14 03:38] #151 closed, assigned to anokfireball

[2018-06-14 08:30] ax3l commented on #252
Opened a upstream issue in https://github.com/ornladios/ADIOS/issues/183

[2018-06-14 16:12] lge0303 commented on #33
Hi Axel,

I’m implementing the I/O operations in the IOHandlerImpl following the Style Guide. What editor tool you use to easily follow the code Style Guide? Any suggestions?

Thanks!

Lixin

[2018-06-14 21:07] ax3l commented on #33
I usually just use [netbeans](https://netbeans.org/).
@C0nsultant what did you use again, [CLion](https://www.jetbrains.com/clion/)? [Atom](https://atom.io/)?

We have no automated enforcement/formatting of C++ code with e.g. `clang-format` yet, but have a [CLion template in this repo](https://github.com/ComputationalRadiationPhysics/contributing) as well as [the style guide](https://github.com/Co

[2018-06-14 22:15] ax3l opened #265 "Editing a data000X00 series"
**Describe the bug**
Editing files in an *existing series* that is zero-padded file names fails due to a mismatch in file names (the zeroes are forgotten during write).

**To Reproduce**

Python:
[code]
[code]

**Expected behavior**
It should actually try to access to the `data00000100.h5` file but it skips the leading zeros.

**Software Environment:**
 - version of openPMD-api: 0.2.1-dev as of 40

[2018-06-15 05:15] anokfireball commented on #33
Hi @lge0303. Great to hear you're progressing on this. If you run into any implementation issues, don't hesitate to contact me.

My daily driver for this project from the start has been [CLion](https://www.jetbrains.com/clion/). If you're in academia or developing an open source project, you can even get their products for free.
If you don't want ot bother with licenses, I can highly recommend [KD

[2018-06-15 09:00] anokfireball commented on #265
The problem happens here
https://github.com/openPMD/openPMD-api/blob/7501e3435913216812f3efe8707b30892b3aa915/src/Iteration.cpp#L109

The solution will be straight forward, but there is more to this issue:
To have our created files be consistent, we will need to detect the amount of zero-padding in the name of existing Iterations in the Series.
We also will need to introduce zero-padding in our ow

[2018-06-15 12:22] ax3l commented on #265
The first to point is backen specific and given by the openend files.

For the third one I remember we discussed a little when allowing zero-padding in the standard. I think we could keep everything in the file format as we have it so far with `%T` (see first aspect). `%T` matches all and is *not* zero padded on `create`.

Additionally, we could allow syntax such as `%0<N>T` as regex in `Series`'

[2018-06-17 20:39] anokfireball commented on #265
I liked the idea so much, I implemented a PoC in #270. It's backward compatible to ```%T```, which is great.
What do you think about other padding characters that are specified as x in
[code]

IIRC they used wildcards.

[2018-06-17 21:23] ax3l commented on #265
nahaaaice!

probably not needed :)

true, I think it's `*`

[2018-06-18 12:27] anokfireball opened #271 "Remove references taken from temporaries returned by Variant::get()"
**Describe the bug**
In the light [```Variant```](https://github.com/openPMD/openPMD-api/blob/0.2.0-alpha/include/openPMD/auxiliary/Variant.hpp) wrapper, values retieved with [```Varaiant::get()```](https://github.com/openPMD/openPMD-api/blob/0.2.0-alpha/include/openPMD/auxiliary/Variant.hpp#L62-L72) are returned as a copy of the underlying resource.
At some point during development, I assumed it

[2018-06-20 08:21] anokfireball opened #276 "Gitter chat room"
Maybe it would be benefitial to a have a chat room at [gitter](https://gitter.im/) tied to this repo.

This way, we could have a central place for inquiries and discussions that do are not big enough for an issue yet.

This would require changing the OAuth settings of the openPMD organization. See gitter [docs](https://gitlab.com/gitlab-org/gitter/webapp/blob/develop/docs/faq.md#why-isnt-my-github

[2018-06-20 10:04] ax3l commented on #276
We actually have a gitter for general openPMD already reserved :)
https://gitter.im/openPMD

Just... have... to.. find.. option... to open.. for.. non-members... as... well.. argh...

Hm, new channel: https://gitter.zendesk.com/hc/en-us/articles/200178951-Gitter-communities-and-rooms

Here we go:
  Lobby https://gitter.im/openPMD/Lobby

Of course we can add more, e.g. dedicated to the API.

[2018-06-20 10:16] anokfireball commented on #276
[Let's all go to the lobby!](https://www.youtube.com/watch?v=hjB5gjTEEj8)

[2018-06-20 10:22] anokfireball commented on #276
Any channels that mirror existing github repos (i.e. ```openPMD/openPMD-api```) will still require OAuth access, though.

[2018-06-20 11:27] ax3l commented on #276
I added an additional public API room and added oauth access as well.

Nevertheless, probably a single chat room is not too bad as an entry.

All rooms:
https://gitter.im/openPMD/home

[2018-06-20 11:57] ritiek opened #279 "Installation issues with support for Python API"
@ax3l I am really glad you're taking much efforts to have people adopt these standards which I hope people really do!

Yep, it did build smoothly with no problems when I passed no arguments but there was some trouble when passing `-DopenPMD_USE_PYTHON=ON` and `-DopenPMD_USE_HDF5` to cmake.

It's been a while since I tried to build but AFAIK there was some error regarding `MPI` and `HDF5` which I t

[2018-06-20 12:01] anokfireball commented on #276
I'll add a badge to the README that links to the gitter and then close the issue.

[2018-06-20 12:04] anokfireball opened #280 "Container constructor is public"
Having the [```Container::Container()```](https://github.com/openPMD/openPMD-api/blob/0.3.0-alpha/include/openPMD/backend/Container.hpp#L88-L89) be publicly available is actually a design flaw. It should be ```private``` or ```protected``` at the very least.

It breaks our rule of not allowing users to create dangling objects.

[2018-06-20 13:12] ax3l commented on #279
Dear @ritiek, thank you a lot for trying out the API and your detailed report!

- [x] Yes, the trouble here came from the [missing dependency](https://openpmd-api.readthedocs.io/en/0.3.0-alpha/dev/dependencies.html) `pybind11`. Usually, one would install it in advance. Anyway, we will now remove this inconvenience now by shipping it with `openPMD-api`: #281

- [x] huh, good point. Indeed, `Enable

[2018-06-20 21:23] #265 closed, assigned to anokfireball

[2018-06-22 01:10] lge0303 commented on #33
Axel,

Which make file should I modify to add netcdf backends to openPMD-api? I modified CMakeLists.txt under openPMD-api directory, the operations are the same as for ADIOS. What else should I do?

Thanks!

Lixin

[2018-06-22 05:12] #280 closed, assigned to anokfireball

[2018-06-22 06:11] ax3l commented on #33
Hi Lixin,

The other file for building/installing is openPMDConfig.cmake.in

Axel

[2018-06-22 07:36] anokfireball commented on #33
Hi @lge0303. Thanks for taking your time to contribute to this project!

To better understand what your current status is and to make it easier for us to assist you, I want to ask you to open a pull request.
 That way, we can see what changes you made. You can then also point us to concrete problems you're experiencing in the source files.

You can create the PR [here](https://github.com/openPMD/o

[2018-06-22 07:38] anokfireball commented on #33
If you have a very quick question, we also have a gitter channel right [here](https://gitter.im/openPMD/API).

[2018-06-22 07:38] #252 closed, assigned to ax3l, anokfireball

[2018-06-22 08:06] ax3l commented on #279
@ritiek just for curiosity, can you try to compile the latest `dev` again from source and see if this works for you as well?

[2018-06-22 09:57] anokfireball opened #283 "Warn on unsupported openPMDextensions"
```Series::openPMDextension() != 0``` may literally break the standard with everyhing we assume in this API w.r.t. metadata, structure and datasets.

Reading/writing any ```Series``` with ```Series::openPMDextension() != 0``` may succeed, depending on the used extensions (e.g. if they only _add_ information to the base standard). It is thus not advisable to stop execution when that condition is en

[2018-06-22 11:00] ax3l commented on #283
Hm, I think we don't state it anywhere, but extensions must not break compatibility with the base standard. I always thought that's implied.

[2018-06-22 11:14] anokfireball commented on #283
Even if https://github.com/openPMD/openPMD-standard/issues/182 is just a proposal, it's a hint at possible extensions breaking the standard.
I am not opposed to such extensions. Some people might simply not need certain attributes or define them a different way. Which is fine, as long as you clearly state that in the extension specification.

Sidenote: Having ~such extensions~ extensions in genera

[2018-06-22 11:35] ritiek commented on #279
I just tried to build it from source and it seems to build fine now! I'll also try again with spack soon and let you know how it goes.

[2018-06-22 12:45] ax3l commented on #279
Jippey, thank you!

[2018-06-22 13:02] ax3l commented on #283
Yes, but I mean seriously: we (should) just say in the standard that changing meaning in extensions is fine, but removing required attributes and structure is not. There is not much in the base standard that is fully required, e.g. namings of records is fully open (besides positions so far, but we could generalize the base standard if that is needed). It's really just directory structure, encoding

[2018-06-22 13:31] anokfireball commented on #283
I do not have bias either way and will abstain from giving either side a vote. That's a headache I'll leave for extension proposers will have to deal with.

Your point of providing a proper base that no extenstion could reduce further is very good. One example I always come back to in my mind is storing RGB picture data as a field. You would likely never need a ```unitDimension``` for Records as t

[2018-06-22 13:46] ax3l commented on #283
Yes, but I still think your exact question needs to be addressed in the standard to make it clear we are doing it that way. Probably in the general part where we introduce extensions.

oh no, that's a common misunderstanding about `unitDimension`. It is very important in that case. It will tell the reader if it is really *a unitless number* (it has *no dimension*). That's not a glitch.

For exampl

[2018-06-22 17:10] lge0303 commented on #33
Fabian,

Yes, I’ll do a pull request for NetCDF backends development.

Thanks for your suggestions!

Lixin

[2018-06-22 17:18] lge0303 commented on #33
Hi Axel,

Thanks!

Lixin

[2018-06-22 20:05] ritiek commented on #279
Spack installs python 3.6.5 too!

I should be the one to thank you. So, thank you! :D

[2018-06-22 20:05] #279 closed, assigned to ax3l

[2018-06-27 11:23] anokfireball opened #287 "Record creation implies non-scalar RecordComponents"
When creating a ```Record``` without supplying any ```RecordComponents```, ```Record::m_containsScalar``` is [default](https://github.com/openPMD/openPMD-api/blob/4832b11a91a70a9a6b7d91e119222fb02602b5ea/include/openPMD/backend/BaseRecord.hpp#L86)-initialized to ```false```. Under this assumption, an [empty group](https://github.com/openPMD/openPMD-api/blob/aca17f8563e53841b3bbb44a05a2a9e7cb3afb7d

[2018-06-27 14:33] ax3l commented on #287
I think the first option is good.

Do you think that might be an issue in interactive workflows where a user decides half-way to throw away a record (e.g. typo) and go for another? Looks like option two or an explicit delete would be useful there. Can't we just delete (unflushed) records, even in ADIOS?

[2018-06-27 19:07] anokfireball commented on #287
An option to delete nodes is already present for most objects with [```Container::erase()```](https://github.com/openPMD/openPMD-api/blob/dev/include/openPMD/backend/Container.hpp#L191-L212) and for attributes with [```Attributable::deleteAttribute()```](https://github.com/openPMD/openPMD-api/blob/de275058901fa1012e7b56a580660fe7e6d5fdae/include/openPMD/backend/Attributable.hpp#L106-L111). As long

[2018-07-07 12:56] ax3l opened #290 "A Simple Series Coverter"
It would be neat if we have a simple example app, that opens an openPMD series and stores it again - under a user-give, potentially different, file format / backend.

Ideally serial & parallel.

[2018-07-07 19:57] anokfireball commented on #290
Very nice idea! This can show users how this library tries to simplify workflows.

Unfortunately, this would be horribly verbose at the moment and actually provide the majority of code for #171. I would defer this issue at least until there is a plain old ```.copy()``` for frontend objects.
Additionally, it would be desirable to have some mechanism that allows copying dataset values without forcin

[2018-07-12 10:55] #122 closed, assigned to nobody

[2018-07-12 14:51] anokfireball commented on #276
Closed in #291.

[2018-07-12 14:51] #276 closed, assigned to nobody

[2018-07-12 15:10] ax3l opened #295 "Compile-Target: JS/WebASM|wasm"
It would be quite interesting, e.g with a JSON #65 backend, to compile the library for JS or JS hooks. This would allow efficient usage in browsers and node.js applications.

There are several ways to do this, e.g.:

- directly compile to JS via [emscripten](https://github.com/kripken/emscripten) (prob. slow)
- compile to [Web Assembly](https://webassembly.org/docs/faq/), e.g. via [clang's `--targ

[2018-07-17 20:00] ax3l commented on #65
With a JSON backend, validation via a [schema](https://schema.org/docs/gs.html) with existing tools / defintions such as [JSON-LD](https://en.wikipedia.org/wiki/JSON-LD) or [json-schema.org](https://json-schema.org/) could be way easier. (On a side-note, HDF5 seems to explore schema-support as well: https://2018esipsummermeeting.sched.com/event/Eypl)

[2018-07-24 09:05] anokfireball commented on #290
While I was playing around with implementations for this, it quickly became obvious that the first solution (the one with boolean flags for every ```Writable::copy()```) is nonsense as it will inevitably lead to dangling references:
[code]
The problem here is that the backend must be initialized *before* copying. That initialization currently only happens during creation of a ```Series```, as that

[2018-07-24 09:16] anokfireball commented on #171
Going off of https://github.com/openPMD/openPMD-api/issues/290#issuecomment-407335778, I doubt we can make ```Attributable::copy()``` happen.
The user should not be able to create dangling objects at all, especially not this easily.
This problem could be avoided by copying values into an existing (non-dangling) object inside a ```openPMD::Series``` structure, e.g. with ```Iteration::copyTo(Iterati

[2018-07-30 08:05] ax3l commented on #290
Yep, I think the cleanest solution is as well:
- assignment == reference copy
- `.copyTo(...)` is a full, recursive, deep copy

This is also how numpy and rust handle deep copies.

[2018-08-07 20:59] anokfireball opened #306 "Limit publicly exposed headers"
There is a small amount of headers that are publicly exposed without any need to, see https://github.com/openPMD/openPMD-api/pull/300#discussion_r207830380.
These should be refactored such that they are *not* exposed.

[2018-08-08 10:24] ax3l opened #307 "Collective Metadata API"
Not sure if we are aware of this in HDF5:
https://www.hdfgroup.org/HDF5/docNewFeatures/NewFeaturesCollectiveMetadataIoDocs.html

Advertised as

In [HDF5 1.10](https://support.hdfgroup.org/ftp/HDF5/current/src/unpacked/release_docs/HISTORY-1_10.txt)?

[2018-08-10 14:34] ax3l commented on #33
@lge0303 Hi Lixin, how are you doing?
Do you need feedback, review or anything from our side?

[2018-08-10 16:41] lge0303 commented on #33
Hi Axel,

Thanks for asking.

I forked a netcdf backends branch, did some development, will pull request soon.

Bests!

Lixin

[2018-08-17 17:41] #287 closed, assigned to anokfireball

[2018-08-21 13:31] franzpoeschel opened #310 "Name sanitization bug during dataset creation"
In [`src/IO/ADIOS/CommonADIOS1IOHandler.cpp`,](https://github.com/openPMD/openPMD-api/blob/dev/src/IO/ADIOS/CommonADIOS1IOHandler.cpp) the function `CommonADIOS1IOHandlerImpl::createDataset` sanitizes the dataset's name:
[code]
The second call to `auxiliary::replace_first` is likely intended to be `auxiliary::replace_last` instead in order to actually replace the slash at the _end_ of the name tha

[2018-08-22 03:46] anokfireball commented on #310
Hi! You're probably the student that @ax3l told me about?

Thanks for reporting this bug. Yes, it is actually a bug.
Your assuption about ```auxiliary::replace_last``` is correct: Any path ```/foo/bar/``` should be sanitized to ```foo/bar```.

Do you want to fix this by yourself and create a pull request? I'd be happy to assist you at all times.

[2018-08-22 07:54] franzpoeschel commented on #310
Hi, yep that's me. Thanks for your reply! – I've created a pull request with the fix.

[2018-08-22 08:14] anokfireball commented on #310
The same bug is also present in the [HDF5 backend](https://github.com/openPMD/openPMD-api/blob/0.3.1-alpha/src/IO/HDF5/HDF5IOHandler.cpp#L198-L203).

[2018-08-22 12:14] #310 closed, assigned to franzpoeschel

[2018-08-27 14:06] ax3l opened #312 "Python: Read the Write Example"
The 0.3.1-alpha python write example HDF5 files lack the `geometry` attribute. Reading them in `fileBased` again fails.

Python: adding
[code]
to `3_write_serial.py` fails on missing `geometry` attribute.

**Expected behavior**
Do not fail :-)

**Software Environment:**
 - version of openPMD-api: 0.3.1-alpha
 - installed openPMD-api via: conda-forge
 - operating system: OSX
 - machine: [Are you ru

[2018-08-27 14:06] #312 closed, assigned to ax3l

[2018-08-27 14:16] ax3l commented on #135
To do: read-back written data in tests https://github.com/openPMD/openPMD-api/pull/309#discussion_r212986804

[2018-08-27 14:17] anokfireball commented on #312
The symptom of the bug report is not the actual cause. The behaviour was a side-effect of https://github.com/openPMD/openPMD-api/pull/156. File-based handles were incorrectly over-written and files were thus only partially complete.
~(I am unsure which commit this was fixed in.)~ See https://github.com/openPMD/openPMD-api/pull/193.

[2018-08-27 14:29] ax3l commented on #312
But aren't both linked PRs already in `0.3.1-alpha`? I would guess that actually #297 might have fixed it?

[2018-08-27 14:59] anokfireball commented on #312
Both are involved, actually. #193 restores the hierarchy-relationship that was broken by #156 ([here](https://github.com/C0nsultant/libopenPMD/blob/7a33bee89f5da63b846151fb6e98f461210a3a60/src/Mesh.cpp#L190)), and #297 writes it to disk at the correct point in time ([here](https://github.com/C0nsultant/libopenPMD/blob/414f2ddbdd1e0542d6f82aa32885e3adbfe7eef4/src/Mesh.cpp#L199)).

[2018-08-28 13:08] ax3l commented on #171
Ok, but we should be able to implement `it.copy()`, etc.?

[2018-08-29 08:09] franzpoeschel opened #317 "Linker error when switching off MPI (and hence ADIOS1)"
**Describe the bug**
When building and installing openPMD using the CMake script without support for MPI (which will also switch off support for ADIOS1), attempts to include the installed library into another project will fail.

**To Reproduce**
Build the library without support for MPI:
`cmake -D openPMD_USE_MPI=OFF -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON <path to source>`
Output:
[code]
Install the lib

[2018-08-29 08:57] anokfireball commented on #317
Thanks for this detailed and concise report!

To be honest, I have lost track of the valid build configurations regarding ADIOS1. The library itself is not intended to be used for the purposes we aim for in this API (frictionless serial/MPI interoperability in single source). See https://github.com/ornladios/ADIOS/issues/183 if you're interested.
We had to go through a set of hoops merely to get i

[2018-08-29 09:33] ax3l commented on #317
Thx!
I will take care of this. He has the special case of "no backends" which we don't cover in CI. Will fix CMake accordingly.

[2018-08-29 09:43] ax3l commented on #317
~~Looks to me like C++17 strings are again incompatible with C++11 strings?~~ nope, tested.

...

AbstractIOHandlerHelper.cpp:(.text+0x165): undefined reference to `openPMD::ADIOS1IOHandler::ADIOS1IOHandler(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, openPMD::AccessType)'

[2018-08-29 09:45] franzpoeschel commented on #317
The complete `main.cpp`:
[code]

[2018-08-29 09:47] anokfireball commented on #317
You grabbed a hammer and there might be a nail:
https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html
This is older and referrs to ABI incompatabilities between GCC<5.1/C++03 and GCC>=5.1/C++11, but the symptoms look very similar.

[2018-08-29 09:48] ax3l commented on #317
Could be. But I think I just forgot to pass the dummy-ADIOS lib to the CMake config package. We will debug this, he sits next seat to me :D

[2018-08-29 09:51] franzpoeschel commented on #317
@C0nsultant The tests and examples build without any problems.

[2018-08-29 09:55] ax3l commented on #317
First note: the linker line in `CMakeLists.txt` of depending projects should read `openPMD::openPMD` not `openPMD`:
[code]

(`PRIVATE` or `PUBLIC` depends on the usage, e.g. if it's used in public headers again)

[2018-08-29 10:07] ax3l commented on #317
Yep, that's the error. You just find the include already because you installed in a system path.

[2018-08-29 10:52] franzpoeschel commented on #317
Ok, so it was on my side. It's working fine now, thanks for your help!

[2018-08-29 10:52] #317 closed, assigned to ax3l, anokfireball

[2018-08-30 08:18] ax3l opened #321 "Particles: Default for `positionOffset`"
**Is your feature request related to a problem? If so, please describe.**
When writing particle data, we should define the default of `positionOffset` to a *constant record (component)* with default `0` (zero) offset.

This makes it easier for users to write position data if they do not care about fine-vs-coarse precision that `position` + `positionOffset` offer.

Python:
[code]

**Describe the so

[2018-08-30 10:11] ax3l commented on #175
I just saw one can even trigger an error in GCC with invasive tests.
When including `<sstream>`, redefining private-public can lead to:
[code]
https://stackoverflow.com/questions/47839718/sstream-redeclared-with-public-access-compiler-error

[2018-08-30 11:59] ax3l commented on #175
PR #322 should be affected by this (at least on my machine; update: [yep](https://travis-ci.org/openPMD/openPMD-api/builds/422515202)), so let's reopen this issue.

One solution I could think of, if we want to keep intrusive "private" tests, is to define a macro for those keywords in our classes where we actually want to change private to public:
[code]

Idea reference: https://stackoverflow.com/a

[2018-08-30 12:17] anokfireball commented on #321
Full disclosure up front - Including the two [required](https://github.com/openPMD/openPMD-standard/blob/1.1.0/STANDARD.md#records-for-each-particle-species) Records ```position``` and ```positionOffset``` [implicitly](https://github.com/openPMD/openPMD-api/blob/dev/include/openPMD/ParticleSpecies.hpp#L58-L60) did not resonate well with me, but it is the least invasive solution I could come up wit

[2018-08-30 12:18] ax3l commented on #175
Maybe we also want to make `INVASIVE_TESTS` by default to be *off* and only enable it in (non-Windows) CI. Since it's actively changing class signatures with potentially bad behavior, we should not ship this by default to users? :) Just my gut feeling to make deployment more predictable with unexpected archs and compilers.

[2018-08-30 12:27] anokfireball commented on #175
Ugh, this sounds like an incoming mess.

Both proposals seem appropriate. The macro-ed version of ```private:``` does what we need wile keeping GCC at ease. I'd rather not include the rationale in the name of the macro, though. ```OPENPMD_private:``` should be enough.

Concerning the limitation of ```INVASIVE_TESTS=ON``` to CI: Sure. This issue was closed at a time where we did not have release ve

[2018-08-30 12:53] ax3l commented on #175
Alright, thanks for your feedback! If you like, I can implement the macro change after we merged #323 with the default change as well.

[2018-08-30 16:03] #175 closed, assigned to ax3l, anokfireball

[2018-09-03 08:26] ax3l opened #328 "HDF5: Type Portability"
**Describe the bug**
In HDF5, we specialize in many cases to `native ...` types.
_I suspect but do not know for certain_, that those are not descriptive enough to be portable. If so, we should instead specialize explicitly to the little/big endian *and* N-byte types they specialize on the writing platform to.

This needs testing, e.g. on an older Power architecture.

**To Reproduce**
Run tests, ch

[2018-09-03 09:06] masatoota22 opened #329 "How to name comment"
I can make a comment using set_comment in Value. But the name is always "comment" in Name. How can I name it as I  want?

[2018-09-03 09:15] anokfireball commented on #329
Hi, @masatoota22.
The [```Attributable::setComment(std::string const& value)```](https://www.openpmd.org/openPMD-api/classopen_p_m_d_1_1_attributable.html#aac0a5610fa3879e26d56c8f38123e3f8) call corresponds to the [comment](https://github.com/openPMD/openPMD-standard/blob/latest/STANDARD.md#hierarchy-of-the-data-file) Attribute specified in the openPMD standard. This dictates that the correspondin

[2018-09-03 10:41] masatoota22 commented on #329
Thank you for replying. Can you tell me the way in python?

[2018-09-03 11:06] anokfireball commented on #329
I'm unsure about the current status concerning Python attributes. The binding is still very much work in progress. @ax3l knows a thing about it or two.

There is currently a PR underway (#314) that tries to replicate `examples/7_extended_write_serial.cpp` in Python. Looking at the code and #330, I suspect it is only partially functional:
https://github.com/openPMD/openPMD-api/blob/3ac2508b8aff2528

[2018-09-03 11:37] ax3l commented on #329
Hi @masatoota22 , you want to write an attribute with `set_attribute` that is a `string`, right?

This is currently broken in `0.4.0a` and will be fixed in the next days. #330 already implements the fix for operations such as:
[code]

[2018-09-05 13:26] wmles opened #331 "float32 write not supported in python api"
The `3_write_serial.py`-example works with `float64`, and it seems, that `float32` is not supported. The traceback from the exception is:

to reproduce, paste the following modified example in an ipython shell

[code]

...where I only changed the `dtype=np.double` to `dtype=np.float32` and the `openPMD.Datatype.DOUBLE` to `openPMD.Datatype.FLOAT`
Where the `np.float32` is equivalent to the aliases

[2018-09-05 15:18] anokfireball commented on #331
Hi @wmles!
This same issue has emerged internally for us a few days ago. There are two merged pull requests (#318, #320) that try to address the single precision problem, in correspondence with numpy devs. These were only very recent and no version bump has happened since. As the problem is quite severe considering the HPC environment and related to another current Python PR (#330), we will probab

[2018-09-05 16:34] ax3l commented on #331
~~I checked the latest `dev` and it looks to me that the `set_chunk` python API suffers from a similar problem as the `set_attribute` we are currently fixing in #330.~~ Will check and provide a fix after that, thx for the detailed report!

Update: uh wait, looks like it's fixed in `dev` already, you were right :)

[2018-09-05 16:40] ax3l commented on #331
@wmles you can get the `HDF5` version inside `h5py` via: `import h5py; print(h5py.h5.HDF5_VERSION_COMPILED_AGAINST)`

If you installed via `conda`, check:
[code]

[2018-09-06 13:31] ax3l opened #335 "Unify Variant.hpp and Attribute.hpp"
Left-over from #333: in order to work-around the issue of `Attribute(static_cast<short>(42u))` on OSX and MSVC, we should implement a [move constructor in openPMD::auxiliary::Variant](https://github.com/openPMD/openPMD-api/pull/333#issuecomment-419026604) and [make the allowed types](https://github.com/openPMD/openPMD-api/pull/333#issuecomment-419088770) known at this point, which are currently li

[2018-09-06 15:52] ax3l opened #336 "Datatype: Signed Char"
TIL: `char`, `signed char` and `unsigned char` are distinct fundamental types. We handle `char` and `unsigned char` so far.

[2018-09-07 10:41] anokfireball commented on #336
:confused:

You never know the whole picture....

[2018-09-07 10:59] ax3l commented on #328
Should be portable:
*1.2.2 Predefined Datatypes* in https://support.hdfgroup.org/HDF5/doc1.6/UG/11_Datatypes.html

[2018-09-07 10:59] #328 closed, assigned to nobody

[2018-09-07 11:00] ax3l commented on #336
Yes, they can be the same, just as a `long` can be an `int`, but the three are on top of that distinct types xD

[2018-09-08 08:17] ax3l commented on #65
Continued from https://github.com/openPMD/openPMD-api/pull/337#discussion_r216041160 on

It's ok if a backend does not support (conserve) all data types or might even cast all floats to double or all ints to int64_t.

In JSON, depending on the backend, we could signal different precision `floats` just by significant digits in the mantissa. (Ignore what languages make out of that, e.g. a Java app o

[2018-09-10 08:58] franzpoeschel commented on #65
Ok, that sounds sensible.

Not a huge issue in JSON anyway since values are pretty-printed rather than casted.

Would the number of bytes be an alternative? That would work for integers, too, and if different FP standards are actually used, we are loosing information anyway.

After looking into things a bit more in detail, such a decision would actually be of relevance more for the frontend than t

[2018-09-10 11:33] franzpoeschel commented on #65
Ok, there is a small catch: While `readDataset` gets the datatype as a parameter from the frontend, the backend is responsible for figuring out the correct datatype in `readAttribute`. Easy solutions would include
1) picking the datatype according to the stored datatype in the json file
2) (as you suggested above for integers) fix one `float` and one `int` type to cast all values to
[code]
In the

[2018-09-11 07:27] ax3l opened #340 "Unify auxiliary::Variant and Attribute"
I think it makes sense to tell our `auxiliary::Variant` and the allowed types for it, aka `Attribute`, so we can implement the logic of `getCast< > ()` inside `auxiliary::Variant::get< >()` directly.

https://github.com/openPMD/openPMD-api/pull/337#discussion_r216566489

[2018-09-13 08:55] #179 closed, assigned to ax3l, anokfireball

[2018-09-13 09:19] anokfireball commented on #340
Dupe of #335.

[2018-09-13 09:19] #340 closed, assigned to nobody

[2018-09-13 15:08] ax3l commented on #335
@c0nsultant I can work on this if you like. Instead of unifying, we can also simply inherit and overwrite get. As you prefer

[2018-09-14 11:36] #335 closed, assigned to ax3l

[2018-09-17 10:47] #329 closed, assigned to anokfireball

[2018-09-17 11:51] ax3l opened #348 "get_attribute: numpy array/scalar"
Follow-up to #330: `get_attribute` should return numpy arrays (`py::array`, 1D) and numpy scalars (`py::array`, ndim==0) instead of lists.

[2018-09-17 11:53] ax3l opened #349 "Numpy: Verify Version on Import"
Follow-up to #330: in `src/bindings/openPMD.cpp`

Verify the currently found numpy version is at least 1.15.0+ for proper scalar support in numpy.

[2018-09-17 16:13] ax3l commented on #331
Hi @wmles, sorry for the delay in the bug fix. The underlying type system got a full rework so that python attribute writing also works as expected now.

If you update your conda install to the latest version of openPMD-api, version 0.5.0a, this should be fixed:
[code]

Can you confirm?

[2018-09-17 16:16] ax3l commented on #279
Hi @ritiek, the latest release 0.5.0a fixes a couple of python related issues, mainly attribute writing and proper float handling in datasets. Make sure to update in case you got any problems trying it! :)

[2018-09-17 16:19] ax3l commented on #329
Hey @masatoota22,

we think the issue you reported is now fixed in openPMD-api 0.5.0a! :)

First of all, sorry for the delay in the bug fix. The underlying type system got a full rework so that python attribute writing also works as expected now.

If you update your conda install to the latest version of openPMD-api, version 0.5.0a, this should be fixed:
[code]

You can now write any kind of attri

[2018-09-17 18:44] ritiek commented on #279
That's great to know @ax3l! Though, there hasn't been much stuff going on around OpenPMD and HDF5 datasets in PlasmaPy at the moment but we'll keep the newer OpenPMD-api version in mind for the future. :)

[2018-09-17 18:57] ax3l commented on #279
Alright, sounds good! Thanks for the feedback :)

[2018-09-18 09:58] ax3l opened #356 "Read of Mesh with Constant Record"
**Describe the bug**
Reading a files with mesh data with constant record components fails.

**To Reproduce**

I added the following sample file (constant, scalar mesh "rho"): [3_write_serial.h5.tar.gz](https://github.com/openPMD/openPMD-api/files/2392132/3_write_serial.h5.tar.gz)

[code]

fails with:
[code]

**Expected behavior**
Should be able to read the position attribute from a constant record

[2018-09-18 10:07] ax3l commented on #356
cc @C0nsultant any idea what's wrong here? Looks to me like the attribute is properly written in const and non-constant records but the logic for reading might be off in the constant record component case?

[2018-09-18 11:07] anokfireball commented on #356
@ax3l will look into it when I have some spare time on my hands today.

Without much digging: The reference file looks fine.

[2018-09-18 11:25] anokfireball commented on #356
This is probably easier than expected.

The code of interest for reading constant scalar meshes is in [`Iteration::read()`](https://github.com/openPMD/openPMD-api/blob/0.5.0-alpha/src/Iteration.cpp#L259-L285), [`Mesh::read()`](https://github.com/openPMD/openPMD-api/blob/0.5.0-alpha/src/Mesh.cpp#L309-L312) and [`MeshRecordComponent::read()`](https://github.com/openPMD/openPMD-api/blob/0.5.0-alpha/s

[2018-09-18 23:06] #331 closed, assigned to ax3l

[2018-09-19 06:08] #356 closed, assigned to anokfireball

[2018-09-19 11:15] ax3l opened #361 "High-Level Particle Patches"
Particle Patches should get a high-level interface for convenient usage.

The data type is fixed for number of particles and offset in the particle array and can be as attributes taken for the position "offset" and "extent".

I am thinking of something a `Patch` object and an API like:
[code]

Also, we need a `load()` method that returns a list/vector of all patches. Particle patches are small rec

[2018-09-19 11:50] ax3l commented on #361
Alternatively, one could also try to provide helpers filling patch infos alongside `storeChunk` operations on `ParticleRecordComponents`.

[2018-09-21 10:51] ax3l opened #368 "storeChunk argument order"
The order of `storeChunk`/`store_chunk` should be changed to allow useful defaults to:
- `data`
- `offset`
- `extent`

or
- `data`
- `extent`
- `offset` = n-D {0}

For example `extent` can be derived from `data` if a container is given (needs more overloads in C++, e.g. if we add xtensor later on but also for `std::vector` useful) but also in the Python interface where we naturally work with the b

[2018-09-25 09:03] ax3l commented on #368
Since this is a breaking change that can fit the signature in some cases with unwanted side-effects, we could also think about renaming the methods. Since the `store` methods just "register" arrays until flush is called... dunno, we had the same naming discussion a few months back with ADIOS2 devs.

[2018-09-25 17:33] ax3l opened #374 "CMake Flag: Release Channel"
Add a CMake flag that we can set in release channels to values like:
- `conda-forge`
- `spack`
- `pypi`
- `source` (default)

Allow us to quicker and more generic ask users for their system setup.

[2018-10-04 14:58] ax3l commented on #65
I think that is totally fine for now, if we add light-weight annotations on top of that, that can be ignored if one casts to the defaults (probably `double` and `long`), it's is even better.

(is that what you draft in `2.`? A type attribute per data set would keep/fake the type info but still casts the precision during pretty printing... Talking about pretty-printing, it adds not much value to re

[2018-10-08 14:33] ax3l commented on #181
Following proposal: as mentioned above, we can keep for **module names** the `_` and create a `openpmd.XYZ` meta-module (and meta-package) later on.

- [ ] https://github.com/openPMD/openPMD-viewer/issues/82 & https://github.com/openPMD/openPMD-viewer/pull/240
- [x] https://github.com/openPMD/openPMD-api/issues/181
[code]

But the **package names** should be consistently and [PEP8 recommended](htt

[2018-10-25 13:39] ax3l opened #382 "Series: non-zero padded"
**Describe the bug**
It seems that with the latest updates we cannot open `fileBased` series without zero-padding anymore, e.g.:
[code]

**To Reproduce**

Python:
[code]
or C++
[code]

**Expected behavior**
Should we be able to reads those as well? Did I mix up the syntax for it?

**Software Environment:**
 - version of openPMD-api: 0.6.2-alpha
 - installed openPMD-api via: pip
 - operating system

[2018-10-26 04:40] RemiLehe opened #383 "Add writing/reading examples for particles"
The examples provided [here](https://openpmd-api.readthedocs.io/en/latest/usage/serial.html) are really great! (Kudos for the nice Python bindings by the way!)

It would be fantastic if these examples could be extended in order to include the writing/reading of particles (in addition to reading/writing of meshes).

[2018-10-26 08:29] ax3l commented on #383
Thank you for trying the API!
We have to extent the manual and link more examples, here are also some that write particle data: https://github.com/openPMD/openPMD-api/tree/dev/examples (7_extended_write_serial) by we should make smaller examples without patches as well.

[2018-10-26 08:53] ax3l commented on #382
cc @C0nsultant am I doing something wrong here?

[2018-10-26 10:14] ax3l commented on #383
Simple particle writing can look like this:
[code]

[2018-10-26 11:20] ax3l commented on #383
We will announce when we make the `store_chunk` syntax more intuitive, currently the order of arguments is a bit *wild*: #368 #387

[2018-11-05 09:36] ax3l opened #387 "loadChunk defaults"
Similar to #386.

The additional (uncommon) overload of `loadChunk` / `load_chunk` should also have `data` first.
Furthermore, we should introduce defaults for offset & extent to load the whole data set if nothing is specified.

[2018-11-06 09:10] #368 closed, assigned to ax3l

[2018-11-06 10:48] ax3l commented on #382
Proposed a fix in #388.

[2018-11-06 18:49] #382 closed, assigned to ax3l, anokfireball

[2018-11-12 10:17] pordyna opened #390 "Initializing a Series fails. File can't be open."
Initializing a Series fails and an Exception occurs:
  RuntimeError: Failed to open HDF5 [correct path to the file]
Somehow it works with the exemplary openPMD data set from here [https://github.com/openPMD/openPMD-example-datasets]. It fails, when I'm trying to load the whole series with  '%T' , but also when I pass a path, to a single file with a specific iteration.

**To Reproduce**
Python:
[co

[2018-11-12 10:50] ax3l commented on #390
Hi @pordyna, thank you for the report!

I saw the same problem recently #382 and just fixed it in #388.
*Update: fixed in openPMD 0.6.3-alpha*

This is not yet in a release, but if you want to work-around this until it is you can do either:
- prefix the `simOutput_<N>.h5` files with an equal number of `0`s or
- enforce to read "only" the files in the range, say, `10'000-99'999` by opening via enfo

[2018-11-12 14:46] n01r commented on #390
Hey @pordyna, can you document again what doesn't work?

The following works for me from a notebook started with the [HZDR service](https://www.hzdr.de/jupyter)

[code]

[2018-11-12 15:35] pordyna commented on #390
While using the HZDR service, i couldn't import the API. It appears to not be installed properly.

[code]
results in:
```ImportError: libhdf5.so.10: cannot open shared object file: No such file or directory```

@n01r, Have  you  installed `openpmd-api`  on the cluster locally? How did you install it, and which version are your running?

The exact thing, which works for you, wont work with Jupyter

[2018-11-12 15:38] ax3l commented on #390
@pordyna you did everything correct, please install via `conda`.

There is also one outdated version swirrling around at our cluster (in the sys dirs), which should never have been there outside of a module or user's home...

@n01r your example works because it skips all output < 1000. See [this comment](https://github.com/openPMD/openPMD-api/issues/390#issuecomment-437836431).

[2018-11-12 15:42] n01r commented on #390
Yes, I saw this - but my example works also because I have a `jupyter.profile` lying around from the PIConGPU workshop.

In there we have
[code]

with the newer version of HDF5 on the cluster it doesn't work.
I was just about to open a ticket.

[2018-11-12 15:45] ax3l commented on #390
Please don't, the problem is on the user profile side.

Please keep in your both `jupyter.profile`:

[code]

then do for install once:
[code]

If that works for you, you do not only get a working version but also the error reported in the PR description will be fixed: I just released openPMD-api 0.6.3-alpha with the fix for you.

[2018-11-12 17:14] pordyna commented on #390
Thank you @ax3l.
I don't have the  `jupyter.profile` file. There is  `own.module` in `laser018:/data/home/<user_name>`, which looks like that:
[code]
How should `jupyter.profile` look like?

[2018-11-12 23:22] ax3l commented on #390
That ` own.module` looks good - keep it as empty as it currently is. Just create a text file `$HOME/jupyter.profile` with the following content:
[code]

That's all, then you can follow the instructions [above](https://github.com/openPMD/openPMD-api/issues/390#issuecomment-437928621) to install `openPMD-api` from source via `pip` :)

The `$HOME/jupyter.profile` is sourced ("activated") on hypnos wh

[2018-11-13 10:17] ax3l commented on #390
@pordyna does it work for you? :)

[2018-11-13 10:44] pordyna commented on #390
@ax3l , well I managed to install it, but somehow still not.
**First issue**

[code]
works just fine, when I run it through python3 in terminal. In a jupyter notebook, I still get this

[code]
**Second issue**
When I run
[code]
through python3 interpreter in the terminal, I get this:

[code]

Same thing occurs for other iterations.

[2018-11-13 10:47] ax3l commented on #390
Did you restart the jupyter notebook after you re-installed openPMD-api? Is it a Python3 notebook?

please show me what
[code]

shows when executed in the terminal.

With a *a newly started* Jupyter *Python3* kernel (close all previous instances and stop & restart service first), what do two cells with input
[code]
[code]
return us?

Second issue: are you sure a
[code]

works under your permission

[2018-11-13 10:52] n01r commented on #390
I set the permissions of the whole simulation directory to `g=u-w` before. Should work ...

[2018-11-13 10:53] ax3l commented on #390
But maybe it was not
- recursive on all files or
- directory access rights are still missing or
- a directory above cannot be accessed by him

[2018-11-13 10:57] n01r commented on #390
It was definitely recursive but I'll go and double-check.

Weird though that his `import openPMD` in the notebook is now asking for `libhdf5.so.10` while when it didn't work for me before it was asking for `libhdf5.so.9`.

[2018-11-13 10:58] pordyna commented on #390
It seems to work?
[code]

[2018-11-13 11:09] ax3l commented on #390
Does `less /bigdata/hplsim/scratch/garten70/PIConGPU/159_FixPhaseSpaceMomentumMetaData/simOutput/h5/simData_3500.h5` work? (`:q` to exit)

And
[code]

[2018-11-13 11:11] ax3l commented on #390
@pordyna please log out and in to hypnos again for a fresh session, then can you please provide the output of https://github.com/openPMD/openPMD-api/issues/390#issuecomment-438221270 ?

[2018-11-13 14:15] pordyna commented on #390
@ax3l  So logged out, and in and that's what I get:

[code]
[code]
[code]
[code]
[code]
So this doesn't work  any more.
[code]
I'm using only python3 notebooks.

[code]
results in
[code]
```python import openPMD```
results in
[code]

[2018-11-13 20:52] ax3l commented on #390
@pordyna ok, so that's the system-wide openPMD-api install that someone placed there that nags us.
Tomorrow, just do the following to install your own, updated openPMD-api it which will mask that old install away.

- Log into Hypnos with a fresh session, then
[code]

I forgot to recommend `-U` initially, which will force an upgrade.

Do the [same commands](https://github.com/openPMD/openPMD-api/is

[2018-11-14 11:32] pordyna commented on #390
@ax3l , so I installed it once again and it imports correctly now. Though I still can't access those simulation data through the API. h5py works just fine.
That's how it looks in a notebook:

[code]

[code]

[code]

    ---------------------------------------------------------------------------

    RuntimeError                              Traceback (most recent call last)

    <ipython-input-3-a

[2018-11-14 11:46] pordyna commented on #390
I noticed that h5py is using a different version of hdf5: 1.8.18.
[code]
So I tried loading the 1.8.18 module instead of 1.8.14 and installing the API once again, but it doesn't
seem to be available on hypnos.
[code]

[2018-11-14 12:01] ax3l commented on #390
Oh, glad the install worked!
I am scratching my head about the "permission denied" and will investigate with @n01r and come back to you.

[2018-11-14 12:32] ax3l commented on #390
Lol, the problem is, that for some weird reasons, you need write access to the files, even in *read-only mode*.
Can you just copy the dir for now? I'll open a bug report.

[2018-11-14 12:59] pordyna commented on #390
I will just use `h5py` for now. Thanks for your help.

[2018-11-14 12:59] #390 closed, assigned to nobody

[2018-11-14 13:30] ax3l opened #394 "Read-Only on Files Without Write Permissions"
**Describe the bug**
Opening a `Series` as read-only does not work on files that do not have write permission for the user under Linux.

**To Reproduce**

Terminal:
[code]

**Expected behavior**
Read-only files should be readable with only read-permissions.
`h5dump` and `h5ls` seem to work with those as well.

**Software Environment:**
 - version of openPMD-api: 0.6.3-alpha
 - installed openPMD-ap

[2018-11-29 13:38] ax3l commented on #18
While we are on it, I found another great workflow/tutorial reference for e.g. chunking in HDF5 in my GitHub stars: https://github.com/scopatz/hdf5-is-for-lovers

[2018-12-12 17:51] ax3l commented on #65
Implemented in #338
@franzpoeschel rocks! :guitar: :rocket: :sparkles: :

[2018-12-12 17:51] #65 closed, assigned to franzpoeschel

[2018-12-13 15:42] ax3l commented on #37
@franzpoeschel I found the following leftovers:

### Clang 6.0 Warning

[code]

Triggered when both are placed into a `std::make_shared` pointer, e.g. with `auto blockSlicer = std::make_shared<openPMD::OneDimensionalBlockSlicer>(0);`

### Sporadic ADIOS Issue in CI

[See here](https://github.com/openPMD/openPMD-api/pull/346#issuecomment-446927357)

[code]

[2019-01-03 12:52] ax3l opened #406 "HDF5: Chunking"
Our HDF5 backend does not yet implement proper chunking.

Note: we should stay with *fixed size* data spaces nonetheless for performance.

References:
- https://support.hdfgroup.org/HDF5/doc/Advanced/Chunking/
- https://support.hdfgroup.org/HDF5/faq/parallel.html

Pitfalls:
- https://github.com/ComputationalRadiationPhysics/libSplash/issues/133
- https://github.com/ComputationalRadiationPhysics/pi

[2019-01-04 13:05] pordyna opened #407 "Invalid field data."
**Describe the bug**
I get invalid field data , when I'm loading a PIConGPU simulation output with the API.
The fields are almost everywhere equal zero, for some iterations there are `nan` values as well.
If I load the same arrays using `h5py`, I get a normal field distribution .

**To Reproduce**

[code]
See the attached file for more details.
[notebook pdf](https://github.com/openPMD/openPMD-api

[2019-01-04 13:11] ax3l commented on #407
Hi and thank you for the well-documented report!

Before you can use the `load_chunk`-ed data, make sure to perform `series.flush()`. openPMD-api is a asynchronous-API that by default collects several read and write operations in order to increase performance.

[2019-01-04 13:14] ax3l commented on #407
Side note: please be warned that the next release will change the argument order of the `store_chunk`/`load_chunk` methods in order to make it simpler: https://openpmd-api.readthedocs.io/en/latest/install/upgrade.html#alpha Just switch your argument order when updating to the upcoming 0.7.0 release in a few days.

[2019-01-04 13:21] pordyna commented on #407
Thank you for the tip with `series.flush()` now it works just fine.

[2019-01-04 13:21] #407 closed, assigned to nobody

[2019-01-04 15:11] ax3l commented on #407
Hurray, glad that helped! :)

[2019-01-05 11:41] #387 closed, assigned to nobody

[2019-01-05 13:58] #37 closed, assigned to franzpoeschel

[2019-01-05 15:28] ax3l commented on #33
@lge0303 Hi and a happy new year!

Are you still working on this?

[2019-01-05 16:49] ax3l opened #413 "ADIOS1 Serial Link Trick Violates ODR for vtable"
The work-around for ADIOS1 to allow using it's "hacked" serial implementation at the same time as the parallel implementation might have a bug:  #254

Clang 7 `-fsanitize=address` uncovers an [ODR issue](https://travis-ci.org/openPMD/openPMD-api/jobs/475736147):
[code]

Related to https://github.com/openPMD/openPMD-api/issues/37#issuecomment-447014373

[2019-01-05 18:12] ax3l opened #414 "storeChunk with STL container: Use-after-Free"
Clang 7.0's `-fsanitizer=address` uncovers a use-after-free in the ~~JSON backend~~ `RecordComponent::storeChunk` frontend:

[code]

Ref: https://travis-ci.org/openPMD/openPMD-api/jobs/475747379

Line: https://github.com/openPMD/openPMD-api/blob/6512220cfd2bd7b3425a6f14509b3806ff39549a/src/IO/JSON/JSONIOHandlerImpl.cpp#L1340

[2019-01-06 01:01] ax3l commented on #414
@franzpoeschel maybe you can see it faster than I do.
I guess there is a temporary passed in there by ref or so.

[2019-01-06 01:52] #413 closed, assigned to ax3l

[2019-01-06 02:32] ax3l commented on #414
Probably a missing `std::forward` for e.g. `json["data"]`. For the pointer casting maybe `std::static_pointer_cast` would also an option. Don't right now see where the pointer becomes a reference...

[2019-01-06 12:15] ax3l commented on #414
The problem is not in the backend but in the new `storeChunk` method overload for STL containers (#416).
First usage in tests: https://github.com/openPMD/openPMD-api/blob/6512220cfd2bd7b3425a6f14509b3806ff39549a/test/SerialIOTest.cpp#L158

[2019-01-06 13:25] ax3l commented on #414
The JSON backend implementation is excellent: finally a backend that is not prune to the usual HPC-MPI-stack issues and allows us to check out frontends with modern tooling! :)

[2019-01-06 14:12] #414 closed, assigned to ax3l

[2019-01-06 23:10] lge0303 commented on #33
Axel, Happy New year!

I’m working on the write Electromagnetic Field based on Finite Element to E/M field on finite difference grids in openPMD format, which will be read in by IMPACT - a beam dynamic software. So currently I’m not working on NetCDF backend of OpenPMD-api. I’m not sure when I could pick it up, sorry about it.

Lixin

[2019-01-07 08:14] ax3l opened #418 "create_directories: MPI race condition"
With our `auxiliary::create_directories` there can be a race condition with MPI parallel dir creation which currently shows up from time to time in CI with our MPI benchmark (Parallel HDF5 & Parallel ADIOS).

The reason currently is that *all* ranks try to call `create_directories` when the dir does not yet exist. It's first of all not needed that all do this (think of this at scale and the poor F

[2019-01-07 10:16] #418 closed, assigned to ax3l

[2019-01-11 08:41] #383 closed, assigned to nobody

[2019-01-13 16:29] ax3l opened #437 "CI: C++14/17"
Add some compile matrix entries that already build with C++14 and C++17 to see if we hit incompatibilities.

Important since e.g. conda-forge already builds with C++14 and C++17 chains.

We might also need to remove `CXX_EXTENSIONS=ON` forcing in our `CMakeLists.txt` because that should actually be controlled externally. If we remove it, we should document that we, CMake-typically, don't just buil

[2019-01-16 13:01] ax3l opened #443 "Update Variant & Catch2"
Update to [mpark/variant v1.4.0](https://github.com/mpark/variant/releases/tag/v1.4.0).

Also [Catch2 v2.6.0](https://github.com/catchorg/Catch2/releases/tag/v2.6.0) contains the coverity fixes I submitted upstream.

[NLohmann-JSON 3.5.0](https://github.com/nlohmann/json/releases/tag/v3.5.0) ships our patch fixing a `-Wshadow` warning.

[2019-01-21 11:04] ax3l opened #446 "OpenMPI: Update to 3.0.5+|3.1.5+|4.0.1+ or Use ROMIO for IO"
A note on using openPMD-api, especially the parallel HDF5 backend, with OpenMPI:

OpenMPI's default for its IO backend is OMPIO, [starting with 2.x](https://www.open-mpi.org/faq/?category=ompio).

The issues below are fixed in OpenMPI versions:

- [ ] ~~`v2.0`~~: affected, not fixed (end-of-life)
- [ ] ~~`v2.x`~~: affected, not fixed (end-of-life)
- [x] [`v3.0.4`](https://raw.githubusercontent.com

[2019-01-27 13:25] ax3l opened #452 "CI: UndefinedBehaviorSanitizer"
We already run the CI with AddressSanitizers but should also run an entry with [UndefinedBehaviorSanitizer](https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html).

Also, if we [suppress]() some of the memory leaks in dependencies we might be able to check more backends in AddressSanitizer.

Check all but memory leaks: `-fsantize=address` with export:
[code]

We can also activate the python

[2019-01-27 14:35] ax3l opened #453 "XML Backend"
We could add an XML backend, which allows for easy verification with schema's from web development.

Somewhat similar to our JSON backend (which is more compact), XML has a more natural and verbose handling of "attributes" and "data".

This is a good way to get started when learning openPMD-api.

### Potentially Interesting Dependency for Backend

- https://github.com/zeux/pugixml
- https://github

[2019-02-04 17:26] #99 closed, assigned to ax3l

[2019-02-05 15:29] ax3l opened #459 "Converter CLI"
We should write a small command line interface (CLI) tool that provide converters from one backend to another.

E.g. if all backends are enabled, convert openPMD *series* of files:
[code]

A cool extra option would be to add a flag that *mocks* the heavy data entries, e.g. for constant records with zero-value. This might be very useful for validation and meta-data scraping.

We should also add an

[2019-02-05 15:30] ax3l commented on #459
Might be a duplicate of #290

[2019-02-05 22:14] anokfireball opened #461 "Logging / Tracing / Debugging facilities"
In order to better understand the internal flow when debugging or developing, it would be very helpful to have run-time switchable logging, including debugging and tracing levels.

For a simple and fast solution, https://github.com/gabime/spdlog could be a good option.
More ready-made C++ logging facilities are [available](https://github.com/fffaraz/awesome-cpp#logging).

[2019-02-06 08:52] ax3l commented on #461
From https://github.com/openPMD/openPMD-api/pull/460#issuecomment-460818133:

[2019-02-06 15:59] #394 closed, assigned to nobody

[2019-02-06 16:02] ax3l commented on #181
Import and package names for `openPMD-api` are consistent with the 0.7.0+ release.

Please see the respective linked issues for other repos.

[2019-02-06 16:02] #181 closed, assigned to ax3l

[2019-02-16 00:15] ax3l opened #470 "Parameter Read/Write: Data Policy"
It would probably be useful if we added a trait / policy or runtime converter to the [`Parameter< Operation::READ_DATASET >`](https://github.com/openPMD/openPMD-api/blob/0.7.1-alpha/include/openPMD/IO/IOTask.hpp#L321-L340) (and write) data members of shared pointers in order to share more complex data objects.

For example returning to python a `py::array`, that the user might not handle, might re

[2019-02-16 00:24] ax3l opened #471 "Check dynamic_casts"
[`dynamic_cast< T >( ... );`](https://en.cppreference.com/w/cpp/language/dynamic_cast) and `dynamic_pointer_cast< T >` can return a `nullptr` when converting pointers. That return value is not unlikely, e.g. with our non-trivial library and symbol hiding environment #442. Also, dynamic cast implementation details are stdlib dependent (e.g. libstdc++ vs. libc++ vs. MS).

Therefore, check all `dynam

[2019-02-16 17:45] ax3l opened #475 "First Pint Support"
Simple bindings to [pint](https://pint.readthedocs.io) would be wonderful for dimensional analysis or records.

as drafted [here](https://github.com/openPMD/openPMD-api/pull/473#discussion_r257466791)

[code]

As a first step, `RecordComponent.unit_dimension` should probably just return a dictionary that fits exactly those pint defaults:

[code]

https://github.com/hgrecco/pint/blob/master/pint/de

[2019-02-17 09:38] ax3l opened #476 "RecordComponent Constant After Store"
**Describe the bug**
Setting (accidentally) `storeChunk` and then `makeConstant` on the same `RecordComponent` before a flush does not throw a user-friendly error (nor is it gracefully handled).

Instead, a backend-error is thrown on `flush`, which even leads to an unhandled crash in case of HDF5.

**To Reproduce**

Python:
[code]
or C++
[code]

JSON:
[code]

HDF5: (not even catched by IO backend)

[2019-02-17 10:05] ax3l opened #477 "Attribute Getting: Default Param"
While reading attributes, it would be useful for many cases to return an "empty default" instead of throwing an `openPMD::no_such_attribute_error` on missing.

Therefore, we should introduce an additional, optional parameter in e.g. `Series.author()` and `Attribute.get()` that if set, is returned in case of exceptions (instead of an exception).

This is similar to Python's `dict()` handling:
Pytho

[2019-02-17 19:39] ax3l commented on #34
I don't think one needs an explicit `master`/`stable` anymore, as developers will build from source and know how to switch tags/dev/branches and users will take package managers.

[2019-02-19 10:00] ax3l opened #485 "Series Open Performance"
We should investigate and profile our performance of `Series` open (especially with `READ_ONLY` and `READ_WRITE`, but also with `CREATE` on truncation: #483).

Most crucial with file-based series, I have the subjective feeling they are slower than they need to be, already in serial mode.

We might need to clearly define also in this step, what we check and assume when opening a series (aka [contra

[2019-02-19 10:39] ax3l commented on #470
cc @C0nsultant @franzpoeschel do you have thoughts on this? We could improve data safety for user-provided containers and python bindings a lot if we could store more complex `T` types in our `std::shared_ptr<T> data` members.

[2019-02-19 14:12] anokfireball commented on #476
This goes much in the direction of flow-analysis that would be required once we do selective flushing and the required scheduling.

This one should be faily easy to catch, though. `RecordComponent::makeConstant()` would check if `RecordComponent::m_chunks` is empty and only continue if the condition is met.
When calling `flush()` in between the two value-sinking calls, the backend should catch the

[2019-02-19 15:35] anokfireball commented on #477
...

Using `::optional` won't actually solve the problem. `::optional::has_value()` is merely a deferred `try-catch` that (also) creates conditional code branches.

[code]

That is not too late, it is actually not the source of the problem. What you're trying to address here is `no_such_attribute_error`, which means there is no `Attribute` to call `Attribute::get()` on.
Which also means that `::mo

[2019-02-19 15:50] ax3l commented on #477
That's the beauty of it: the user would provide it, just as in Python's `dict.get()`, as an optional argument :-) If it's set we can return it as fallback and otherwise we continue to `throw`.

For convince-members such as `Series::author()`, which are fixed-return-type, we can implement empty-fallback without asking the user for it.

[2019-02-21 13:54] ax3l opened #489 "Flush Before storeChunk: Triggers Write"
@franzpoeschel just realized that a `series.flush()` for new record components, before a `storeChunk` is even called, queues a one-element dataset-write to the backends.

This is visible in the parallel write example:

  https://github.com/openPMD/openPMD-api/blob/0.7.1-alpha/examples/5_write_parallel.cpp#L86

and doesn't seem right from our internal handling logic:
- it will write unnecessary, ra

[2019-02-21 15:49] #152 closed, assigned to anokfireball

[2019-02-22 14:08] ax3l opened #490 "Segfault in Flush of Particle Record Component"
**Describe the bug**
An early flush during parallel `CREATE` causes a segfault.

**To Reproduce**

Taken from `ParallelIOTest` section `hdf5_write_test` `[parallel][hdf5]` with an added `o.flush()` [here](https://github.com/openPMD/openPMD-api/blob/e3d816a615caba711c8ef85d82791a09387d72bd/test/ParallelIOTest.cpp#L101) after the first `storeChunk()`.

[code]
**Expected behavior**
Should not segfaul

[2019-02-22 14:17] anokfireball commented on #490
Does serial execution of the same code also result in a segfault? If so, I might have a hunch (https://github.com/openPMD/openPMD-api/issues/321#issuecomment-417298702) about the origin.

[2019-02-22 14:31] ax3l commented on #321
Yep, but I would not write them on series or user-triggered `flush()` but on series/iteration/species/record shutdown/close, in a sanity check that adds missing defaults as writes.

Maybe we make our life easier for streaming later on, if we add those when user-held references to a certain `Iteration`, `ParticleSpecies`, or `Record` go to zero.

Do we know when a user destructs the handle of an `e

[2019-02-22 14:36] ax3l commented on #490
Not crashing, in serial mode we get the nice abort message:
[code]

[2019-02-22 14:44] anokfireball commented on #490
Very weird that this results in a segfault in the parallel case.
For the actual problem: This is one of the few nasty edge cases of the standard.

We might want to disallow a flush before **both** `RecordComponents` from a `position` and `positionOffset` pair have been specified (so it does not irreversibly get flushed to disk with a undesired default).
Alternatively, we might allow it, but then w

[2019-02-22 14:49] ax3l commented on #490
Yes, something like the latter, potentially. As noted in [#321](https://github.com/openPMD/openPMD-api/issues/321#issuecomment-466415456), I think the sanest way is to clean up when destructing (or loosing user-reference) on the affected (particle) ~~`Record`~~ species.

By that, we can still auto-complete fine-grained with an open series and don't run in the same issue again while staging subsequ

[2019-02-22 15:05] anokfireball commented on #490
Ever since we merged https://github.com/openPMD/openPMD-api/pull/156, that is easily detectable. As everything is `std::shared_ptr`-based, we could simply check for `use_count == 1` (held by the API).
This would mean it's not too tricky, but does not solve the problem and is potentially dangerous. The user might temporarily drop the ref to a `ParticleSpecies` (or any handle for that matter) and th

[2019-02-22 15:10] ax3l commented on #490
Let's move the design discussion to #321 to keep things together and focus on the MPI-parallel bug fix here :) sorry for cross-posting!

[2019-02-22 15:11] ax3l commented on #321
@C0nsultant wrote:

Ever since we merged https://github.com/openPMD/openPMD-api/pull/156, that is easily detectable. As everything is `std::shared_ptr`-based, we could simply check for `use_count == 1` (held by the API).
This would mean it's not too tricky, but does not solve the problem and is potentially dangerous. The user might temporarily drop the ref to a `ParticleSpecies` (or any handle for

[2019-02-22 15:13] ax3l commented on #321
Yes, that's also my main concern. As well as direct access through a temporary.

Did you see my edit above (helper record-level `makeConstant` and time and place of checks in the last paragraph of [this](https://github.com/openPMD/openPMD-api/issues/321#issuecomment-466415456))? Overall `Series` is one way or when we `flush()` an iteration's `ParticleSpecies` (something like a transaction).

[2019-02-22 15:32] anokfireball commented on #321
That does not eliminate the problem of the user forgetting `RecordComponent`s in that call. Also, it is merely syntactic sugar for the individual calls to [`RecordComponent::makeConstant()`](https://github.com/openPMD/openPMD-api/blob/0.7.1-alpha/include/openPMD/RecordComponent.hpp#L108-L109). Edit - I don't even want to start thinking about different datatypes for the constant values in the `std:

[2019-02-22 16:15] ax3l commented on #490
I can also reproduce a segfault with `examples/9_particle_write_serial.py`, but did not check if it's just an uncatched `throw` or the same issue.

[2019-03-03 17:16] ax3l opened #491 "setup.py: RPath Issue on OSX with ADIOS1?"
@ChristopherMayes observed an rpath issue with `setu.py` based installs from PyPI with `0.7.1a` regarding RPaths of our ADIOS1 wrapper library.

In 0.8.0 we will only build this when ADIOS1 is actually used, but the problem could still be there (when ADIOS1 is present):

[code]

### Environment

HDF5: 1.10.4
h5py: 2.9.0
macOS Mojave (latest)
python 3.6.8

[2019-03-03 17:24] ax3l opened #492 "setup.py: More Control over Variants"
Our installs via `setup.py`, e.g. via PyPI, do not yet expose the same level of control over variants as our CMake (or spack) based installs.

Currently, all options are on `AUTO` detection which are often tricky with MPI.

In 0.8.0, we are adding `mpi4py` support which will expose a `pip install .[mpi]` "extra" in the `setup.py` install step. I am currently asking in `setuptools` (https://github.

[2019-03-05 10:51] ax3l commented on #492
Looks like the separation of concerns between `build` steps and dependency resolution in `setuptools`/`pip` does not allow to actually express or even record `build` variants of a package. All it supports is to express "extras" which are merely additional requirements. Implementation logic can then handle what it got at runtime, which doesn't help us much in the world of binary-builds.

Therefore,

[2019-03-08 11:23] ax3l opened #493 "Public Headers: openPMD/Serial.hpp openPMD/Parallel.hpp"
Should we replace our public header `openPMD/openPMD.hpp` with an explicit serial or parallel version? `openPMD/Serial.hpp` and `openPMD/Parallel.hpp`?

And should it be possible to include both in the same translation unit and how do we avoid ODR issues in multiple translation units?

This would avoid having users to set macros and allows more seamless usage of our parallel features with serial u

[2019-03-08 16:26] RemiLehe opened #494 "MPI: storeChunk multiple times or not at all?"
In standard MPI domain decomposition, each MPI rank owns one rectangular chunk of the mesh. In this case, with `openPMD-api`, each MPI rank calls `storeChunk` once (from my understanding of [this (very nice and useful) example](https://openpmd-api.readthedocs.io/en/0.7.1-alpha/usage/parallel.html))

However, in some codes (e.g. AMReX-based), each MPI rank owns several rectangular chunks of the mes

[2019-03-08 16:31] RemiLehe opened #495 "C++ example with parallel write of 2D/3D mesh"
Right now, the documentation contains an example for parallel write in C++, but only with a 1d array and one element per MPI rank.

Would it be possible to add an example (or transform the current example) to include writing of 2D/3D mesh in parallel?

Thanks!

[2019-03-09 10:29] ax3l commented on #495
I think it's best to update the `5_write_parallel` example. 1D chunking of a 1D mesh is too trivial of an example indeed.

[2019-03-09 11:09] ax3l commented on #495
@RemiLehe I enhanced the example in #496. Feedback welcome! :)

[2019-03-09 11:16] ax3l commented on #494
Yes, that's fully supported.

We have such use cases as well in PIConGPU, e.g. for particles: some ranks have zero particles and contribute nothing, others have 5 species which are written one by one.
(PIConGPU does not use the new API yet, but it's predecessor libSplash and ADIOS1. @franzpoeschel will upgrade PIConGPU in the upcoming months during his Master's thesis.)

This is only necessary if

[2019-03-09 13:02] #495 closed, assigned to ax3l

[2019-03-09 13:28] RemiLehe commented on #494
Thanks for the detailed answer. This is very clear now.

[2019-03-09 13:28] #494 closed, assigned to nobody

[2019-03-09 14:59] ax3l commented on #443
All done :)

[2019-03-09 14:59] #443 closed, assigned to ax3l

[2019-03-10 04:34] RemiLehe opened #501 "Spack installation fails due to issue with mpark-variant"
**Describe the bug**
When trying to install `openpmd-api` with spack, installation fails. The installation log reports some error related to the version (1.4.0 vs 1.3.0) of `mpark_variant`.

**To Reproduce**
[code]
(More, precisely, in my case, `spack spec openpmd-api` returns:
[code]

In this case, the installation fails with:
[code]
This is quite confusing, since `spack info` reports that I have

[2019-03-10 05:02] RemiLehe opened #502 "Documentation: include how to compile the C++ Examples"
I found the [examples](https://github.com/openPMD/openPMD-api/tree/dev/examples) very instructive.

However, as someone who knows almost nothing besides Python (shame on me!), it is unclear how to compile/test the examples. Having installed openpmd-api (from source+cmake) in `/usr/local/`, my naive attempt was:
[code]

Could you add the correct command in the documentation?

[2019-03-10 05:10] RemiLehe opened #503 "Add option to install dynamic library?"
Would it make sense to add an option to install openPMD-api as a dynamic library? (instead of a static library)

The main use case would be using openPMD-api in a REPL setting, with `cling`.
My understanding is that `cling` can only load dynamic libraries.

[2019-03-10 09:02] ax3l commented on #503
Hi Rémi,

you can install dynamic libraries just by passing `-DBUILD_SHARED_LIBS=ON` to the `cmake` call. In CMake, the default for libraries is just `static` so I didn't change it and expose it with the typical control flags.

https://openpmd-api.readthedocs.io/en/0.8.0-alpha/dev/buildoptions.html#shared-or-static

Please note that you can either build a shared or a static lib at a time.

I will

[2019-03-10 09:09] ax3l commented on #502
Thanks for the feedback!

So far we have the [linking to your project](https://github.com/openPMD/openPMD-api#linking-to-your-project) section in the `README.md` which recommends using CMake downstream.

If you want to link manually, you probably have to add a few defines such as `-DopenPMD_USE_MPI=ON` in case you added support for it at runtime. (We can add an old-style `pkg-config`/`.pc` file fo

[2019-03-10 09:14] ax3l commented on #501
~~Is your spack install up-to-date?~~

~~We recently increased the requirement and the latest `openpmd-api/package.py` in spack will request the proper version:
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/openpmd-api/package.py#L33~~

~~As a work-around, try:~~
[code]

Yes, we do ship it for convenience if one is building manually from source. In package managers,

[2019-03-10 09:22] ax3l commented on #501
Oh no, it's a bug in `MPark.Variant`'s last release: https://github.com/mpark/variant/issues/60

As you saw correctly, you have 1.4.0 properly installed (externally), yet it tells CMake it's `1.3.0` because the version was not bumped.

[2019-03-10 09:26] ax3l commented on #501
I can fix the spack install "from here" via #504.

Sorry for the bummer, have to automate the continuous test of all install methods later this year.

[2019-03-10 14:27] RemiLehe commented on #503
Great that there is the option `-DBUILD_SHARED_LIBS=ON`!
Sorry that I missed it!

[2019-03-10 14:27] #503 closed, assigned to ax3l

[2019-03-10 15:11] #501 closed, assigned to ax3l

[2019-03-10 15:14] ax3l opened #505 "Default: Shared Lib"
Let's change the CMake default to build a shared lib. That's more unix-ish and works by default with `cling`.

Follow-up to #503

Way to do:
https://github.com/ornladios/ADIOS2/blob/v2.3.1/CMakeLists.txt#L96-L106

[2019-03-10 15:16] ax3l commented on #503
No problem, I will probably change the default to shared in the future as well (so one has to explicitly request static libs with `-DBUILD_SHARED_LIBS=OFF`).
Noted in #505

[2019-03-10 15:23] RemiLehe commented on #502
Thanks for the quick answer!

Recommending CMake definitely makes sense ; however, for my particular use case, this is not an option.

You were right: I had built the openPMD library statically (using CMake here). So, in the end, the following command did the trick:
[code]

[2019-03-10 15:34] ax3l commented on #502
Yes, that makes sense.

Manual linking is not really comfortable, since I/O dependency stacks are long and deep.

We can reduce that burden a little for manual linking by also installing a `.pc` file. With its help, manual building would look something like:

[code]

as long as the environment variable `PKG_CONFIG_PATH` is properly expanded and you have the `pkg-config` tool on the system (most un

[2019-03-10 15:42] ax3l commented on #503
I also updated the conda-forge recipe, so that it will install shared libraries by default as well: https://github.com/conda-forge/openpmd-api-feedstock/pull/25

In case the PR works, this will take some hours to land.

[2019-03-10 17:21] RemiLehe commented on #501
Thanks a lot for fixing this!
I confirm that `spack install openpmd-api` is now working.

[2019-03-10 17:46] ax3l commented on #501
Hurray!

[2019-03-10 17:53] #505 closed, assigned to ax3l

[2019-03-10 17:57] ax3l commented on #501
P.S.: if you run now:
[code]

it will give you by default a shared library and has proper RPaths, sets your environment vars, etc. ... Building your own downstream project manually is then as easy as:
[code]

[2019-03-11 20:12] RemiLehe opened #509 "How to handle fortran-ordered arrays?"
Is there a recommended way to pass a fortran-ordered 2d/3d array to `storeChunk`?

~~Should I simply swap the order of `chunk_offset` and `chunk_extent`?~~ Actually, this is unlikely to produce the correct result...

Thanks!

[2019-03-11 22:50] ax3l commented on #509
Hi Rémi,

are you referring to the C++ API or the Python/Numpy API? Do you use some container around your memory that makes it look like Fortran-order (just index/access wise)?

Both the C and the Python API accept contiguous memory. What counts is the flat layout when you pass it to the API. We do not concat or reorder that flat layout.

That said, if I would have the time to expose the C++ api v

[2019-03-11 23:57] RemiLehe commented on #509
This is for the WarpX project, so I am using the C++ API (no need to expose a Fortran API/binding for this project, btw).

We can use containers that make it look either Fortran-order or C-order, but fundamentally, in memory, a 3d array is stored in Fortran-contiguous order, in WarpX (i.e. its elements are contiguous in RAM along the 1st dimension - i.e. the `x` direction).

So my understanding is

[2019-03-15 12:56] ax3l commented on #509
That would be computationally expensive, you would just switch the index interpretation and that's all :) In case you have an abstract object in C++ that looks like Fortran arrays, that's exactly what such an object is doing as well.

Thanks, excellent!

[2019-03-29 22:00] RemiLehe opened #510 "Extensible datasets / Flexible Extent until Close"
Does the openPMD-api support extensible datasets?
(e.g. dataset that can be resized with [H5Dset_extent](https://support.hdfgroup.org/HDF5/doc/RM/RM_H5D.html#Dataset-SetExtent))

A typical example would be in order to write the properties of all the particles that cross a given plane, thoughout a simulation:
in this case we do not know the number of particles that we need to write in advance, but

[2019-03-30 09:07] ax3l commented on #510
Not yet, but it can be enabled for some backends such HDF5 and ADIOS1/2.

Nevertheless, please be  aware that extensible datasets are horrible in performance in HDF5. We have done benchmarks with libSplash in the past (of course, we forgot to post the numbers, argh) and I would not use them for anything serious: https://github.com/ComputationalRadiationPhysics/libSplash/issues/133 https://github.c

[2019-04-02 04:32] RemiLehe commented on #510
Thanks a lot for the above comments and advice! This makes a lot of sense!

I agree that resizable datasets should be avoided whenever possible. However, there are cases in which they seem (to me) to be hard to avoid.

Imagine for example the following case: a user of a given PIC code wants a plugin that records all the electrons that go through the rear-plane of a solid foil, in a 3D TNSA simulat

[2019-04-03 11:06] ax3l commented on #510
Maybe I expressed this a bit mixed above and edited the initial post to heavily. One should avoid `H5F_UNLIMITED` (HDF5 resizable datasets) just for performance and implementation complexity reasons, but for HDF5 that is the only way to do this.

Not necessarily, the amount of RAM used for buffering can be controlled and will start writing when its full, so one can avoid running out of memory. So

[2019-04-04 18:10] RemiLehe commented on #510
OK, thanks!
If you do implement a feature for flexible record extent in openPMD-api, I would definitely use it :)
Should I close this issue?

[2019-04-07 11:11] ax3l commented on #510
Here as well :)
Keep it open, so we can assign and update it when implementation work starts.

[2019-04-08 15:48] franzpoeschel commented on #489
After following things around in the debugger, I can confirm that the code you are pointing to is the origin of this behavior.
First problem: `auxiliary::allocatePtr` will only allocate memory, but not *initialize* it, so we read uninitialized memory in the backends while performing the bogus writes. An easy fix would be to make `auxiliary::allocatePtr` actually *initialize* the memory. Apart from

[2019-05-16 10:17] #489 closed, assigned to anokfireball, franzpoeschel

[2019-05-23 16:55] franzpoeschel opened #514 "Writing datasets with zero extent in at least one dimension"
**Problem**: For implementing the openPMD plugin in PIConGPU, it would be very helpful to be able to write datasets that have an extent of zero in at least one dimension, since this is currently also done by the raw ADIOS plugin. This can e.g. be seen in the [WarmCopper](https://github.com/ComputationalRadiationPhysics/picongpu/tree/master/share/picongpu/examples/WarmCopper) example whose output b

[2019-05-23 17:11] ax3l commented on #514
I am not sure how portable across backends an empty dataset would be.
Maybe for PIConGPU, either skip truly empty particles or abuse constant record components.

[2019-05-28 09:48] ax3l opened #516 "makeEmpty: Overload / Support Zero-Extends"
In some cases, as described in #514, it makes sense to explicitly write a zero-extend record component. We can already express this with constant record components but must allow this in the API properly.

Additionally, we can already add a new API `make_empty` instead of the "value-expecting" `make_constant` and automatically zero-initialize the `value` attribute of a constant record component.

[2019-06-07 09:03] franzpoeschel opened #520 "ADIOS1 deferred file creation"
**Describe the bug**
The ADIOS1 backend [defers the creation of new files](https://github.com/openPMD/openPMD-api/blob/dev/src/IO/ADIOS/CommonADIOS1IOHandler.cpp#L376) to [the point where actual data is written](https://github.com/openPMD/openPMD-api/blob/dev/src/IO/ADIOS/CommonADIOS1IOHandler.cpp#L759).
It is possible to create workflows where between file creation and writing the first dataset,

[2019-06-13 13:34] franzpoeschel opened #524 "HDF5 backend – reopening file that is already open"
**Describe the bug**
Similar to #520. It is possible in the openPMD API to create workflows where an `OPEN_FILE` IO task is issued for a file that is already open. HDF5 refuses to reopen files that are already opened:

(see [here](https://github.com/h5py/h5py/issues/757#issuecomment-356206021_))

**To Reproduce**
The same code as in #520 can be used to reproduce the issue, simply switch `"3_write_

[2019-06-13 15:29] ax3l commented on #524
Is there a read-only mode? Maybe it's open for RW?

[2019-06-13 16:31] franzpoeschel commented on #524
There is, but it does not solve the issue. I tried replacing [lines 364-368 of HDF5IOHandler.cpp](https://github.com/openPMD/openPMD-api/blob/5b9eef397d66d652427df6704995c1b3d9e7a834/src/IO/HDF5/HDF5IOHandler.cpp#L364) with the following code
[code]
i.e., open the file in read-only mode if opening in read-write fails.
For some reason the minimal example that I gave in the initial bug description d

[2019-06-17 13:29] franzpoeschel commented on #150
To get back on this, a further option could be using JSON. We already ship with [Niels Lohmann's JSON library](https://github.com/nlohmann/json). This would allow to flexibly express backend-specific configuration options while at the same time not requiring to implement backend-specific classes like the solution with `AbstractSeriesParam`.

As an example, choosing the ADIOS2 engine with a JSON co

[2019-06-18 18:18] CFGrote commented on #203
yep, i need this for wavefront data. any progress here?

[2019-06-18 21:42] ax3l commented on #203
We haven't started working on this yet. I defend in a week from now, little time to look into this right now but maybe you can store it interleaved like we do it for the thetaMode geometry?

Of course, thoughts and PRs are welcome as well :)

[2019-06-19 05:17] CFGrote commented on #203
ok, interleaving should work. good luck for next week!

[2019-06-30 13:03] #514 closed, assigned to nobody

[2019-07-01 13:02] ax3l commented on #203
For the interested reader of this issue that would like to work on this:
the first step is to define new data types in [`include/openPMD/Datatype.hpp`](https://github.com/openPMD/openPMD-api/blob/dev/include/openPMD/Datatype.hpp)

Then, e.g. starting with HDF5, one defines new types in the backends such as [`src/IO/HDF5/HDF5IOHandler.cpp`](https://github.com/openPMD/openPMD-api/blob/dev/src/IO/HDF

[2019-07-22 09:58] franzpoeschel opened #534 "Design limitations in the frontend resulting in unexpected behaviours (segfaults, premature destructor calls)"
After following around a segmentation fault when using the openPMD API, I came to the conclusion that there is a relatively deeply-nested issue with the design of the frontend's classes.
Most of those classes have been designed as handles to some underlying data so that users can take a lightweight copy (instead of a reference or pointer) and still interact with the same shared data.
Key to this i

[2019-07-23 16:56] ax3l commented on #534
Thanks for the assessment and I agree with the design issues.

To add on your analysis, I think the use of (user-facing) handles is fine and the underlying issues reside in the business logic (internally linked handles/parents that you mention) at the following points.

First of all, the logic of openPMD logic (defaults, etc.) is not separated from data "container" objects. This is problematic as

[2019-07-24 15:04] franzpoeschel commented on #485
I have noticed a similar potential for optimization while working on [streaming mode](https://github.com/franzpoeschel/openPMD-api/tree/topic-streaming). This issue is very relevant in this scenario, since in streaming mode the Series (or at least parts of it) need to be re-read after a new packet has arrived.
Often enough, this incurs a much more massive performance penalty than moving the actual

[2019-07-25 14:52] hightower8083 opened #539 "building with warpx (spack, HPC with `module`s)"
Hi all (and in particular @ax3l )

I've been having some painful experience building `warpx` with openpmd support on our cluster at WIS. Here is what i'm doing:

- clone, bootstrap and source spack
- load a recent gcc compiler `module load gcc/8.3.0`
- find/add this gcc@8.3.0 to spack and add lib paths to `.spack/linux/compilers.yaml` (that appeared to be necessary):
[code]
- install openPMD-api v

[2019-07-25 15:01] ax3l commented on #539
Hi,

I am releasing a new openPMD-api version today that specifically is tailored to make warpx usage easier. Will update warpx as well. Stay tuned!

[2019-07-25 15:20] hightower8083 commented on #539
cool, will it be available at spack right away?

Anyway i still don't get the reason for this issue -- I have got it build on a few other machines (including macbook), and had no problems at all! Could it be `gcc8.3` related thing or `module load` is failing to get correct linker flags (ones for HDF5)?

I've also tried manual building of `openpmd-api` (following the [instructions](https://ecp-warp

[2019-07-25 15:22] ax3l commented on #539
Long story short: build +shared for now :)

[2019-07-25 16:06] ax3l commented on #539
So, I am at the lab now.

Addressed in https://github.com/spack/spack/pull/12129 with Spack very soon.

yes! actually, the spack default should also be `+shared`. Did you intentionally change that?

Don't disable json, it's fun and no real overhead/dep. to build! :)

should be no problem with shared libs, but I am adding some additional handling for its (quite manual) build system with #532 this r

[2019-07-25 16:32] hightower8083 commented on #539
nope, just followed [the manual](https://ecp-warpx.github.io/doc_versions/dev/building/openpmd.html)..

[2019-07-25 16:46] ax3l commented on #539
Will update that as well then ;)

Ok, just do
[code]

[2019-07-25 18:13] hightower8083 commented on #539
just did -- same error.. 🤔

[2019-07-25 18:20] RemiLehe opened #542 "AppleClang 7.3 reaches maximum recursion depth in pybind11"
**Performed steps**
The following steps

[code]

led to the following output/problem during install

[code]

This is the pybind11 C++14 maximum template recursion depth issue on older systems described in the FAQ: https://pybind11.readthedocs.io/en/stable/faq.html#recursive-template-instantiation-exceeded-maximum-depth-of-256 We probably have to add `-ftemplate-depth=1024` on those systems.

**Sys

[2019-07-25 18:31] hightower8083 commented on #539
that did it, thanx @ax3l ! Will be waiting for more updates ! (e.g. particles dump 🙄)

[2019-07-25 19:45] ax3l commented on #539
Wonderful!
Yes, that might become my job soon ;)

[2019-07-25 20:16] ax3l commented on #539
CMake builds in spack are also fixed now, please update the spack source tree to get those into effect.

Thanks for reporting!

[2019-07-25 20:20] hightower8083 commented on #539
well, it might be not over just yet)) now i'm getting
```./waprx.ex: error while loading shared libraries: libhdf5.so.8: cannot open shared object file: No such file or directory```when i run it

[2019-07-25 20:30] ax3l commented on #542
Hm, seams truly to be a bit of an ancient Clang/LLVM in XCode.

https://www.macworld.co.uk/feature/mac/mac-os-x-macos-version-code-names-3662757/

https://docs.travis-ci.com/user/reference/osx/

I am unsure if I add it to CI but I will add a `-ftemplate-depth=1024` for all combinations of OSX+AppleClang<9

[2019-07-26 02:58] ax3l commented on #539
did you build warpx with spack (which would have an rpath)? Otherwise, `spack load -r openpmd-api` (note the `-r`).

[2019-07-26 03:19] #542 closed, assigned to ax3l

[2019-07-26 08:22] hightower8083 commented on #539
don't know why haven't noticed it yesterday. So after all's installed, if i do
[code]
it does finish the WarpX build with `SUCCESS` (from the source, not spack) but linker gives a warning
[code]
(and i suspect that it means `/usr/lib64/libhdf5.so.8`)

Then when i run it interactively on the access machine, it crashes with
[code]
and if i submit it to our LSF, it returns
[code]
Adding the recursive

[2019-07-26 16:45] ax3l commented on #539
I think `spack load -r openpmd-api` should be sufficient, since you only installed one version (otherwise, install the unused ones).

You seam to build WarpX without the Spack build system, so it's using its very manual build system and picks up random things. Please make sure you load with `-r` so it sees the spack HDF5 then, then *build* again with that (and also run with loaded `-r`).

You migh

[2019-07-27 19:12] hightower8083 commented on #539
well at some point it failed to build even variant without openPMD, so i've freaked out and have replaced all spack and sources =)
so i've :
- started from a fresh `gcc@7.3.0` built with spack using the default `gcc@4.8.5`  -- there seems to be a bunch of things installed system-wide with it (e.g. hdf5)
- added `mpich`, `hdf5^mpich`, and  `openpmd-api -python ^cmake@3.14.0 ^mpich`.
- loaded  `hdf5

[2019-08-01 15:05] ax3l commented on #539
Can you disable the `USE_HDF5=OFF` of WarpX (`make USE_HDF5=OFF ...`)? That might be pulling the other HDF5 in.
Can you confirm?

If so, we can work on harmonizing what they decide to pick up in the Makefiles.

[2019-08-02 19:11] hightower8083 commented on #539
hmm, are you sure about this `USE_HDF5=OFF` flag (e.g. not `USE_HDF5=FALSE`)? I also had impression that hdf5 choice is hard-set in OPENPMD of WarpX.

Anyway,  with `openpmd-api` built with default options (`spack install openpmd-api`), when I do `make -j 1 DIM=2 USE_OPENPMD=TRUE USE_HDF5=OFF`  (or `FALSE`) it does not seem to propagate to compiler flags --  at the end WarpX linker still warns
[co

[2019-08-04 23:38] ax3l commented on #539
Ah yes, it's hard coded and does not understand anything than that.

On which system are you computing? Can you show me what an `ls` in the installed lib directory shows? (Spack package's root location: `spack find -p openpmd-api`).

Are you certain you are using my branch from this PR: https://github.com/ECP-WarpX/WarpX/pull/239 (now in `dev`)?
What's in your environment's `LIBRARY_PATH`? Somethi

[2019-08-05 19:58] RemiLehe opened #545 "Documentation/example on how to use `thetaMode` geometry"
`openPMD-api` has great examples on how to write fields in Cartesian geometry.
Would it possible to add a small example for the `thetaMode` geometry?

[2019-08-06 17:05] hightower8083 commented on #539
it works! thanx for baring this one with me!

[2019-08-06 17:10] #539 closed, assigned to ax3l

[2019-08-06 19:10] ax3l commented on #539
Great to read that, you are welcome! :)

[2019-08-18 00:52] ax3l commented on #534
cc-ing @C0nsultant for ideas/feedback :)

[2019-08-18 01:03] ax3l opened #550 "ADIOS1 Destructors Must Not Throw"
**Describe the bug**
[Destructors may not fail](http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rc-dtor-fail) in clean C++, which otherwise makes object destruction and associated resource occupation unreliable. Also given by [C++ core guidelines](http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rc-dtor-noexcept).

**To Reproduce**
Compile the project with clang-tidy-7 or ne

[2019-08-20 22:31] ax3l commented on #545
As it looks to me, `thetaMode` is already exposed in the geometry parameters.
It might not be functional/implemented yet, since `thetaMode` interferes with the number of elements we store/read. How do you currently represent such record components? As larger-element ND-arrays or do you add an additional dimension for the modes and imaginary parts?

[2019-08-21 02:41] RemiLehe commented on #545
It is stored as an additional dimension, for the real/imaginary part of the modes, as described in the standard:
https://github.com/openPMD/openPMD-standard/blob/latest/STANDARD.md#required-attributes-for-each-mesh-record
Does this answer your question?

[2019-08-22 09:43] hightower8083 opened #555 "spack install with gcc@>=9 fails because of a bug nlohmann/json (fixed for >3.5)"
```spack install openpmd-api %gcc@9.2.0```
 fails at installing `nlohmann/json` with [this](https://github.com/nlohmann/json/issues/1472).

This issue of json with gcc@>=9 was [fixed](https://github.com/nlohmann/json/pull/1492#event-2194072920), but spack's preferred version is 3.5.
When I manually set `nlohmann-json` version to 3.7, installation succeeds.

[2019-08-22 16:17] ax3l commented on #555
Thank you for the detailed report and testing the new GCC compiler!
In your linked PR, this seams to be fixed in nlohmann-json 3.6 and newer. The problem only occurs while building its tests, which also is non-default in spack.

The following fixes address this:
- [x] spack package of `nlohmann-json`: https://github.com/spack/spack/pull/12517 https://github.com/spack/spack/pull/12546
  - add newes

[2019-08-22 16:44] ax3l commented on #545
Oh yes, :laughing: I did read this section and skipped too fast about the detail that explains exactly this.

[2019-08-22 17:20] RemiLehe commented on #545
No worries! If it helps you can of course also have a look at the [thetaMode example datasets](https://github.com/openPMD/openPMD-example-datasets).

[2019-08-22 17:29] hightower8083 commented on #555
yeah, i had a nasty experience of playing with `update-initramfs -d` (`-c`) after kernel-update in ubuntu screwed nvidia's xorg -- decided to make a fresh start with a new system, drivers and compilers 😁

[2019-08-22 18:33] ax3l commented on #555
Excellent choice :D Don't forget to compile with `-mtune=native -march=native` while rebuilding everything for speed ;)
All PRs are merged now. Please update your spack sources to see it in effect and feel free to close the issue if this solves it :)

[2019-08-23 10:55] hightower8083 commented on #555
checked 👌

[2019-08-23 10:55] #555 closed, assigned to ax3l

[2019-08-25 11:45] hightower8083 commented on #555
by the way, @ax3l, in which context you suggest to use the flags exactly? Consider I have `gcc@9.2.0` built by spack (using default ubuntu's `gcc@7.4.0`), should I simply add
[code]
to 9.2.0 part in `.spack/linux/compilers.yaml`?
Will it apply such optimization to everything built with `gcc@9.2.0` even outside spack (like if I do warpx from source) ? Or should I add
[code]
to my `.bashrc`?

[2019-08-26 05:46] ax3l commented on #555
Just joking a little, these flags will cause compiled binaries to be optimally tuned for the current platform it's compiling on. But you won't notice much on regular desktop applications. Adding those to spack's `compilers.yaml` only influences packages build with spack. If you compile outside of spack, use `CFLAGS` and `CXXFLAGS` (careful: `CPPFLAGS` is your pre-compiler, aka text replacements; s

[2019-08-27 09:44] franzpoeschel commented on #534
On the one hand, since openPMD is a hierarchical format, we should retain this logic from the user side, but I think we have seen that building our memory layout off of this is not the best way to go.
There is no clear “ownership” of data since some operations will require walking up and some walking down the tree.

I would suggest splitting the `Series` object into a unique (per Series) internal

[2019-08-27 17:30] ax3l commented on #534
Yes exactly, also I am not sure our (physical) hierarchy will always be a simple DAG tree in openPMD. We might relax that in newer versions of the standard.

Fully agreed, the one-direction linking makes it even harder to keep track. Not speeking of the `map< shared_ptr< string >` things for handles o.0

I think that's a good idea and would allow us furthermore to expose this handle object in two

[2019-08-30 11:14] sbastrakov commented on #550
I do not have an easy way to fix now, but the destructors call `flush_attribute()` containing [this line](https://github.com/openPMD/openPMD-api/blob/304c4cab6b272660cffe6be13a11c8e2787e7d7f/src/IO/ADIOS/CommonADIOS1IOHandler.cpp#L101), not sure if it is the only violator.

Edit: I mean, ofc that call or even the whole bodies of the destructors in question could be put to `try-catch`, if that coun

[2019-08-30 16:55] ax3l commented on #550
Yes, there are several solutions for that. FWIW, the PHDF5 backend destructor solves the same problem gracefully, e.g. by writing to `std::cerr` instead of throwing.

[2019-09-02 08:55] JunCEEE opened #559 "import error on Mac OS 10.12.6 with anaconda3"
Hi,  this is not an urgent problem. Just happened to find the import on Mac OS 10.12.6 with anaconda3 is not successful. The following is the error when I tried import openpmd_api in python after installing it with this command `conda install -c conda-forge openpmd-api`.

[code]

[2019-09-04 01:40] ax3l commented on #559
Thanks for the report! What is `conda list` outputting for you? Looks a bit like the OpenMPI variant was installed... interesting...

As far as I am aware, conda-forge only supports [MacOS 10.13 or newer](https://github.com/conda-forge/mpi4py-feedstock/issues/23#issuecomment-523149549). Is updating your OS an option?

Alternatively, try uninstalling the conda package and install via `pip`? This sh

[2019-09-13 14:36] JunCEEE opened #561 "Allow 2D/nested list in iteration.set_attribute function"
**Is your feature request related to a problem? If so, please describe.**
I tried to add an attribute with a 2D list to an iteration like this:

openPMD version: 0.9.0a
Python:
[code]
but got this error:
[code]

**Describe the solution you'd like**
Maybe support one more type?
`(self: openpmd_api.Attributable, arg0: str, arg1: List[List[]])`

**Additional context**
This problem is related to [this

[2019-09-13 17:39] ax3l commented on #561
Thanks for the report, this sounds useful indeed.
I am afraid not all data formats support nested arrays of arrays on the low-level, e.g. `ADIOS`' `.bp` format only supports fundamental types and arrays of fundamental types in attributes last time I checked. Seams to be still the same in ADIOS2 [[ref]](https://adios2.readthedocs.io/en/latest/api_high/api_high.html#_CPPv4I0EN6adios27fstream15write_

[2019-09-13 23:13] ax3l commented on #153
re-opened since #186 only implements this partly

[2019-09-16 12:16] JunCEEE commented on #561
Thanks. They are very good suggestions. In this case, I would choose to fatten the array. Maybe it's better to put this kind of nested arrays as a dataset?

[2019-09-23 11:59] JunCEEE commented on #559
Just created an entirely new conda environment with conda-forge and strict channel policy. It works now. It just seemed that my previous base environment was just too messy.

I'm still keeping Mac OS 10.12.6, no problems so far. Thanks.

[2019-09-23 19:53] ax3l commented on #561
Great that this works for you! Don't worry, the array is still very short and very much "meta data". As a rule of thumb, everything below a few dozen kByte is a good candidate for an attribute (e.g. from what [HDF5](https://support.hdfgroup.org/HDF5/doc/Advanced/MetadataCache/index.html) does).

[2019-09-23 19:58] ax3l commented on #559
Awesome, thank you for the feedback! If you encounter any install problems again in the future, do not hesitate to open an issue again :)

[2019-09-23 19:58] #559 closed, assigned to nobody

[2019-09-26 13:50] abonatto opened #562 "No configuration file for nlohmann_json 3.7.0"
Dear developers,

I am trying to install openpmd-api using spack,

[code]

However, I am experiencing the the following problem:

[code]

Do you have any suggestion about how to fix it?

Regards.

Alex

**System environment**
 - operating system: Ubuntu 18.04.3 LTS
 - machine: Intel Xeon Silver 4114
 - name and version of Python implementation: 3.7.3

[2019-09-26 16:32] ax3l commented on #562
Thank you for the report!
Is it possible your source of `spack` itself is a bit outdated? Can you just update the spack sources you cloned?

I am currently installing straight form this repo's `dev` instead of fixed versions, which can lead to that behaviour. I'll start tagging release versions on spack soon, just did not do that yet since I changed it quite regularly in the past when we added new

[2019-09-27 15:17] abonatto commented on #562
Indeed, it worked using `dev` instead of `0.12.1`. Thanks.

[2019-09-27 15:17] #562 closed, assigned to ax3l

[2019-09-27 18:27] ax3l commented on #562
Great that this works! :)

[2019-10-04 16:44] ax3l opened #563 "Internally Use optional-lite"
@franzpoeschel would like to use a preview of `std::optional` internally (without crossing the public API).

We could use [optional-lite](https://github.com/martinmoene/optional-lite) this in C++11.

Originally mentioned in
https://github.com/openPMD/openPMD-api/pull/482#discussion_r331526730

[2019-10-04 16:54] #148 closed, assigned to franzpoeschel

[2019-10-04 17:45] ax3l commented on #295
I achieved this yesterday (HEAD at b4a904b6f1d0ce38294ab499066acfdd53fdc00a) with [emscripten (emcc (Emscripten gcc/clang-like replacement) 1.38.47 (commit a8e1ba472d2f5445d50023fa5be924ad2a5cedd5))](https://github.com/emscripten-core/emscripten) and the JSON backend :)

[code]

[code]
or
[code]
creates the `3_write_serial.json` file in [MEMFS](https://emscripten.org/docs/api_reference/Filesystem-

[2019-10-04 18:05] ax3l commented on #150
Regarding HDF5 options and #554 : we can also try to expose [`H5FD_MPIO_INDEPENDENT`](https://support.hdfgroup.org/HDF5/doc/RM/H5P/H5Pset_dxpl_mpio.htm) again as @RemiLehe just mentioned offline. We did this in the past in [libSplash](https://github.com/ComputationalRadiationPhysics/libSplash/blob/v1.7.0/src/include/splash/core/DCParallelDataSet.hpp) but had no success with it, e.g. deadlocks or v

[2019-10-04 18:21] franzpoeschel commented on #150
I have started work on backend-specific configuration options, using [Niels Lohmann's JSON library](https://github.com/nlohmann/json) (which is already in usage for the openPMD API's JSON backend).
I will publish and link this after cleaning things up for a bit.

[2019-10-04 21:36] ax3l commented on #15
cc @ejcjason you also need this, right?

[2019-10-04 21:45] ax3l opened #567 "Log: Pseudo-Backend C/C++ Code"
Related to the logging functionality in #461 and #462, we could add a log-class in each backend. It's task would be to write a (per-rank) log-file that just includes the (pseudo) C/C++ code we call of the underlying I/O backend.

This could potentially be very helpful to debug and communicate with upstream projects.

[2019-10-04 22:23] ax3l commented on #150
Thanks, just ping us on a WIP PR? :)

Another thing I want to add as an option: in case we build with ADIOS1 and ADIOS2 support, it would be great to choose the backend priority at runtime (for e.g. benchmarks) instead of having to re-compile.

[2019-10-05 00:39] ax3l commented on #561
Probably the question is answered with this. If not, please feel free to comment or open a new issue for further questions :)

[2019-10-05 00:39] #561 closed, assigned to nobody

[2019-10-09 21:47] RemiLehe commented on #545
@ax3l Since we are intensifying efforts to integrate `openPMD-api` into WarpX and (in the future) in `openPMD-viewer`, I think that this issue becomes quite key.
Any idea of who could be assigned to this issue, and what the timescale would be?

[2019-10-15 22:57] ax3l opened #571 "h5disp equivalent"
It would be nice to have a command-line and API equivalent tool of [`h5disp`](https://de.mathworks.com/help/matlab/ref/h5disp.html) in Matlab.

Python:
[code]

C++:
[code]

**Additional context**

What Matlab's `h5disp` outputs on an openPMD file:

[code]

[2019-10-17 02:46] ax3l opened #575 "Complete xSDK Policies"
For maximum compatibility and community-niceness, let's check what's still missing to comply fully with the [xSDK policy](https://github.com/xsdk-project/xsdk-community-policies)

- [ ] (M7) potentially consider re-licensing to BSD-like/MIT/ISC license? (weak copyleft ok so far, but might change)
- [x] (M8) Provide a runtime API to return the current version number of the software. #665
- [ ] (M11

[2019-10-22 20:38] ax3l opened #577 "Python 3.8"
According to my local tests, Python 3.8 just works as expected.

Nevertheless, we should update the following for official support:
- [x] Readme & Manual #581
- [x] update version ranges & tags in `setup.py` #581
- [x] `manylinux2010` builds in `Dockerfile` #615
  - [x] waiting for [upstream](https://github.com/pypa/manylinux/commit/885a71320e3bc775eec581a0112388c583224da5)
  - [x] clarify change

[2019-10-23 15:31] ax3l opened #578 "Add T3PIO"
As in

A. Huebl et al., DRBSD-1 - ISC'17 (2017),
DOI:10.1007/978-3-319-67630-2_2, [arXiv:1706.00522](https://arxiv.org/abs/1706.00522)

we should add optional support for [T3PIO](https://github.com/TACC/t3pio) again to automatically tune PHDF5 operations on Lustre.
In the reference above we tuned MPI-I/O hints according to best-practices at the time but T3PIO still gave slightly better performance

[2019-10-24 15:48] JunCEEE commented on #15
I cannot access the link "here", but I guess the suggested solution is to change the attribute of "position" under one particle group into something we want. That's good. But what if we want to add one group, say "observable", in the iteration group (i.e., in the same level of particles)?
- data/
    - 1/
        - observable/
        - particles/
            - Cu

It seems that the above solution

[2019-10-31 22:29] ax3l commented on #545
Update: we are working on this since yesterday and it seams the only changes so far required in openPMD-api, besides adding good examples/docs, could be that
[code]
should allow to omit the spacing in "rz-mode" index (so far we set 1.0 and 0.0 as dummies).

[2019-11-01 01:20] ax3l commented on #15
Links updated with permanently accessible examples. `setAttribute` examples is now also [in the manual](https://openpmd-api.readthedocs.io/en/0.9.0-alpha/usage/firstwrite.html#attributes).

Yes, what you want is to side-channel to the low-level write API to write groups and datasets outside of openPMD. That's also what I meant.

Or are you already good if you can [change](https://github.com/openPM

[2019-11-07 14:38] franzpoeschel opened #586 "ADIOS2 backend broken on post-2.5.0 master"
PR [#1821](https://github.com/ornladios/ADIOS2/pull/1821) breaks the ADIOS2 backend, see [my comment there](https://github.com/ornladios/ADIOS2/issues/1816#issuecomment-551105186) for an explanation.
I will shortly open PR with a temporary fix that reimplements the old prefix search, until I find the time for a more sensible solution (see the described solution in my comment) that makes use of the

[2019-11-08 13:01] KseniaBastrakova opened #589 "Incorrect reading of patches (probably, incorrect datatype)"
**Describe the bug**
Incorrect reading of patches  (probably, incorrect datatype).

An incorrect result is returned while reading patches. Records "numParticles", "numParticlesOffset" have wrong datatypes.
`Patch_Record_Component.load()` returned incorrect values
`([            40235664      140320876527616  1441437753781782131
 15708555500268357122])`
insead of `([321792, 76800, 321792, 76800])`

[2019-11-08 21:38] ax3l commented on #589
Thank you for the report!

Are you sure you are using `openPMD-api` `0.5.0-dev` and not `0.9.0-alpha` or `0.10.0-dev`?
Otherwise can you please update to the latest release?

[2019-11-08 21:43] ax3l commented on #589
I think I spotted an little bug in the usage. You have to call `series.flush()` before you can access the loaded data, otherwise it is still allocated but uninitialized (random).

[code]

(I am working on making this more comfortable in the future via #484, but a logic issue needs to be decluttered first inside some internal routines.)

[2019-11-08 22:40] #586 closed, assigned to franzpoeschel

[2019-11-09 00:29] LDAmorim opened #590 "Question: python parallel examples without `comm`?"
Hi,
I just started to use OpenPMD-api because it seems like a great API.
Tried to run the examples of reading/writing in parallel from the documentation [url](https://github.com/openPMD/openPMD-api/blob/dev/examples/4_read_parallel.py) in a jupyter notebook.
And I am not sure what I am doing wrong (I also didn't find a related issue open, but I might be misunderstanding this) so I decided to ask i

[2019-11-09 00:36] LDAmorim opened #591 "Documentation on unitSI and unitDimension"
Hi,
I am new to OpenPMD and I really appreciate your documentation.
But I found it challenging to understand the meaning of the documentation `units` section under `FirstWrite`:
[code]
Because I didn't relate automatically M to mass, I to current and T to time.

It is probably just due to my ignorance, that I did not associate dimensionality with those labels right away.

But, just in case any one

[2019-11-09 00:51] ax3l commented on #590
Thank you for the excellent question and details!

This looks to me like you are trying to use the MPI-parallel version of openPMD-api, but only the serial version is installed (the constructor only knows the serial number of arguments without `comm`).

If you print
[code]
it will probably show something like
[code]

Since you installed via conda, just [run the following](https://github.com/openPM

[2019-11-09 00:55] ax3l commented on #590
This error just says you try to read iteration 100 but iteration 100 does not exist in the file you are reading (index key 100 does not exist in the `series.iterations` object).

Try to list
[code]
to see what's available inside :)

[2019-11-09 01:49] ax3l commented on #591
Thank you very much for the feedback, I really appreciate it.

I added more documentation on the labels in #592, I would love your thoughts on the pull request. Please feel free to annotate therein :)

[2019-11-11 09:49] KseniaBastrakova commented on #589
Yes, now it works. Thank you for answer.:)

[2019-11-11 17:38] ax3l commented on #589
Great, glad this helped! :)
Feel free to open more issues if anything does not work as expected or if something is undocumented.

[2019-11-11 17:38] #589 closed, assigned to nobody

[2019-11-11 19:50] LDAmorim opened #593 "Installing error messages in MacOS with conda/pip"
I am trying to follow up on the answer to issue #591 and install OpenPMD-api with MPI support through ` conda install -c conda-forge openpmd-api=*=mpi_mpich*`.
But found an error that I don't know how to fix. I then tried the pip installation commands, but still encountered errors.
I will try spack next, but decided to leave this issue here in case I am doing something wrong that you can spot and

[2019-11-11 20:43] LDAmorim commented on #593
I tried to update pip, but it seemed to already be up to date:
[code]

[2019-11-11 21:46] ax3l commented on #593
Dear Dr. Amorim,

please excuse the inconveniences that this installation might have caused, let me explain what happened.

I forgot that conda-forge does not yet ship MPI-enabled binaries for `openPMD-api` with OSX, due to some environment issues: https://github.com/conda-forge/openpmd-api-feedstock/pull/28 Sorry for that. I hope the linked PR will get resolved some time soon, but we have to figu

[2019-11-11 22:25] #591 closed, assigned to ax3l

[2019-11-11 23:55] LDAmorim commented on #593
Dear Dr Hübl,

Thank you very much for your super quick reply! I understood the `conda` problem now.

Following your detailed instructions, I tried to re-do the installation of OpenPMD-api first running `conda install -c conda-forge adios=*=mpi_mpich* adios2=*=mpi_mpich* hdf5=*=mpi_mpich* cmake numpy mpich mpi4py`.

The long error message I get from `openPMD_USE_MPI=ON python3 -m pip install openp

[2019-11-12 01:21] LDAmorim commented on #593
The problem does not appear on the latest development `dev` branch (3467ac6ed6957afc3f766ef6d8548e954c9047e4):
[code]

We still have to set
[code]
(or to the respective path on your machine) on OSX since relative RPATHS via `$ORIGIN` that we usually use on Linux do not work on this version of OSX:
[code]

[2019-11-12 05:28] ax3l commented on #593
The `export DYLD_FALLBACK_LIBRARY_PATH` extension to work-around the `dlopen` issue has now been addressed by #595 :)

[2019-11-12 05:58] ax3l commented on #593
Furthermore, we now have MPI-enabled OSX packages for conda-forge! :)
https://github.com/conda-forge/openpmd-api-feedstock/pull/28

Only limitation: have to figure out a problem with the combination OSX+MPICH+ADIOS1, which is why I had to disable the ADIOS1 backend on OSX for now if we build with MPICH (but OpenMPI works already; also parallel HDF5 works with both MPICH as well as OpenMPI).

[2019-11-12 06:10] ax3l commented on #593
I think we pushed through and have all issues addressed! :)
10 hours from report to triple-fix, amazing teamwork Dr. Amorim! :rocket: :sparkles:

[2019-11-12 06:10] #593 closed, assigned to nobody

[2019-11-13 01:13] ax3l opened #601 "Windows: Pip Fixes"
Currently we are aware of the following install issue with `pip` on Windows:

- [x] pip (`setup.py`): dependent DLL not found on module load, likely due to lack of RPath support in windows (similar to #595) -> must move the `openPMD.dll` to some `%PATH%`-ed location or potentially side-by-side to the `.pyd` module ([search order](https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-lib

[2019-11-13 18:01] petschge opened #603 "Compile problems on Cori"
Hi,

I am trying to compile openPMD on Cori to test performance of HDF5 and Adios2. (Based on boasting claims by Axel that I should throw away my own HDF5 code, because openPMD is easier and Adios2 is faster anyway).

Since spack is not available on this machine I decided to build from source and I checked out openPMD using `git clone https://github.com/openPMD/openPMD-api.git.

The set of module

[2019-11-13 19:23] ax3l commented on #603
Hi,

thanks for opening an issue.
Cori is an "older" Cray cluster that has not yet defaulted to dynamic linking. I documented detailed instructions in [WarpX](https://warpx.readthedocs.io/en/latest/building/cori.html#building-warpx-with-openpmd-support), but long story short, you have to set `export CRAYPE_LINK_TYPE=dynamic` for the Spack modules and the dynamic libs for ADIOS1 MPI-wrapping to bui

[2019-11-13 19:50] #601 closed, assigned to ax3l

[2019-11-13 20:14] petschge commented on #603
Thanks for the quick and helpful answer.

And please excuse the sass, I was grumpy after spending hours and getting nowhere.

`export CRAYPE_LINK_TYPE=dynamic`
`cmake -DopenPMD_USE_ADIOS2=ON -DopenPMD_USE_PYTHON=OFF -DCMAKE_INSTALL_PREFIX=../install/ -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=ON -DCMAKE_INSTALL_RPATH='$ORIGIN' ..`

did indeed build. On to the next steps...

[2019-11-13 20:14] #603 closed, assigned to ax3l

[2019-11-14 01:57] ax3l commented on #603
Sorry for that, should be more prominently in the Cori system docs. You are not the first one bitten by that:
  https://github.com/LLNL/GOTCHA/issues/41
  https://confluence.slac.stanford.edu/display/~heather/Building+CCL+at+NERSC
  https://www.nersc.gov/assets/Uploads/04-PE-Compilations-NewUserTraining-20190621.pdf

Modules you are using are build with Spack which sets `CRAYPE_LINK_TYPE=dynamic`

[2019-11-19 22:18] ax3l opened #616 "flush_and_throw()"
With *deferred` flush type (#484), it is probably be a good idea to control which parts of the API are allowed to `throw`.

If we ever need or want to refactor this, the SYCL/DPC++ `::wait_and_throw()` construct and its user-defined error handlers are a nice design pattern.

The question is what how to properly design this if we simplify our API to allow synchronous access #484.

[2019-11-26 01:37] ax3l commented on #446
Another OpenMPI issue limited file writes to 2GByte (per rank).
Update to [3.0.5+](https://raw.githubusercontent.com/open-mpi/ompi/v3.0.x/NEWS), [3.1.5+](https://raw.githubusercontent.com/open-mpi/ompi/v3.1.x/NEWS). Status in [`4.0.*`](https://raw.githubusercontent.com/open-mpi/ompi/v4.0.x/NEWS) release series unknown. -> `4.0.3+ it seems`

[2019-12-02 19:06] ax3l opened #620 "Relaxed mode: warn and ignore invalid?"
Regarding:
- https://github.com/ComputationalRadiationPhysics/picongpu/issues/3119#issuecomment-560535190
- https://github.com/openPMD/openPMD-standard/issues/115

It might be easier to use the API if we try to skip and verbosely warn when invalid formatting of records are detected, instead of erroring out on the whole series.

Nevertheless, recovery from such situations needs extra logic and plum

[2019-12-09 02:11] ax3l opened #625 "Survey: Frontend Language Support"
Dear @openPMD/general-contributors,

this issue is pinned to keep track of your needs for our reference API in terms of minimum supported language features.

So far we support Python 3.6+ and C++14 or newer. But as compilers and languages progress, we would love to drop old language revisions in newer releases to keep maintenance at a minimum and make use of newer language features in public inter

[2019-12-09 02:13] ax3l commented on #625
## C++ Frontend

As of today, I (only) need support for
- :+1: C++11 and newer (we supported this up to release 0.12.0)
- :tada: C++14 and newer (this is the oldest one we currently support)
- :rocket: C++17 and newer
- :heart: C++20 and newer
- :smile: C++23 or newer

You can update your vote at any time, e.g., if your code-base updated.

Note: [C++ compiler defaults](https://gist.github.com/ax3l

[2019-12-09 02:14] ax3l commented on #625
## Python Frontend

As of today, I (only) need support for
- Python 3.5 and newer (we supported this up to release 0.12.0)
- :+1: Python 3.6 and newer (we support this up to release 0.14; this is the oldest one we currently support)
- :tada: Python 3.7 and newer
- :rocket: Python 3.8 and newer
- :heart: Python 3.9 and newer
- :eyes: Python 3.10 and newer

You can update your vote at any time, e.g.

[2019-12-09 02:15] ax3l commented on #625
## C Frontend

We do not yet provide a C-frontend. If one would spend time developing one, I (only) need support for
- :confused: ANSI C/C90 or older
- :+1: C99 and newer
- :tada: [C11](https://en.wikipedia.org/wiki/C11_(C_standard_revision)) and newer (introduces _standardized_ complex numbers)
- :rocket: C18 and newer
- :heart: C2x and newer

You can update your vote at any time, e.g., if your c

[2019-12-09 02:22] ax3l commented on #625
## Fortran Frontend

Currently, there are at least two implementations of a HDF5-Fortran openPMD library [[ref1]](https://github.com/openPMD/openPMD-projects/#libraries) which we hightly recommend to check out and use.
We have no plans yet to do so, but just to mention the technical possibilities: one could in principle, based on implementing a C-Frontend first, use the former to implement Fortran

[2019-12-09 02:29] ax3l commented on #625
## More Exotic Bindings

It's in principle possible to add bindings for further (modern) languages in case there is a sufficiently large user-base for it. Just tell us what you currently use in production workflows, maybe someone wants to team up with you and build bindings!

I use the following languages in my workflows and I would benefit from adding bindings to
- :+1: Javascript #295
- :tada: J

[2019-12-09 09:28] mccoys commented on #625
I know I should use the front-end already ... Will do when I have time. I envision only c++11 & py3.5+ for now

[2019-12-09 18:10] ax3l commented on #625
Sounds great, feel free to ping us if you need help with anything when adopting to the API (reviews, more examples, etc.). Since Python 3.5's EOL is in Q3 2020 I do not expect any drop of our supported versions soon until it runs into this.
Conda-Forge already transitioned to ship Python 3.6+ only, but that's just one of our many release channels.

[2019-12-09 20:09] PrometheusPi opened #626 "Splash HDF5 files with Zero Particles"
**Describe the bug**
The string matching routine suggested in the documentation via `"data_%T.h5"` fails for mixed output wich filter strings as commonly used in PIConGPU.

**To Reproduce**
Assume you have data of the form `simData_100.h5` and additionally filtered data in the form `simData_filter_100.h5` in the same directory. While the suggested placeholder `%T` should select iterations only, it

[2019-12-10 02:14] ax3l commented on #626
Thanks for the detailed report!
`%T` or `%05T` et al. are only placeholders for the iteration.

If your file reads `simData_filter_100.h5` than your regex should read
`path + "simData_filter_%T.h5"`.

Does that solve it?

[2019-12-10 06:03] PrometheusPi commented on #626
No, the issue is not with reading the series `"simData_filter_%T.h5"` (that works fine) but with reading the `"simData_%T.h5"` series, while the other series (with beta) resides in the same directory.

[2019-12-10 09:11] ax3l commented on #626
Interesting, I do not see an issue with the regex, besides that the `.` should read `\.`:
https://regex101.com/r/jwPEm7/2

Could it be possible we are matching other digit components of our path? Update: urgh, I might accidentally include your whole `path` you pass as prefix in the regex - without escaping it.
I'll have to fix the pattern matching.

As a quick work-around to keep you going, there

[2019-12-10 16:36] PrometheusPi commented on #626
@ax3l Thanks for the hacky workaround - it is not an urgent issue - I just discovered it during a test.

[2019-12-12 01:42] LDAmorim opened #631 "Clang linker error: "missing vtable""
Hi!
Sorry to bother you, but I can't understand the error that I am getting very well.
It might be that this is a duplicate, please feel free to delete this issue if it is, but I couldn't understand if the answer was elsewhere written.

I have a CPP small code that I am running in which I wish to store the results (for example my particles energy) in an OpenPMD file format.

When I compile that co

[2019-12-12 01:43] LDAmorim commented on #631
ps: This is probably just a bug on the code I wrote to use OpenPMD and not on OpenPMD itself!

[2019-12-12 20:06] ax3l commented on #626
Just in order to test this properly: can you please provide me with the full `path` that you used? If it contains private info you don't want to post publicly, feel free to e-mail instead.

[2019-12-12 21:06] PrometheusPi commented on #626
@ax3l You should have received an email.

[2019-12-12 21:45] ax3l commented on #631
Oh wow, C++ is hard.
I think it's a problem on the openPMD-api side and will try to double check the declarations of virtual once more.
What version of XCode are you using? I'll add a newer one to the CI as well.

[2019-12-12 21:53] LDAmorim commented on #631
Thanks for the super quick reply!
Yes, I agree! I am "a bit" lost with C++.
I am trying to see if it is a problem with HDF5 or with other parts that OpenPMD-api might use.
My computer's Xcode version is 11.2.1 (11B500).

[2019-12-12 21:56] ax3l commented on #631
the thing that makes it a bit hard here is that we use runtime polymorphism - which is a bit tricky in C++ and we probably forgot some qualifiers somewhere.
I'll investigate :)

[2019-12-12 22:19] LDAmorim commented on #631
Oh, yes that I do not understand.
But don't worry about this, it is not urgent at all, so we can try to look at it and test later!

[2019-12-12 23:25] ax3l commented on #631
Just a little more details: how exactly do you build this? Are you coupling this into the Geant4 build system?

[2019-12-12 23:28] LDAmorim commented on #631
Yes, and that is probably the problem. I am making my own CMakeList.txt. I will add somethings there to check if that is what is causing the issue.

[2019-12-13 00:39] ax3l commented on #631
Your own CMakeList.txt is good, it's very likely an issue on my side.

Just in case you haven't seen it yet, here are the few lines you need to add in CMake:
https://github.com/openPMD/openPMD-api#cmake

[2019-12-13 01:01] LDAmorim commented on #631
Oh yes, I started writing it from there.
Now, actually, I think that my CMakeList.txt is probably not working well and the source of the issue. Right now (I simplified it to test) it looks like:

[code]

I have openPMD-api installed via spack, but also have the source code. But I get the following error message when I load all the spack modules and run the cmake command:

[code]
This still seems l

[2019-12-13 03:35] ax3l commented on #631
You could add the the keyword `PRIVATE` to
[code]
which is more modern syntax, but I guess that's not the issue.

If you search in `spack location -i openpmd-api` is there a `libopenPD.dylib` file?

[2019-12-13 04:31] ax3l commented on #631
Hm, I tried to reproduce your error message on a cloud instance with near-identical setup and cannot trigger the same errors :(

Probably have to check with you next week.

[2019-12-13 06:46] ax3l commented on #631
Coming back to your original error message in the PR description, I did merge some fixes that might improve the situation (blindly) in #632
You can try them via
[code]

[2019-12-14 01:55] LDAmorim commented on #631
Hi Dr Huebl!
Thank you so much for your help with this.
And sorry for taking so much of your time with this.

I did `spack install openpmd-api@develop -python`, as in my case we were finding lots of issues when compiling with python (in-built version of OD Catalina).

I am probably still doing something wrong with my `CMakeList.txt` file or where I call the OpenPMD functions... Because I still get

[2019-12-14 03:24] ax3l commented on #626
I provided a PR in #633 that should address your issue :)
Update: hm, still working on a reproducer for CI...

[2019-12-14 08:51] ax3l commented on #626
Things that make me wonder in this report:
- is "beta" the filter you mention?
- did you move the files into separate directories and confirmed that it works then?
- did you try the `cd` workaround?

The latter two points are likely not the case since this error is not at all stemming from the iteration parsing but from the HDF5 dataset detection: https://github.com/openPMD/openPMD-api/blob/0.10.0

[2019-12-14 16:10] PrometheusPi commented on #626
@ax3l Thank you for working on a fix.

Regarding your questions:
 - *is "beta" the filter you mention?*
   Yes, `beta` is the name of the filter. Please excuse the confusion.
 - *did you move the files into separate directories and confirmed that it works then?*
    No - I will test this as soon as possible.
 - *did you try the `cd` workaround?*
   Yes - it does not solv the issue - I still get th

[2019-12-15 04:13] ax3l commented on #626
Thanks for the details!

This is fine. We do not support compound HDF5 attributes (yet) and libSplash used some of them for internal information instead of using just array attributes. It's a warning since we cannot read these attributes, but that's about it. You can ignore those, since you are not trying to read those splash reminiscences anyway.

Thank you for the details! Maybe it's related to

[2019-12-15 07:42] ax3l commented on #631
When you load, maybe also add `%clang` so it reads `spack load -r openpmd-api@develop %clang`.

Can you take one step back and compile a minimal example without Geant4?

[code]

`main.cpp` with [this content](https://github.com/openPMD/openPMD-api/blob/dev/examples/3_write_serial.cpp).

[code]

Does this show the same problem?

[2019-12-16 21:43] ax3l commented on #631
If you don't want to pre-build openPMD-api you can just include it on the fly in CMake via:
[code]
-> replace with ->
[code]

So the full `CMakeLists.txt` would read then:
[code]

[2019-12-16 21:50] LDAmorim commented on #631
Thanks! I will try to run with that CMakeLists.txt

[2019-12-17 18:48] KseniaBastrakova opened #636 "Problem with installing new openPMD-api-dev version"
**Describe the bug**
Where I tried to install openPMD-api from pip  installing via ```pip install git+https://github.com/openPMD/openPMD-api.git@dev``` or from source, I got the error:

**To Reproduce**
[code]

**Software Environment**
I use lastest pip 19.1.1,  ADIOS 1.13.1, and latest openPMD-api-dev (d0fa923)